In [81]:
import collector
import pandas as pd
import numpy as np
import cjw_maria

test = collector.Collector('dart')
test._setMaria()
test._setDart()

In [82]:
params = [['account_nm', '당기순이익'],
            ['account_nm', '당기순이익(손실)'],
             ['account_id', 'ifrs-full_ProfitLoss']
            ]


want_list = ['frmtrm_q_amount', 'thstrm_amount']
want_list2 = ['thstrm_amount']

for code in test.code_list[:1]:
#     if code in test.getDoneList('dangi3q_1'):
#         continue
    try:
        fs = test.getDartFs(code, False, 2019, '11014')
        #test.loopDart(code, fs, params, 'dangi3q_1', want_list)
        #fs = test.getDartFs(code, False, 2017, '11014')
        #test.loopDart(code, fs, params, 'dangi3q_2', want_list2)
    except Exception as e:
        print(e.args)
        continue

In [83]:
fs

,rcept_no,reprt_code,bsns_year,corp_code,sj_div,sj_nm,account_id,account_nm,account_detail,thstrm_nm,thstrm_amount,frmtrm_nm,frmtrm_amount,ord,thstrm_add_amount,frmtrm_q_nm,frmtrm_q_amount,frmtrm_add_amount
0,20191114001273,11014,2019,00126380,BS,재무상태표,ifrs-full_CurrentAssets,유동자산,-,제 51 기 3분기말,186042134000000,제 50 기말,174697424000000,1,NaN,NaN,NaN,NaN
1,20191114001273,11014,2019,00126380,BS,재무상태표,ifrs-full_CashAndCashEquivalents,현금및현금성자산,-,제 51 기 3분기말,26604994000000,제 50 기말,30340505000000,2,NaN,NaN,NaN,NaN
2,20191114001273,11014,2019,00126380,BS,재무상태표,dart_ShortTermDepositsNotClassifiedAsCashEquiv...,단기금융상품,-,제 51 기 3분기말,69476971000000,제 50 기말,65893797000000,3,NaN,NaN,NaN,NaN
3,20191114001273,11014,2019,00126380,BS,재무상태표,-표준계정코드 미사용-,단기상각후원가금융자산,-,제 51 기 3분기말,4021901000000,제 50 기말,2703693000000,4,NaN,NaN,NaN,NaN
4,20191114001273,11014,2019,00126380,BS,재무상태표,ifrs-full_CurrentFinancialAssetsAtFairValueThr...,단기당기손익-공정가치금융자산,-,제 51 기 3분기말,1842611000000,제 50 기말,2001948000000,5,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,20191114001273,11014,2019,00126380,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|지배기업 소유주지분,제 51 기 3분기,255403450000000,NaN,NaN,16,NaN,제 50 기 3분기,234476380000000,NaN
188,20191114001273,11014,2019,00126380,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|지배기업 소유주지분|기타자본항목,제 51 기 3분기,-1659305000000,NaN,NaN,16,NaN,제 50 기 3분기,-12453349000000,NaN
189,20191114001273,11014,2019,00126380,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|지배기업 소유주지분|이익잉여금 [member],제 51 기 3분기,251761348000000,NaN,NaN,16,NaN,제 50 기 3분기,241628322000000,NaN
190,20191114001273,11014,2019,00126380,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|지배기업 소유주지분|자본금 [member],제 51 기 3분기,897514000000,NaN,NaN,16,NaN,제 50 기 3분기,897514000000,NaN
191,20191114001273,11014,2019,00126380,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|지배기업 소유주지분|주식발행초과금,제 51 기 3분기,4403893000000,NaN,NaN,16,NaN,제 50 기 3분기,4403893000000,NaN

In [2]:
test = collector.Collector('fnguide')

In [32]:
all_df = []
for code in test.code_list[5:]:
    try:
        print(code)
        df_list = pd.read_html(test.getHtmlFnguide(code, 0))
        df = pd.concat([df_list[0][df_list[0].columns[:5]], df_list[2], df_list[4]])
        df_list = pd.read_html(test.getHtmlFnguide(code, 1))
        df = pd.concat([df, df_list[0][[df_list[0].columns[0]] + list(df_list[0].columns[2:])]]).reset_index(drop=True)
        df = df.fillna(-9999999)
        df = df.replace('안정성비율', np.nan)
        df = df.replace('성장성비율', np.nan)
        df = df.replace('수익성비율', np.nan)
        df = df.replace('활동성비율', np.nan)
        df = df.dropna()
        df = df.drop(60)
        df = df.drop(61)
        df = df.drop(62)
        df = df.drop(63)
        df = df.drop(64)
        df = df.reset_index(drop=True)
        mr.insertData('newfn2017', tuple([code] + list(df['2017/12'])))
        mr.commitDB()
        mr.insertData('newfn2018', tuple([code] + list(df['2018/12'])))
        mr.commitDB()
        mr.insertData('newfn2019', tuple([code] + list(df['2019/12'])))
        mr.commitDB()
    except:
        continue

012330
035420
028260
032830
insert into newfn2017 values ('032830', 319590.0, 302684.0, 16906.0, 1785.0, 1863.0, 16828.0, 4196.0, 12632.0, -9999999, 12632.0, 11661.0, 971.0, 2827138.0, 49440.0, -9999999, -9999999, 27926.0, 691.0, 6894.0, 1460429.0, -9999999, 2977.0, -9999999, 16290.0, -9999999, -9999999, 640213.0, 12625.0, 10658.0, 10043.0, 68124.0, -9999999, 8.0, 5437.0, 62146.0, 453237.0, 2515922.0, -9999999, -9999999, -9999999, -9999999, 154.0, 2394.0, 1668979.0, 95996.0, -9999999, 155954.0, -9999999, 2654.0, 2394.0, 66687.0, 787.0, 48119.0, 471804.0, 311216.0, 293589.0, 17626.0, 16082.0, 12632.0, -9999999, -38353.0, 94757.0, 133110.0, -9999999, 15582.0, 506205.0, 488073.0, -2550.0, -9999999, -9999999, 10.0, -6680.0, 47235.0, 40556.0, '80.4', '11.0', '-0.7', '71.4', '-43.2', '-43.2', '5.3', '3.7', '11.1', '0.5', '4.2', '44.9', '22.9');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('032830', 322409.0, 296576.0, 25833.0, 3641.0, 5817.0, 23657.0, 6320.0, 17337.0, -9999999, 17337.0, 16644.0, 693.0, 2894277.0, 47453.0, 34125.0, -9999999, -9999999, 756.0, 7101.0, 1476390.0, -9999999, 2809.0, -9999999, 13466.0, -9999999, -9999999, 698111.0, 10166.0, 8226.0, 8506.0, 72980.0, -9999999, 10.0, 12.0, 54828.0, 459339.0, 2589222.0, -9999999, -9999999, -9999999, -9999999, 194.0, 2667.0, 1739434.0, 82086.0, -9999999, 194098.0, -9999999, 3024.0, 3354.0, 52939.0, 3638.0, 38022.0, 469766.0, 305055.0, 289021.0, 16034.0, 19561.0, 17337.0, -9999999, -44110.0, 123467.0, 167577.0, -9999999, 18329.0, 195359.0, 173043.0, -3987.0, -9999999, -9999999, 8.0, -6212.0, 40556.0, 34343.0, '81.3', '10.5', '-3.1', '52.8', '42.7', '42.7', '8.0', '5.2', '11.2', '0.6', '5.7', '38.8', '24.1');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('032830', 318040.0, 305514.0, 12526.0, 2118.0, 376.0, 14268.0, 3751.0, 10517.0, -9999999, 10517.0, 9774.0, 743.0, 3127623.0, 61812.0, 40202.0, -9999999, -9999999, 521.0, 5614.0, 1669976.0, -9999999, 2801.0, -9999999, 13791.0, -9999999, -9999999, 687119.0, 7340.0, 9413.0, 7434.0, 64487.0, -9999999, 10.0, 5277.0, 53872.0, 497953.0, 2754459.0, -9999999, -9999999, -9999999, -9999999, 1392.0, 4553.0, 1804930.0, 115285.0, -9999999, 171958.0, -9999999, 3397.0, 2519.0, 78504.0, 1390.0, 39096.0, 531435.0, 373164.0, 356670.0, 16494.0, 86445.0, 10517.0, -9999999, -56652.0, 97047.0, 153698.0, -9999999, -12066.0, 174953.0, 181885.0, -5134.0, -9999999, -9999999, 6.0, 17733.0, 34343.0, 52076.0, '81.4', '11.9', '0.4', '-51.5', '-41.3', '-41.3', '3.9', '3.1', '10.5', '0.4', '3.0', '35.6', '23.0');
(1136, "Column count doesn't match value count at row 1")
005490
055550
insert into newfn2017 values ('055550', 78430.0, 17110.0, 4616.0, -9999999, 3640.0, -12459.0, -4924.0, 86412.0, 48112.0, 38300.0, 1600.0, 1924.0, 37976.0, 8484.0, 29492.0, -9999999, 29492.0, 29188.0, 304.0, 4263070.0, 228579.0, 35791.0, -9999999, 282750.0, -9999999, 32808.0, 1194.0, 421169.0, -9999999, 249907.0, -9999999, 6313.0, -9999999, -9999999, 2755658.0, 39288.0, 30218.0, 42733.0, 4183.0, -9999999, 5923.0, 250.0, 126307.0, 3926034.0, -9999999, -9999999, -9999999, 82606.0, 28048.0, 6828.0, 14509.0, 2498538.0, 789274.0, 277287.0, 71.0, 4290.0, 100.0, 3488.0, 220994.0, 337036.0, 90298.0, 130261.0, -60974.0, -62961.0, 73175.0, -107036.0, 317196.0, 424232.0, -9999999, 103325.0, 235683.0, 125293.0, -7066.0, -9999999, -9999999, -460.0, 6041.0, 56325.0, 62367.0, '110.3', '5.0', '23.2', '5.2', '5.9', '7.7', '6.4', '6.0', '16.0', '2.0', '2.6', '0.7', '9.1');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('055550', 85801.0, 19390.0, 5522.0, -9999999, 1941.0, -12205.0, -8040.0, 92410.0, 47416.0, 44994.0, 1354.0, 1682.0, 44666.0, 12683.0, 31983.0, -9999999, 31983.0, 31567.0, 415.0, 4596005.0, 183742.0, -9999999, 413000.0, -9999999, -9999999, 17273.0, 663.0, -9999999, 383142.0, -9999999, 284781.0, 6713.0, -9999999, -9999999, 3008187.0, 34364.0, 30039.0, 43201.0, 4748.0, -9999999, 4270.0, 451.0, 181431.0, 4229491.0, -9999999, -9999999, -9999999, 85358.0, 18467.0, 5932.0, 9614.0, 2654591.0, 930462.0, 290643.0, 1273.0, 5084.0, 220.0, 4303.0, 223543.0, 366514.0, 89025.0, 144342.0, -126182.0, -136833.0, 73631.0, -55126.0, 316382.0, 371508.0, -9999999, 138065.0, 293793.0, 148581.0, -7147.0, -9999999, -9999999, -306.0, 19431.0, 62367.0, 81798.0, '113.3', '15.0', '17.5', '8.2', '8.2', '7.8', '9.2', '6.3', '18.9', '2.1', '2.7', '0.7', '9.2');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('055550', 97380.0, 21405.0, 7577.0, -9999999, 4409.0, -17867.0, -11095.0, 101809.0, 51347.0, 50463.0, 2012.0, 3360.0, 49115.0, 12691.0, 36424.0, -9999999, 36424.0, 34035.0, 2389.0, 5524196.0, 294330.0, -9999999, 499991.0, -9999999, -9999999, 25861.0, 2432.0, -9999999, 593811.0, -9999999, 455821.0, 14529.0, -9999999, -9999999, 3254015.0, 91612.0, 40833.0, 55587.0, 4886.0, -9999999, 2183.0, 884.0, 187422.0, 5104892.0, -9999999, -9999999, -9999999, 94095.0, 20010.0, 3020.0, 11647.0, 2953420.0, 1102265.0, 608641.0, 1211.0, 5570.0, 4516.0, 5128.0, 295369.0, 419304.0, 109234.0, 164228.0, -5449.0, -11328.0, 83118.0, -226879.0, 471124.0, 698003.0, -9999999, 158788.0, 390547.0, 223451.0, -8308.0, -9999999, -9999999, 294.0, 3994.0, 81798.0, 85792.0, '110.2', '15.7', '12.2', '7.8', '5.2', '20.2', '8.2', '11.3', '16.8', '2.1', '2.7', '0.7', '9.1');
(1136, "Column count doesn't match value count at row 1")
090430
017670
105560
insert into newfn2017 values ('105560', 82466.0, 20500.0, 3709.0, -9999999, 475.0, 455.0, -11166.0, 96439.0, 56287.0, 40153.0, 3450.0, 2219.0, 41384.0, 7950.0, 33435.0, -9999999, 33435.0, 33114.0, 320.0, 4367856.0, 198178.0, 4366.0, -9999999, 301773.0, 16134.0, 29980.0, 3121.0, 481163.0, -9999999, 184920.0, -9999999, 3351.0, -9999999, -9999999, 2901228.0, 53002.0, 42017.0, 29431.0, 8485.0, -9999999, 40.0, 63.0, 110604.0, 4027408.0, -9999999, -9999999, 742.0, 100783.0, 30546.0, 882.0, 18706.0, 2558000.0, 738137.0, 362650.0, 1547.0, 5680.0, 5331.0, 4339.0, 200066.0, 340448.0, 37588.0, 5209.0, -114174.0, -48360.0, -9999999, -87294.0, 386786.0, 474080.0, -9999999, 146887.0, 1447766.0, 1295847.0, -5031.0, -9999999, -9999999, -1332.0, 9901.0, 74148.0, 84049.0, '113.4', '18.9', '139.4', '54.5', '45.1', '16.3', '9.3', '6.7', '10.2', '2.1', '2.7', '0.8', '10.2');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('105560', 89049.0, 22434.0, 5345.0, -9999999, 603.0, -1457.0, -14114.0, 101860.0, 59185.0, 42675.0, 2697.0, 2356.0, 43015.0, 12396.0, 30619.0, -9999999, 30619.0, 30612.0, 8.0, 4795883.0, 202745.0, -9999999, 509878.0, -9999999, -9999999, 19155.0, 1104.0, -9999999, 380036.0, -9999999, 236615.0, 5049.0, -9999999, -9999999, 3192016.0, 60783.0, 42721.0, 27558.0, 21198.0, -9999999, 42.0, 100.0, 96882.0, 4438753.0, -9999999, 779.0, -9999999, 125030.0, 27250.0, 1763.0, 27459.0, 2767704.0, 862835.0, 388141.0, 2622.0, 5259.0, 4925.0, 6986.0, 217998.0, 357130.0, 38073.0, 5094.0, -153174.0, -89576.0, -9999999, -44803.0, 710101.0, 754904.0, -9999999, 117438.0, 1481017.0, 1355912.0, -7667.0, -9999999, -9999999, -680.0, -17621.0, 84049.0, 66428.0, '115.3', '15.2', '6.3', '-7.6', '-7.6', '9.8', '10.0', '8.2', '10.2', '2.1', '2.6', '0.7', '8.8');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('105560', 91968.0, 23550.0, 9048.0, -9999999, 2134.0, -3094.0, -15990.0, 107617.0, 62710.0, 44906.0, 2254.0, 1821.0, 45340.0, 12208.0, 33132.0, -9999999, 33132.0, 33118.0, 14.0, 5185381.0, 208379.0, -9999999, 535491.0, -9999999, -9999999, 30086.0, 1821.0, -9999999, 464361.0, -9999999, 253466.0, 5982.0, -9999999, -9999999, 3396841.0, 67148.0, 50674.0, 27378.0, 28280.0, -9999999, 36.0, 191.0, 115249.0, 4794188.0, -9999999, 802.0, -9999999, 127048.0, 28430.0, 1644.0, 25831.0, 3055928.0, 887544.0, 400138.0, 2540.0, 5279.0, 7778.0, 4324.0, 246902.0, 391193.0, 41786.0, 7728.0, 26817.0, 94007.0, -9999999, -123344.0, 811562.0, 934906.0, -9999999, 22776.0, 997909.0, 967470.0, -7662.0, -9999999, -9999999, 1370.0, -5191.0, 66428.0, 61237.0, '111.2', '6.6', '5.2', '8.2', '8.2', '8.1', '6.4', '10.4', '9.5', '1.9', '2.5', '0.7', '8.9');
(1136, "Column count doesn't match value count at row 1")
051910

034730
000270
033780
096770
051900
000810
insert into newfn2017 values ('000810', 220136.0, 207560.0, 12576.0, 2406.0, 674.0, 14307.0, 3754.0, 10553.0, -9999999, 10553.0, 10527.0, 26.0, 760152.0, 17669.0, 529.0, -9999999, 9048.0, -9999999, 1524.0, 391204.0, -9999999, 1691.0, -9999999, 331.0, -9999999, -9999999, 213525.0, -9999999, 6132.0, 5745.0, 8011.0, -9999999, 265.0, 2.0, 48185.0, 56290.0, 640069.0, -9999999, -9999999, -9999999, -9999999, -9999999, 98.0, 530999.0, -9999999, -9999999, -9999999, -9999999, -9999999, 567.0, 20151.0, 295.0, 12637.0, 75322.0, 120083.0, 119912.0, 171.0, 25948.0, 10553.0, -9999999, -20286.0, 52870.0, 73156.0, -9999999, -2601.0, 14576.0, 14576.0, -2601.0, -9999999, -9999999, -72.0, 2989.0, 7725.0, 10715.0, '84.7', '15.8', '0.0', '17.4', '22.7', '22.7', '5.7', '4.8', '30.2', '1.5', '9.2', '82.9', '20.5');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('000810', 222090.0, 207583.0, 14508.0, 218.0, 162.0, 14563.0, 3856.0, 10707.0, -9999999, 10707.0, 10679.0, 28.0, 793907.0, 21011.0, 107.0, -9999999, 3675.0, -9999999, 946.0, 404636.0, -9999999, 1667.0, -9999999, 322.0, -9999999, -9999999, 226800.0, -9999999, 6239.0, 5036.0, 7058.0, -9999999, 270.0, 10.0, 44674.0, 71455.0, 670251.0, -9999999, -9999999, -9999999, -9999999, -9999999, 386.0, 556145.0, -9999999, -9999999, 4.0, -9999999, -9999999, 570.0, 20051.0, 892.0, 12814.0, 79389.0, 123655.0, 123465.0, 190.0, 21262.0, 10707.0, -9999999, -14527.0, 66243.0, 80771.0, -9999999, -4256.0, 3179.0, 3176.0, -4259.0, -9999999, -9999999, -44.0, 2436.0, 10715.0, 13150.0, '83.9', '15.6', '0.4', '15.4', '1.4', '1.4', '6.5', '4.8', '30.1', '1.4', '8.8', '81.3', '21.2');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('000810', 230334.0, 221708.0, 8626.0, 269.0, 231.0, 8663.0, 2207.0, 6456.0, -9999999, 6456.0, 6430.0, 26.0, 851722.0, 18750.0, 118.0, -9999999, 11311.0, -9999999, 553.0, 436647.0, -9999999, 1752.0, -9999999, 2125.0, -9999999, -9999999, 236548.0, -9999999, 7036.0, 4419.0, 7962.0, -9999999, 253.0, 33.0, 43327.0, 80889.0, 708507.0, -9999999, -9999999, -9999999, -9999999, -9999999, 1188.0, 580448.0, -9999999, -9999999, 300.0, -9999999, -9999999, 664.0, 26739.0, 13.0, 15895.0, 83260.0, 143214.0, 142999.0, 216.0, 9099.0, 6456.0, -9999999, -9875.0, 70487.0, 80361.0, -9999999, -5611.0, 1800.0, 2511.0, -4899.0, -9999999, -9999999, 74.0, -6312.0, 13150.0, 6838.0, '84.0', '16.8', '3.9', '-40.5', '-39.8', '-39.8', '3.7', '2.8', '29.9', '0.8', '4.8', '84.9', '21.6');
(1136, "Column count doesn't match value count at row 1")
011170
068270
034220
009540
002790
018260
003550
207940
010950
086790
insert into newfn2017 values ('086790', 50910.0, 18766.0, 4045.0, 246.0, 6948.0, -5375.0, -7968.0, 67572.0, 40391.0, 27181.0, 2266.0, 1461.0, 27987.0, 6820.0, 21166.0, -9999999, 21166.0, 20368.0, 798.0, 3600893.0, 218507.0, 9002.0, -9999999, 153735.0, 3926.0, 73306.0, 237.0, 469214.0, -9999999, 73921.0, -9999999, 10736.0, -9999999, -9999999, 2389432.0, 8695.0, 26516.0, 8239.0, 9766.0, -9999999, 1505.0, 109.0, 144049.0, 3352614.0, 4505.0, -9999999, -9999999, 83689.0, 73984.0, 718.0, 4362.0, 2321662.0, 552363.0, 40529.0, 256.0, 3841.0, 1447.0, 6783.0, 258477.0, 248279.0, 21237.0, 12878.0, 27342.0, 63689.0, -3569.0, -102530.0, 273194.0, 375724.0, -9999999, 40918.0, 253748.0, 209382.0, -3447.0, -9999999, -9999999, -3995.0, -5487.0, 89204.0, 83718.0, '102.9', '6.6', '68.4', '53.1', '53.1', '3.4', '4.5', '4.4', '6.9', '1.5', '2.1', '0.6', '8.8');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('086790', 56372.0, 20690.0, 3132.0, -574.0, 2335.0, -2601.0, -8364.0, 70990.0, 39469.0, 31522.0, 1117.0, 1141.0, 31497.0, 8746.0, 22752.0, -9999999, 22752.0, 22333.0, 418.0, 3850086.0, 243070.0, -9999999, 208417.0, -9999999, 4446.0, 43428.0, 76.0, -9999999, 367709.0, -9999999, 147827.0, 12249.0, -9999999, -9999999, 2611836.0, 36934.0, 30361.0, 6857.0, 7111.0, -9999999, 1549.0, 122.0, 128095.0, 3579002.0, -9999999, 7542.0, -9999999, 112176.0, 44430.0, 990.0, 2506.0, 2485595.0, 602003.0, 65073.0, 1703.0, 3525.0, 2644.0, 3097.0, 247718.0, 271085.0, 13489.0, 6549.0, -80718.0, -42280.0, -12037.0, -16107.0, 267176.0, 283284.0, -9999999, 38672.0, 329292.0, 285450.0, -5170.0, -9999999, -9999999, 603.0, -31150.0, 83718.0, 52567.0, '105.1', '15.8', '16.0', '9.7', '8.4', '6.9', '9.3', '7.1', '9.7', '1.6', '2.2', '0.6', '8.9');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('086790', 57737.0, 20971.0, 6865.0, 1142.0, 3555.0, -2264.0, -13676.0, 74331.0, 41744.0, 32587.0, 5812.0, 4317.0, 34081.0, 9825.0, 24256.0, -9999999, 24256.0, 23916.0, 340.0, 4215061.0, 237193.0, -9999999, 256700.0, -9999999, 3644.0, 55606.0, 681.0, -9999999, 379801.0, -9999999, 168546.0, 24401.0, -9999999, -9999999, 2831094.0, 42827.0, 36294.0, 6552.0, 12226.0, -9999999, 1688.0, 206.0, 157601.0, 3925214.0, -9999999, 6525.0, -9999999, 109208.0, 49554.0, 275.0, 5211.0, 2727943.0, 643606.0, 64558.0, 3629.0, 5774.0, 2079.0, 5753.0, 301100.0, 289848.0, 22973.0, 15619.0, 31413.0, 72848.0, -7549.0, -66233.0, 300344.0, 366578.0, -9999999, 13556.0, 320441.0, 300422.0, -6463.0, -9999999, -9999999, -94.0, 12528.0, 52567.0, 65096.0, '103.8', '7.5', '3.4', '7.1', '6.8', '9.5', '8.4', '9.8', '8.4', '1.5', '2.0', '0.6', '8.8');
(1136, "Column count doesn't match value count at row 1")
010130
000030
insert into newfn2017 values ('000030', 52207.0, 10705.0, 2129.0, -1094.0, 5046.0, -6660.0, -5456.0, 56875.0, 35308.0, 21567.0, 1679.0, 3751.0, 19495.0, 4194.0, 15301.0, -9999999, 15301.0, 15121.0, 179.0, 3162955.0, 158026.0, 223.0, 26790.0, -9999999, 31158.0, 593.0, 153530.0, 167493.0, 4171.0, -9999999, 2515233.0, -9999999, 24775.0, 5186.0, 3713.0, -9999999, 2801.0, 47.0, 69216.0, 2957306.0, 917.0, 260.0, 1601.0, 31501.0, 678.0, -9999999, 2346951.0, 426544.0, -9999999, 433.0, 4105.0, 227.0, 2326.0, 141764.0, 205649.0, 203659.0, 1990.0, -19790.0, 15301.0, -9999999, 18837.0, 336041.0, 317204.0, -9999999, -611.0, 280916.0, 276368.0, -5159.0, -9999999, -9999999, -5266.0, -6830.0, 75913.0, 69083.0, '107.2', '0.5', '37.0', '19.9', '19.9', '1.8', '6.9', '6.2', '9.1', '1.7', '2.2', '0.5', '7.4');
(1136, "Column count doesn't match value count at row 1")
066570
030200
035250
004020
006400
161390
024110
insert into newfn2017 values ('024110', 52600.0, 4072.0, 834.0, 1136.0, 3081.0, -14700.0, -4854.0, 42169.0, 21885.0, 20283.0, 559.0, 1305.0, 19536.0, 4451.0, 15085.0, -9999999, 15085.0, 15015.0, 71.0, 2740697.0, 129061.0, 5120.0, -9999999, 66765.0, -9999999, 21505.0, 407.0, 151154.0, -9999999, 235289.0, -9999999, 1616.0, -9999999, -9999999, 2029162.0, 15290.0, 18352.0, 2137.0, 1351.0, -9999999, 155.0, -9999999, 63334.0, 2542680.0, -9999999, -9999999, -9999999, 14272.0, 22714.0, 2836.0, 262.0, 1125906.0, 1215403.0, 49246.0, 438.0, 3804.0, 2339.0, 2244.0, 103215.0, 198017.0, 75914.0, 110692.0, 3910.0, -15783.0, 47767.0, -77726.0, 19321.0, 97047.0, -9999999, 44240.0, 48082.0, -9999999, -3841.0, -9999999, -9999999, -693.0, -2194.0, 28638.0, 26445.0, '180.2', '3.8', '32.4', '29.7', '29.5', '6.7', '5.1', '8.3', '12.1', '2.1', '2.9', '0.6', '8.0');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('024110', 56323.0, 4512.0, 7416.0, -729.0, 969.0, -16113.0, -5427.0, 46951.0, 22987.0, 23964.0, 1113.0, 1083.0, 23995.0, 6352.0, 17643.0, -9999999, 17643.0, 17542.0, 100.0, 2895094.0, 148885.0, -9999999, 98303.0, -9999999, -9999999, 13690.0, 397.0, -9999999, 129932.0, -9999999, 259075.0, 2208.0, -9999999, -9999999, 2150857.0, 17306.0, 18833.0, 1907.0, 657.0, -9999999, 114.0, -9999999, 52930.0, 2684153.0, 19308.0, -9999999, -9999999, -9999999, 15315.0, 1181.0, -9999999, 1095563.0, 1380300.0, 60159.0, 269.0, 4733.0, 2162.0, 2466.0, 102697.0, 210942.0, 77587.0, 112208.0, -139477.0, -156454.0, 52486.0, -40544.0, 339111.0, 379654.0, -9999999, 161970.0, 1127281.0, 960344.0, -4968.0, -9999999, -9999999, 811.0, 18268.0, 26445.0, 44713.0, '196.3', '11.9', '18.2', '16.8', '16.8', '5.6', '6.0', '-2.7', '15.4', '2.1', '3.1', '0.6', '8.6');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('024110', 57520.0, 5142.0, 4803.0, 85.0, 1796.0, -16342.0, -6630.0, 46374.0, 24095.0, 22279.0, 1045.0, 922.0, 22402.0, 6260.0, 16143.0, -9999999, 16143.0, 16058.0, 84.0, 3181110.0, 115267.0, -9999999, 110268.0, -9999999, -9999999, 16878.0, 462.0, -9999999, 129874.0, -9999999, 305270.0, 7927.0, -9999999, -9999999, 2399241.0, 23308.0, 20979.0, 3036.0, 576.0, -9999999, 115.0, -9999999, 47910.0, 2953344.0, 15237.0, -9999999, -9999999, -9999999, 17165.0, 829.0, -9999999, 1179911.0, 1547382.0, 75799.0, -9999999, 6168.0, 3004.0, 2120.0, 105728.0, 227766.0, 86266.0, 119791.0, -147967.0, -165350.0, 51844.0, -53482.0, 472284.0, 525766.0, -9999999, 164643.0, 1339907.0, 1170127.0, -5136.0, -9999999, -9999999, 471.0, -1875.0, 44713.0, 42838.0, '203.3', '5.0', '-7.0', '-8.5', '-10.3', '9.9', '11.6', '7.7', '13.2', '2.0', '2.9', '0.5', '7.4');
(1136, "Column count doesn't match value count at row 1")
023530

021240
047810
086280
088350
insert into newfn2017 values ('088350', 260871.0, 251336.0, 9534.0, 1442.0, 1331.0, 9645.0, 2758.0, 6887.0, -9999999, 6887.0, 5849.0, 1038.0, 1259945.0, 12226.0, 102.0, -9999999, 31567.0, 1078.0, 12061.0, 313275.0, -9999999, 315298.0, -9999999, 1462.0, -9999999, -9999999, 254261.0, -9999999, 18188.0, 13210.0, 24887.0, -9999999, 167.0, 1281.0, 44377.0, 216504.0, 1157564.0, -9999999, -9999999, -9999999, -9999999, 144.0, 122.0, 902220.0, 6597.0, -9999999, 3419.0, -9999999, 1789.0, 142.0, 8260.0, 217.0, 14445.0, 220208.0, 102381.0, 93516.0, 8865.0, 33187.0, 6887.0, -9999999, -40662.0, 116648.0, 157410.0, 100.0, 4806.0, 6352.0, 830.0, -716.0, -9999999, -9999999, -24.0, -2693.0, 8515.0, 5822.0, '76.7', '8.1', '14.4', '83.0', '-26.5', '-26.5', '3.7', '2.2', '22.1', '0.6', '6.5', '30.9', '22.6');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('088350', 234305.0, 227804.0, 6502.0, 499.0, 637.0, 6364.0, 1899.0, 4465.0, -9999999, 4465.0, 4153.0, 313.0, 1320845.0, 26309.0, 736.0, -9999999, 55556.0, 309.0, 3463.0, 282149.0, -9999999, 367418.0, -9999999, 1562.0, -9999999, -9999999, 269150.0, -9999999, 18031.0, 12164.0, 25170.0, -9999999, 148.0, 118.0, 43936.0, 214627.0, 1206548.0, -9999999, -9999999, -9999999, -9999999, 169.0, 3053.0, 945721.0, 5389.0, -9999999, 6903.0, -9999999, 1656.0, 154.0, 3804.0, 2910.0, 14334.0, 222455.0, 114297.0, 103069.0, 11228.0, 16429.0, 4465.0, -9999999, -18322.0, 104531.0, 122953.0, 101.0, 14334.0, 16029.0, 147.0, -1548.0, -9999999, -9999999, 124.0, 12565.0, 5822.0, 18387.0, '78.1', '8.7', '-0.2', '-31.8', '-29.0', '-29.0', '2.8', '1.8', '19.2', '0.4', '4.2', '22.5', '23.8');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('088350', 249785.0, 249291.0, 494.0, 618.0, 763.0, 349.0, -238.0, 587.0, -9999999, 587.0, 1004.0, -418.0, 1418501.0, 19704.0, -9999999, -9999999, 71651.0, 510.0, 2470.0, 706281.0, -9999999, -9999999, -9999999, 2308.0, -9999999, -9999999, 288128.0, -9999999, 18550.0, 11626.0, 25535.0, -9999999, 153.0, 1414.0, 48889.0, 221281.0, 1278568.0, -9999999, -9999999, -9999999, -9999999, 418.0, 5658.0, 992681.0, 12068.0, -9999999, 5560.0, -9999999, 1738.0, 165.0, 10662.0, 50.0, 21306.0, 228263.0, 139933.0, 126859.0, 13074.0, 10075.0, 587.0, -9999999, -21729.0, 113084.0, 134909.0, 96.0, 2731.0, 6533.0, 2232.0, -1570.0, -9999999, -9999999, 42.0, -8880.0, 18387.0, 9507.0, '78.7', '9.9', '4.4', '-92.4', '-75.8', '-75.8', '0.2', '0.4', '18.9', '0.0', '0.9', '23.3', '23.1');
(1136, "Column count doesn't match value count at row 1")
018880
001040
036570
035720
004800
139480
078930
032640
000720
097950
009240
029780
insert into newfn2017 values ('029780', 58.0, 1422.0, 495.0, -2863.0, 3083.0, 27926.0, -8.0, 30113.0, 25057.0, 5056.0, 36.0, 70.0, 5022.0, 1155.0, 3867.0, -9999999, 3867.0, 3867.0, -9999999, 230766.0, 10926.0, -9999999, -9999999, -9999999, -9999999, -9999999, 299.0, 5647.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 1777.0, 176539.0, -9999999, 16612.0, 12625.0, -9999999, -9999999, -9999999, 30.0, 599.0, 2077.0, -9999999, -9999999, -9999999, -9999999, 3633.0, 161536.0, -9999999, -9999999, -9999999, -9999999, -9999999, 1099.0, -9999999, 129149.0, 30.0, 69229.0, 69229.0, -9999999, -10176.0, 3867.0, -9999999, 12886.0, 4034.0, -19345.0, -6626.0, -3550.0, -1309.0, 212.0, 1521.0, -9999999, 11999.0, 501716.0, 488073.0, -1644.0, -9999999, -9999999, -9999999, 513.0, 8092.0, 8606.0, '1074.7', '7.2', '17.3', '10.7', '10.7', '5.4', '13.0', '1.7', '5.7');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('029780', 87.0, 1414.0, 687.0, 992.0, -753.0, 22462.0, -1.0, 24889.0, 20103.0, 4786.0, 123.0, 217.0, 4691.0, 1239.0, 3453.0, -9999999, 3453.0, 3453.0, -9999999, 230421.0, 12805.0, -9999999, 37.0, -9999999, -9999999, -9999999, 66.0, -9999999, 5310.0, -9999999, -9999999, -9999999, -9999999, -9999999, 1786.0, 176915.0, -9999999, 17515.0, 10127.0, -9999999, -9999999, -9999999, 34.0, 447.0, 1644.0, -9999999, -9999999, 213.0, -9999999, 3521.0, 162708.0, -9999999, -9999999, -9999999, -9999999, -9999999, 1258.0, -9999999, 138994.0, 34.0, 67713.0, 67713.0, -9999999, -4031.0, 3453.0, -9999999, 14059.0, 3216.0, -14626.0, -330.0, -3701.0, -705.0, 72.0, 778.0, -9999999, 6327.0, 181488.0, 173517.0, -1644.0, -9999999, -9999999, -9999999, 1590.0, 8606.0, 10196.0, '1067.1', '-17.4', '-5.4', '-10.7', '-10.7', '-0.2', '14.3', '1.5', '5.0');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('029780', 80.0, 1601.0, 361.0, 754.0, -498.0, 22233.0, 25.0, 24557.0, 20060.0, 4497.0, 37.0, 80.0, 4453.0, 1012.0, 3441.0, -9999999, 3441.0, 3441.0, -9999999, 220382.0, 6493.0, -9999999, 78.0, -9999999, -9999999, -9999999, 255.0, -9999999, 8345.0, -9999999, -9999999, -9999999, -9999999, -9999999, 1316.0, 183418.0, -9999999, 7389.0, 7315.0, -9999999, -9999999, -9999999, 32.0, 711.0, 1123.0, -9999999, -9999999, 411.0, -9999999, 3495.0, 151418.0, -9999999, -9999999, -9999999, -9999999, -9999999, 1015.0, -9999999, 127195.0, 32.0, 68964.0, 68964.0, -9999999, 11745.0, 3441.0, -9999999, 13694.0, 3273.0, 1624.0, 15486.0, -3741.0, -2777.0, 915.0, 3691.0, -9999999, -14567.0, 167729.0, 180588.0, -1708.0, -9999999, -9999999, -9999999, -5599.0, 10196.0, 4597.0, '1087.4', '-1.3', '-6.0', '-0.3', '-0.3', '-4.4', '13.7', '1.5', '5.0');
(1136, "Column count doesn't match value count at row 1")
036460
005830
insert into newfn2017 values ('005830', 178553.0, 169874.0, 8679.0, 497.0, 283.0, 8893.0, 2201.0, 6692.0, -9999999, 6692.0, 6611.0, 81.0, 483756.0, 8618.0, 383.0, -9999999, 10363.0, 152.0, 4341.0, 210356.0, -9999999, -9999999, -9999999, 2527.0, -9999999, -9999999, 146274.0, -9999999, 3850.0, 2574.0, 13590.0, -9999999, 33.0, -9999999, 36654.0, 44043.0, 435426.0, -9999999, -9999999, -9999999, -9999999, 26.0, 120.0, 367102.0, 86.0, -9999999, 9890.0, -9999999, 228.0, 36.0, 3061.0, 985.0, 7651.0, 46241.0, 48330.0, 46280.0, 2050.0, -3160.0, -9999999, 8893.0, -6042.0, 95020.0, 101062.0, -9999999, 5011.0, 6204.0, 103.0, -1090.0, -9999999, -9999999, -90.0, -4281.0, 7539.0, 3258.0, '82.0', '10.0', '2.5', '19.5', '26.3', '26.3', '4.9', '3.7', '40.0', '1.4', '15.0', '82.9', '19.4');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('005830', 174545.0, 167338.0, 7207.0, 297.0, 151.0, 7353.0, 1975.0, 5378.0, -9999999, 5378.0, 5325.0, 52.0, 509291.0, 13555.0, 209.0, -9999999, 10839.0, 227.0, 1532.0, 214811.0, -9999999, -9999999, -9999999, 2534.0, -9999999, -9999999, 168464.0, -9999999, 4019.0, 1975.0, 13278.0, -9999999, 244.0, -9999999, 35364.0, 42241.0, 456363.0, -9999999, -9999999, -9999999, -9999999, 35.0, 620.0, 387518.0, 29.0, -9999999, 10622.0, -9999999, 317.0, 53.0, 3665.0, 465.0, 7952.0, 45088.0, 52928.0, 50978.0, 1949.0, 2464.0, -9999999, 7353.0, 1445.0, 73330.0, 71885.0, -9999999, -448.0, 1157.0, 90.0, -1516.0, -9999999, -9999999, 24.0, 3486.0, 3258.0, 6744.0, '83.5', '10.4', '0.9', '-17.0', '-19.5', '-19.5', '4.1', '3.1', '37.5', '1.1', '11.0', '83.4', '20.4');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('005830', 186761.0, 181645.0, 5116.0, 383.0, 256.0, 5243.0, 1421.0, 3823.0, -9999999, 3823.0, 3776.0, 46.0, 557778.0, 8308.0, 209.0, -9999999, 14679.0, 126.0, 1914.0, 233066.0, -9999999, 15837.0, -9999999, 2664.0, -9999999, -9999999, 171010.0, -9999999, 4247.0, 1740.0, 13014.0, -9999999, 269.0, 279.0, 37211.0, 53206.0, 496287.0, -9999999, -9999999, -9999999, -9999999, 45.0, 912.0, 411969.0, 39.0, -9999999, 13287.0, -9999999, 302.0, 57.0, 6334.0, -9999999, 9324.0, 54018.0, 61491.0, 59490.0, 2000.0, 21966.0, -9999999, 5243.0, -23290.0, 93434.0, 116725.0, -9999999, -1164.0, 587.0, 425.0, -1326.0, -9999999, -9999999, -6.0, -2495.0, 6744.0, 4249.0, '82.6', '11.0', '5.1', '-29.0', '-29.1', '-29.1', '2.7', '2.0', '36.8', '0.7', '6.8', '86.4', '21.1');
(1136, "Column count doesn't match value count at row 1")
000120
009830
027410
001800
002380
009150
005387
007070
010140
241560
008930
012630
012750
128940
047050
000210
034020
138930
insert into newfn2017 values ('138930', 22806.0, 1597.0, 532.0, -217.0, 606.0, -5815.0, -2190.0, 17320.0, 11377.0, 5943.0, 197.0, 563.0, 5577.0, 1328.0, 4250.0, -9999999, 4250.0, 4031.0, 219.0, 943500.0, 31421.0, -9999999, 14001.0, -9999999, -9999999, 795.0, 1.0, 58220.0, -9999999, 66713.0, -9999999, 630.0, -9999999, -9999999, 732726.0, -9999999, 8556.0, 3128.0, 1864.0, -9999999, 17.0, -9999999, 25427.0, 866940.0, -9999999, -9999999, -9999999, -9999999, 845.0, 313.0, 148.0, 698246.0, 139090.0, -9999999, 317.0, 450.0, 210.0, 339.0, 26982.0, 76560.0, 20683.0, 34321.0, 2239.0, -7149.0, 22452.0, -4273.0, 46828.0, 51101.0, -9999999, -9320.0, 453124.0, 461360.0, -1084.0, -9999999, -9999999, -150.0, 1560.0, 8586.0, 10146.0, '104.9', '3.0', '-16.6', '-19.6', '-20.5', '0.9', '2.7', '3.3', '12.4', '2.5', '2.9', '0.5', '5.8');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('138930', 23435.0, 2039.0, 585.0, 251.0, 275.0, -4240.0, -2201.0, 20146.0, 12647.0, 7498.0, 361.0, 673.0, 7186.0, 1805.0, 5381.0, -9999999, 5381.0, 5021.0, 360.0, 987936.0, 32128.0, -9999999, 34719.0, -9999999, -9999999, 289.0, 14.0, -9999999, 50310.0, -9999999, 67988.0, 4651.0, -9999999, -9999999, 760884.0, -9999999, 8875.0, 2717.0, 1982.0, -9999999, -9999999, -9999999, 23379.0, 903686.0, -9999999, -9999999, -9999999, -9999999, 266.0, 307.0, 298.0, 733801.0, 141767.0, -9999999, 720.0, 427.0, 471.0, 351.0, 25279.0, 84250.0, 23214.0, 36590.0, -11799.0, -19794.0, 23339.0, -8538.0, 56915.0, 65453.0, -9999999, 6364.0, 401192.0, 393869.0, -959.0, -9999999, -9999999, -60.0, 1311.0, 10146.0, 11456.0, '103.7', '8.2', '26.2', '24.6', '24.6', '4.7', '3.8', '5.1', '14.7', '2.5', '3.2', '0.6', '6.8');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('138930', 21868.0, 2464.0, 1195.0, 294.0, 347.0, -2681.0, -2685.0, 20802.0, 12734.0, 8069.0, 494.0, 629.0, 7934.0, 1944.0, 5989.0, -9999999, 5989.0, 5622.0, 367.0, 1045388.0, 41485.0, -9999999, 38392.0, -9999999, -9999999, 341.0, 19.0, -9999999, 52671.0, -9999999, 75348.0, 5511.0, -9999999, -9999999, 789582.0, -9999999, 9776.0, 2664.0, 2242.0, -9999999, -9999999, -9999999, 27358.0, 953576.0, -9999999, -9999999, -9999999, -9999999, 321.0, 104.0, 521.0, 766095.0, 152129.0, -9999999, 845.0, 453.0, 614.0, 1036.0, 31457.0, 91812.0, 25000.0, 37233.0, -20369.0, -26613.0, 21726.0, -8529.0, 122527.0, 131055.0, -9999999, 13395.0, 330152.0, 315512.0, -1245.0, -9999999, -9999999, 67.0, 47.0, 11456.0, 11503.0, '103.1', '0.0', '7.6', '12.0', '12.0', '5.8', '3.8', '4.4', '15.3', '2.2', '2.9', '0.6', '7.1');
(1136, "Column count doesn't match value count at row 1")
001450

insert into newfn2017 values ('001450', 158868.0, 152560.0, 6308.0, 41.0, 131.0, 6219.0, 1575.0, 4644.0, -9999999, 4644.0, 4644.0, -9999999, 404925.0, 10721.0, 625.0, -9999999, 7081.0, 18.0, 2998.0, 198695.0, -9999999, -9999999, -9999999, 7.0, -9999999, -9999999, 95120.0, -9999999, 8304.0, 646.0, 6502.0, -9999999, 9.0, -9999999, 36842.0, 37357.0, 373888.0, -9999999, -9999999, -9999999, -9999999, 78.0, 42.0, 310992.0, -9999999, -9999999, 11168.0, -9999999, 101.0, 268.0, 2756.0, 751.0, 9820.0, 37911.0, 31037.0, 31037.0, -9999999, 17334.0, -9999999, 6219.0, -23776.0, 23238.0, 47014.0, -9999999, 3877.0, 7215.0, 2259.0, -1079.0, -9999999, -9999999, -104.0, -2670.0, 9475.0, 6805.0, '79.5', '7.7', '1.7', '16.0', '13.3', '13.3', '4.0', '2.9', '43.7', '1.2', '15.6', '81.2', '19.0');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('001450', 157466.0, 152131.0, 5335.0, 45.0, 269.0, 5111.0, 1376.0, 3735.0, -9999999, 3735.0, 3735.0, -9999999, 440922.0, 12931.0, 633.0, -9999999, 5362.0, 2.0, 1204.0, 225721.0, -9999999, -9999999, -9999999, 6.0, -9999999, -9999999, 101225.0, -9999999, 8389.0, 714.0, 6494.0, -9999999, 27.0, 1.0, 36245.0, 41968.0, 399608.0, -9999999, -9999999, -9999999, -9999999, 85.0, 566.0, 331346.0, -9999999, -9999999, 11171.0, -9999999, 250.0, 234.0, 3716.0, 310.0, 9852.0, 42079.0, 41314.0, 41314.0, -9999999, 18983.0, -9999999, 5111.0, -21614.0, 24424.0, 46038.0, -9999999, 3757.0, 5087.0, 72.0, -1258.0, -9999999, -9999999, 49.0, 1176.0, 6805.0, 7981.0, '80.2', '9.4', '1.0', '-15.4', '-19.6', '-19.6', '3.4', '2.4', '40.6', '0.9', '10.3', '82.2', '19.6');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('001450', 168459.0, 164506.0, 3953.0, 76.0, 287.0, 3742.0, 1051.0, 2691.0, -9999999, 2691.0, 2691.0, -9999999, 463938.0, 14439.0, 539.0, -9999999, 6613.0, 11.0, 703.0, 193880.0, -9999999, 49669.0, -9999999, 315.0, -9999999, -9999999, 108743.0, -9999999, 9207.0, 973.0, 6777.0, -9999999, 22.0, 371.0, 36913.0, 34761.0, 418834.0, -9999999, -9999999, -9999999, -9999999, 106.0, 1287.0, 353684.0, -9999999, -9999999, 11174.0, -9999999, 311.0, 68.0, 4815.0, 23.0, 12941.0, 34424.0, 45104.0, 45104.0, -9999999, 13636.0, -9999999, 3742.0, -13572.0, 51051.0, 64623.0, -9999999, 492.0, 2228.0, 598.0, -1138.0, -9999999, -9999999, 38.0, 593.0, 7981.0, 8574.0, '82.3', '9.7', '3.8', '-25.9', '-27.9', '-27.9', '2.4', '1.6', '39.8', '0.6', '6.2', '86.9', '20.4');
(1136, "Column count doesn't match value count at row 1")
026960
130960
005940
insert into newfn2017 values ('005940', 5830.0, 5685.0, 1847.0, 118.0, -2394.0, -169.0, 768.0, 11684.0, 7092.0, 4592.0, 99.0, 266.0, 4425.0, 929.0, 3496.0, -9999999, 3496.0, 3501.0, -5.0, 438927.0, 61359.0, 5870.0, -9999999, 217116.0, 5924.0, 9812.0, 59.0, 63118.0, -9999999, -9999999, -9999999, 663.0, -9999999, -9999999, 47955.0, -9999999, -9999999, 3003.0, -9999999, 205.0, 534.0, -9999999, 915.0, 38.0, 22355.0, 390565.0, -9999999, -9999999, -9999999, 126009.0, 14149.0, 79.0, 9104.0, 30806.0, 184937.0, -9999999, 30.0, 46.0, 8.0, 67.0, -9999999, 4425.0, 22066.0, 25718.0, 3133.0, 3905.0, 4858.0, -21733.0, 24993.0, 46726.0, -9999999, 12210.0, 16169208.0, 16155792.0, -1207.0, -9999999, -9999999, -515.0, -1275.0, 7246.0, 5971.0, '155.7', '66.5', '807.6', '216.8', '25.0', '52.1', '48.3', '48.3', '4.8', '0.8', '7.4');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('005940', 6393.0, 6393.0, 231.0, -45.0, -971.0, -292.0, 608.0, 12316.0, 6915.0, 5401.0, 118.0, 472.0, 5048.0, 1433.0, 3615.0, -9999999, 3615.0, 3609.0, 6.0, 534226.0, 72257.0, -9999999, 328025.0, -9999999, 4518.0, 10207.0, 32.0, -9999999, 35242.0, -9999999, -9999999, 753.0, -9999999, -9999999, 59505.0, -9999999, -9999999, 2968.0, -9999999, 174.0, 511.0, -9999999, 144.0, 285.0, 19605.0, 483688.0, -9999999, -9999999, -9999999, 151035.0, 18598.0, 37.0, 57293.0, 40455.0, 194331.0, -9999999, 124.0, 184.0, -9999999, -9999999, -9999999, 5048.0, 24365.0, 30264.0, -21521.0, -22373.0, 6418.0, 9603.0, 36395.0, 26792.0, -9999999, 7293.0, 13981298.0, 13972499.0, -1506.0, -9999999, -9999999, -535.0, 406.0, 5971.0, 6377.0, '147.1', '68.8', '957.1', '231.0', '5.4', '17.6', '3.1', '3.1', '5.8', '0.7', '7.3');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('005940', 6350.0, 5982.0, 1935.0, -41.0, -197.0, -672.0, 515.0, 13873.0, 8119.0, 5754.0, 972.0, 394.0, 6332.0, 1568.0, 4764.0, -9999999, 4764.0, 4755.0, 9.0, 500751.0, 59606.0, -9999999, 291790.0, -9999999, 2813.0, 12305.0, 22.0, -9999999, 41355.0, -9999999, -9999999, 1494.0, -9999999, -9999999, 65215.0, -9999999, -9999999, 1262.0, 422.0, 580.0, 556.0, -9999999, 17.0, 50.0, 23263.0, 446830.0, -9999999, -9999999, -9999999, 124788.0, 12103.0, 43.0, 36116.0, 43383.0, 202226.0, -9999999, 122.0, 285.0, 180.0, 261.0, -9999999, 6332.0, 24037.0, 32347.0, -2343.0, -4321.0, 6812.0, -4555.0, 36259.0, 40813.0, -9999999, 5823.0, 15708126.0, 15700797.0, -1506.0, -9999999, -9999999, -175.0, 3584.0, 6377.0, 9961.0, '150.3', '67.1', '828.7', '252.6', '12.6', '6.5', '31.8', '31.8', '5.0', '0.9', '9.1');
(1136, "Column count doesn't match value count at row 1")
088980
000880
069960
004990
011780
051600
016360
insert into newfn2017 values ('016360', 4370.0, 5088.0, 276.0, -9999999, -476.0, -7.0, 419.0, 9670.0, 6067.0, 3603.0, 17.0, 60.0, 3560.0, 850.0, 2710.0, -9999999, 2710.0, 2716.0, -6.0, 379483.0, 65049.0, 1016.0, -9999999, 165677.0, 95.0, 3306.0, -9999999, 69206.0, -9999999, -9999999, -9999999, 122.0, -9999999, -9999999, 51777.0, -9999999, -9999999, 491.0, -9999999, 902.0, 24.0, -9999999, 19.0, 15.0, 21784.0, 335366.0, -9999999, -9999999, -9999999, 97115.0, 6774.0, -9999999, 1972.0, 56276.0, 152527.0, -9999999, 75.0, 125.0, 701.0, 365.0, 2710.0, -9999999, 11108.0, 18835.0, -7407.0, -12423.0, 4532.0, -11665.0, 44807.0, 56472.0, -9999999, 20891.0, 21388.0, -9999999, -497.0, -9999999, -9999999, -109.0, 1226.0, 10345.0, 11571.0, '92.0', '62.2', '760.2', '861.8', '21.8', '70.2', '55.9', '41.6', '8.0', '0.8', '6.6');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('016360', 4697.0, 5668.0, 13.0, -9999999, 248.0, -9999999, 716.0, 11342.0, 6761.0, 4581.0, 104.0, 71.0, 4614.0, 1273.0, 3341.0, -9999999, 3341.0, 3341.0, -9999999, 383306.0, 52537.0, -9999999, 220262.0, -9999999, -9999999, 3857.0, -9999999, -9999999, 32952.0, -9999999, 683.0, 852.0, -9999999, -9999999, 51789.0, -9999999, -9999999, 445.0, -9999999, 851.0, -9999999, -9999999, 16.0, 33.0, 19030.0, 336685.0, -9999999, 98880.0, -9999999, -9999999, 18350.0, -9999999, 992.0, 58360.0, 141453.0, -9999999, 159.0, 125.0, 194.0, 872.0, 3341.0, -9999999, 13467.0, 18892.0, -17200.0, -19284.0, 4082.0, 27996.0, 49532.0, 21536.0, -9999999, -11967.0, 2992.0, 14066.0, -893.0, -9999999, -9999999, -13.0, 814.0, 11571.0, 12385.0, '88.7', '66.2', '722.2', '916.9', '17.3', '27.2', '23.0', '20.2', '9.4', '0.9', '7.4');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('016360', 5087.0, 5145.0, 688.0, -9999999, 349.0, -9999999, 948.0, 12218.0, 7042.0, 5176.0, 102.0, 50.0, 5227.0, 1309.0, 3918.0, -9999999, 3918.0, 3918.0, -9999999, 447296.0, 44037.0, -9999999, 279926.0, -9999999, -9999999, 5541.0, -9999999, -9999999, 31024.0, -9999999, 999.0, 809.0, -9999999, -9999999, 61876.0, -9999999, -9999999, 867.0, -9999999, 799.0, -9999999, -9999999, 18.0, 226.0, 21174.0, 397803.0, -9999999, 115031.0, -9999999, -9999999, 9727.0, -9999999, 1005.0, 70405.0, 180617.0, -9999999, 214.0, 144.0, 979.0, 41.0, 3918.0, -9999999, 16292.0, 24757.0, -39402.0, -43948.0, 4468.0, 1888.0, 28673.0, 26786.0, -9999999, 38717.0, 40280.0, 313.0, -1250.0, -9999999, -9999999, 2.0, 1127.0, 12385.0, 13512.0, '87.9', '69.7', '803.8', '979.5', '7.7', '13.0', '17.3', '17.3', '7.8', '0.9', '8.2');
(1136, "Column count doesn't match value count at row 1")
005385
006800
insert into newfn2017 values ('006800', 5713.0, 7342.0, 2081.0, -9999999, -1557.0, 29.0, 3511.0, 17119.0, 10842.0, 6278.0, 1116.0, 746.0, 6647.0, 1598.0, 5049.0, -9999999, 5049.0, 5032.0, 18.0, 906266.0, 88262.0, 10759.0, -9999999, 232023.0, 9926.0, 11106.0, 146.0, 88385.0, -9999999, -9999999, -9999999, 6731.0, -9999999, -9999999, 357450.0, -9999999, -9999999, 1986.0, -9999999, 6501.0, 11406.0, -9999999, 4447.0, 18.0, 77121.0, 832421.0, -9999999, -9999999, -9999999, 152954.0, 13202.0, -9999999, 8169.0, 51189.0, 524757.0, -9999999, 6.0, 204.0, 8.0, 228.0, 5049.0, -9999999, 29509.0, 35905.0, -47208.0, -48555.0, 7109.0, -4586.0, 73043.0, 77629.0, -9999999, 40500.0, 41013.0, 253.0, -259.0, -9999999, -9999999, -784.0, -6316.0, 20060.0, 13744.0, '698.3', '37.6', '1127.3', '118.1', '115.1', '19698.6', '1180.6', '544.9', '6.1', '0.7', '7.2');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('006800', 6542.0, 8553.0, -1062.0, -9999999, -1108.0, -107.0, 3453.0, 16270.0, 11147.0, 5123.0, 1543.0, 816.0, 5850.0, 1230.0, 4620.0, -9999999, 4620.0, 4566.0, 54.0, 1180855.0, 117509.0, -9999999, 294804.0, -9999999, 8294.0, 9659.0, 23.0, -9999999, 82031.0, -9999999, -9999999, 10490.0, -9999999, -9999999, 549172.0, -9999999, -9999999, 2322.0, -9999999, 6548.0, 10862.0, -9999999, 6192.0, 33.0, 82918.0, 1097331.0, -9999999, -9999999, -9999999, 154596.0, 17102.0, 12.0, 5691.0, 54655.0, 766126.0, -9999999, 12.0, 229.0, -9999999, 877.0, 4620.0, -9999999, 42426.0, 47502.0, -53015.0, -53470.0, 4715.0, -28419.0, 42050.0, 70469.0, -9999999, 80542.0, 84037.0, 2247.0, -1247.0, -9999999, -9999999, 66.0, 3434.0, 13744.0, 17178.0, '1004.8', '32.6', '1313.8', '104.2', '-5.0', '-18.4', '-9.3', '-22.1', '3.9', '0.4', '5.8');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('006800', 5571.0, 7834.0, 2007.0, -9999999, 284.0, -349.0, 4441.0, 19787.0, 12508.0, 7280.0, 2461.0, 803.0, 8937.0, 2295.0, 6642.0, -9999999, 6642.0, 6590.0, 53.0, 1331498.0, 119063.0, -9999999, 351117.0, -9999999, 6024.0, 9769.0, 95.0, -9999999, 95664.0, -9999999, -9999999, 14889.0, -9999999, -9999999, 647113.0, -9999999, -9999999, 4563.0, -9999999, 6210.0, 21669.0, -9999999, 4449.0, 95.0, 50777.0, 1239562.0, -9999999, -9999999, -9999999, 149684.0, 11521.0, -9999999, 7959.0, 59556.0, 926684.0, -9999999, 344.0, 198.0, -9999999, 34.0, 6642.0, -9999999, 52257.0, 60425.0, -37380.0, -38906.0, 5153.0, -21601.0, 95298.0, 116898.0, -9999999, 59158.0, 61282.0, 585.0, -1539.0, -9999999, -9999999, -61.0, 3744.0, 17178.0, 20923.0, '1086.6', '34.0', '1348.3', '124.0', '21.6', '42.1', '44.3', '40.8', '4.7', '0.5', '7.6');
(1136, "Column count doesn't match value count at row 1")
037620

071050
insert into newfn2017 values ('071050', 5629.0, 6562.0, -5704.0, 8977.0, -419.0, -288.0, -271.0, 14485.0, 7942.0, 6543.0, 296.0, 405.0, 6433.0, 1803.0, 4631.0, -9999999, 4631.0, 5102.0, -471.0, 487430.0, 71387.0, 355.0, -9999999, 223226.0, 2786.0, -9999999, 2532.0, 38814.0, -9999999, 2147.0, -9999999, 4586.0, -9999999, -9999999, 122504.0, -9999999, 3338.0, 1672.0, 89.0, -9999999, 4.0, 4.0, 13987.0, 446058.0, -9999999, -9999999, 31224.0, 89389.0, -9999999, 4924.0, -9999999, 105709.0, 194566.0, -9999999, 38.0, 484.0, 149.0, 1564.0, 18011.0, 41373.0, 15833.0, 17833.0, -49721.0, -47090.0, 5099.0, 410.0, 63119.0, 62709.0, -9999999, 40751.0, 41222.0, -9999999, -471.0, -9999999, -9999999, -50.0, -880.0, 6426.0, 5546.0, '115.9', '23.7', '80.8', '82.4', '82.4', '30.6', '129.1', '96.6', '9.9', '1.4', '4.5', '1.1', '14.1');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('071050', 7043.0, 7731.0, 1336.0, -1235.0, -595.0, -502.0, 455.0, 14231.0, 7805.0, 6427.0, 1169.0, 250.0, 7345.0, 1976.0, 5369.0, -210.0, 5159.0, 5296.0, -136.0, 640037.0, 103697.0, -9999999, 255589.0, -9999999, 2776.0, -9999999, 4135.0, -9999999, 40136.0, -9999999, 8540.0, 10556.0, -9999999, -9999999, 191243.0, -9999999, 3345.0, 1682.0, 1584.0, -9999999, 4.0, 26.0, 16723.0, 591057.0, -9999999, -9999999, -9999999, 123335.0, -9999999, 12213.0, 28989.0, 170630.0, 226327.0, -9999999, 86.0, 596.0, 190.0, 730.0, 27962.0, 48979.0, 27270.0, 35621.0, -34152.0, -37343.0, 7291.0, -18301.0, 50321.0, 68622.0, -9999999, 50271.0, 51209.0, -9999999, -938.0, -9999999, -9999999, 2.0, 1921.0, 5546.0, 7466.0, '112.1', '26.1', '-1.8', '3.8', '3.8', '31.3', '56.1', '61.4', '7.6', '1.3', '-0.5', '0.9', '13.0');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('071050', 8191.0, 8081.0, -8050.0, 10879.0, -488.0, -522.0, 415.0, 18506.0, 9088.0, 9418.0, 1646.0, 447.0, 10616.0, 3025.0, 7591.0, 881.0, 8472.0, 8452.0, 20.0, 607663.0, 74224.0, -9999999, 312814.0, -9999999, 2282.0, -9999999, 8463.0, -9999999, 26134.0, -9999999, 2261.0, 22916.0, -9999999, -9999999, 122205.0, -9999999, 3867.0, 1017.0, 1560.0, -9999999, 2.0, 34.0, 29884.0, 557333.0, -9999999, -9999999, -9999999, 139535.0, -9999999, 9540.0, 39855.0, 65900.0, 256154.0, -9999999, 123.0, 197.0, 535.0, 888.0, 44607.0, 50330.0, 27853.0, 35737.0, -20753.0, -20165.0, 6969.0, -19872.0, 62192.0, 82064.0, -9999999, 34117.0, 35557.0, 385.0, -1055.0, -9999999, -9999999, 17.0, 1066.0, 7466.0, 8532.0, '185.4', '21.1', '46.5', '59.6', '59.6', '-5.1', '-36.1', '-61.4', '8.7', '1.4', '-0.7', '1.4', '18.1');
(1136, "Column count doesn't match value count at row 1")
012450
007310
000150
000100
204320
090435
028670
047040
011070
004370
028050
086900
003490
011210
000670
000240
016170
041960
006260
036490
008770
006360
010060
120110
006280
042670
030000
005300
006650
079550
004170
008560
insert into newfn2017 values ('008560', 3633.0, 3709.0, 612.0, -9999999, 55.0, 129.0, 345.0, 8484.0, 4048.0, 4436.0, 281.0, 53.0, 4664.0, 1111.0, 3552.0, -9999999, 3552.0, 3510.0, 42.0, 234506.0, 17757.0, -9999999, -9999999, 92876.0, 1682.0, 919.0, -9999999, 12517.0, -9999999, -9999999, -9999999, 2097.0, -9999999, -9999999, 85236.0, 50.0, -9999999, 982.0, 11076.0, 350.0, 126.0, -9999999, -9999999, 830.0, 8008.0, 201380.0, 17908.0, -9999999, -9999999, 4471.0, 623.0, -9999999, -9999999, 32319.0, 136765.0, -9999999, -9999999, 21.0, -9999999, 551.0, -9999999, 4664.0, 4195.0, 7845.0, -40743.0, -39728.0, 3221.0, 7361.0, 32655.0, 25452.0, 157.0, 32848.0, 44032.0, 10234.0, -949.0, -9999999, -9999999, -10.0, 3692.0, 6572.0, 10263.0, '263.7', '45.7', '607.9', '349.2', '31.2', '35.7', '38.3', '9.5', '8.4', '1.7', '13.8');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('008560', 6418.0, 3684.0, -215.0, -9999999, -9.0, -210.0, 677.0, 10344.0, 5021.0, 5323.0, 849.0, 281.0, 5892.0, 1554.0, 4338.0, -9999999, 4338.0, 4282.0, 56.0, 311618.0, 24060.0, -9999999, 118284.0, -9999999, 77.0, 4026.0, -9999999, -9999999, 8104.0, -9999999, -9999999, 5952.0, -9999999, -9999999, 126534.0, 50.0, -9999999, 940.0, 12118.0, 358.0, 120.0, -9999999, -9999999, 977.0, 10018.0, 276887.0, -9999999, -9999999, -9999999, 34401.0, 6146.0, -9999999, 17872.0, 24243.0, 182528.0, -9999999, -9999999, 159.0, -9999999, 758.0, -9999999, 5892.0, 7398.0, 14730.0, -54059.0, -55499.0, 5072.0, -1394.0, 20698.0, 22297.0, 205.0, 51373.0, 69260.0, 16543.0, -1344.0, -9999999, -9999999, 3.0, -445.0, 10263.0, 9818.0, '522.0', '40.6', '797.2', '371.5', '21.9', '20.0', '22.0', '7.6', '6.1', '1.6', '13.0');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('008560', 7063.0, 4050.0, -887.0, -9999999, 706.0, -88.0, 743.0, 11587.0, 4788.0, 6799.0, 1131.0, 260.0, 7670.0, 2124.0, 5546.0, -9999999, 5546.0, 5490.0, 56.0, 381099.0, 26243.0, -9999999, 177295.0, -9999999, 817.0, 2324.0, -9999999, -9999999, 4211.0, -9999999, -9999999, 15293.0, -9999999, -9999999, 127712.0, 20.0, -9999999, 468.0, 13099.0, 365.0, 95.0, -9999999, -9999999, 1438.0, 11719.0, 340907.0, -9999999, -9999999, -9999999, 43246.0, 520.0, -9999999, 29623.0, 23266.0, 227327.0, -9999999, -9999999, 274.0, -9999999, 1596.0, -9999999, 7670.0, 9656.0, 18313.0, -60265.0, -61252.0, 5815.0, -5710.0, 13644.0, 19702.0, 349.0, 61231.0, 79076.0, 16396.0, -1450.0, -9999999, -9999999, 2.0, 86.0, 9818.0, 9905.0, '548.9', '47.8', '848.2', '447.6', '12.0', '27.7', '28.2', '31.1', '5.7', '1.6', '15.1');
(1136, "Column count doesn't match value count at row 1")
001740
000060
insert into newfn2017 values ('000060', 79335.0, 74199.0, 5136.0, 36.0, 48.0, 5125.0, 1279.0, 3846.0, -9999999, 3846.0, 3838.0, 8.0, 181524.0, 4206.0, 698.0, -9999999, 7199.0, 37.0, 1460.0, 91989.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 48120.0, -9999999, 4384.0, 342.0, 3754.0, -9999999, -9999999, -9999999, 19335.0, -9999999, 163732.0, -9999999, -9999999, -9999999, -9999999, 32.0, -9999999, 154548.0, -9999999, -9999999, 2855.0, -9999999, 0.0, 53.0, 1233.0, 458.0, 4553.0, -9999999, 17793.0, 17732.0, 60.0, 22754.0, -9999999, 5125.0, -20061.0, 19692.0, 39752.0, -9999999, -960.0, 55.0, 105.0, -910.0, -9999999, -9999999, 0.0, 1734.0, 1762.0, 3496.0, '86.7', '9.8', '7.1', '63.4', '62.3', '59.9', '6.5', '4.8', '42.3', '2.2', '22.5', '80.6', '23.3');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('000060', 84182.0, 81054.0, 3127.0, 87.0, 67.0, 3148.0, 801.0, 2347.0, -9999999, 2347.0, 2338.0, 9.0, 204788.0, 3903.0, -9999999, 31817.0, -9999999, 28.0, 231.0, -9999999, 129153.0, -9999999, -9999999, -9999999, -9999999, -9999999, 10157.0, -9999999, 4385.0, 304.0, 3641.0, -9999999, -9999999, -9999999, 21167.0, -9999999, 181956.0, -9999999, -9999999, -9999999, -9999999, 44.0, 395.0, 170299.0, -9999999, -9999999, 3853.0, -9999999, 53.0, 46.0, 2290.0, 267.0, 4708.0, -9999999, 22832.0, 22765.0, 67.0, 13225.0, -9999999, 3148.0, -13621.0, 17297.0, 30918.0, -9999999, 297.0, 1704.0, 162.0, -1245.0, -9999999, -9999999, -0.0, -100.0, 3496.0, 3396.0, '87.4', '11.2', '10.6', '-39.1', '-39.1', '-40.0', '3.7', '2.8', '40.6', '1.2', '11.6', '79.3', '26.8');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('000060', 101180.0, 97652.0, 3528.0, 646.0, 30.0, 4144.0, 1131.0, 3013.0, -9999999, 3013.0, 3004.0, 9.0, 232157.0, 4019.0, -9999999, 41057.0, -9999999, 1.0, 365.0, -9999999, 144574.0, -9999999, -9999999, 7.0, -9999999, -9999999, 8080.0, -9999999, 4441.0, 369.0, 3395.0, -9999999, -9999999, -9999999, 25848.0, -9999999, 207751.0, -9999999, -9999999, -9999999, -9999999, 29.0, 355.0, 188886.0, -9999999, -9999999, 8840.0, -9999999, 54.0, 84.0, 2277.0, 404.0, 6822.0, -9999999, 24405.0, 24324.0, 81.0, 10261.0, -9999999, 4144.0, -13889.0, 62334.0, 76224.0, -9999999, 3781.0, 4983.0, 285.0, -917.0, -9999999, -9999999, -1.0, 153.0, 3396.0, 3548.0, '86.8', '10.5', '13.7', '12.8', '28.5', '26.6', '3.5', '3.0', '43.3', '1.4', '12.8', '80.9', '31.2');
(1136, "Column count doesn't match value count at row 1")
139130
insert into newfn2017 values ('139130', 12913.0, 804.0, 387.0, 310.0, 93.0, -2550.0, -1097.0, 10861.0, 6769.0, 4092.0, 194.0, 183.0, 4103.0, 940.0, 3163.0, -9999999, 3163.0, 3022.0, 141.0, 567338.0, 22548.0, 253.0, -9999999, 5109.0, 546.0, 994.0, 204.0, 44990.0, -9999999, 79512.0, -9999999, 104.0, -9999999, -9999999, 393357.0, 2010.0, 4755.0, 1480.0, 936.0, -9999999, 431.0, -9999999, 10109.0, 525380.0, -9999999, -9999999, -9999999, -9999999, 975.0, 11.0, -9999999, 378397.0, 77510.0, 54023.0, 142.0, 292.0, -9999999, 482.0, 13548.0, 41958.0, 14115.0, 22541.0, -6950.0, -12213.0, 12229.0, -5469.0, 41973.0, 47442.0, -9999999, 5866.0, 16633.0, 10119.0, -648.0, -9999999, -9999999, -174.0, 239.0, 9302.0, 9541.0, '104.0', '4.9', '5.8', '5.1', '5.0', '6.1', '8.2', '6.9', '11.2', '2.4', '3.0', '0.6', '8.0');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('139130', 13794.0, 1302.0, 707.0, -82.0, -135.0, -2950.0, -1133.0, 11504.0, 8170.0, 3334.0, 1811.0, 296.0, 4848.0, 813.0, 4036.0, -9999999, 4036.0, 3811.0, 225.0, 649135.0, 29672.0, -9999999, 56752.0, -9999999, 1897.0, 408.0, 145.0, -9999999, 40326.0, -9999999, 78461.0, 272.0, -9999999, -9999999, 408742.0, 2402.0, 7419.0, 1998.0, 2149.0, -9999999, 676.0, 130.0, 17686.0, 598579.0, -9999999, 5178.0, -9999999, -9999999, 1028.0, 67.0, 5515.0, 387295.0, 117462.0, 57036.0, 351.0, 491.0, 20.0, 47.0, 24090.0, 50557.0, 17846.0, 26431.0, -5619.0, -10167.0, 14153.0, -11079.0, 42860.0, 53940.0, 1.0, 4843.0, 29168.0, 23699.0, -625.0, -9999999, -9999999, 40.0, -2211.0, 9541.0, 7331.0, '105.5', '11.1', '-18.5', '26.1', '26.1', '14.4', '3.9', '2.4', '8.0', '2.4', '3.1', '0.7', '9.3');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('139130', 14110.0, 2714.0, 1144.0, -269.0, 324.0, -3152.0, -1047.0, 13824.0, 9502.0, 4322.0, 397.0, 334.0, 4385.0, 991.0, 3394.0, 235.0, 3629.0, 3274.0, 355.0, 723977.0, 31813.0, -9999999, 71459.0, -9999999, 1979.0, 839.0, 140.0, -9999999, 41813.0, -9999999, 73409.0, 124.0, -9999999, -9999999, 466363.0, 2881.0, 7905.0, 1855.0, 1991.0, -9999999, 503.0, 20.0, 20883.0, 669694.0, -9999999, 7747.0, -9999999, -9999999, 1329.0, 86.0, 16859.0, 427582.0, 126334.0, 58277.0, 269.0, 361.0, 2.0, 274.0, 30573.0, 54283.0, 18836.0, 29381.0, -16818.0, -23733.0, 14145.0, 2447.0, 75724.0, 73277.0, -9999999, 8458.0, 27248.0, 18114.0, -676.0, -9999999, -9999999, -3.0, 1314.0, 7331.0, 8644.0, '109.1', '8.3', '29.6', '-14.1', '-14.1', '11.5', '14.1', '10.4', '8.7', '2.2', '2.9', '0.5', '7.3');
(1136, "Column count doesn't match value count at row 1")
084990

006120
039490
insert into newfn2017 values ('039490', 1832.0, 2353.0, 1614.0, -415.0, -41.0, -38.0, 587.0, 5892.0, 2733.0, 3158.0, 169.0, 97.0, 3231.0, 814.0, 2416.0, -9999999, 2416.0, 2402.0, 14.0, 118566.0, 32864.0, 3091.0, -9999999, 29877.0, 1174.0, -9999999, 311.0, 7522.0, -9999999, 71.0, -9999999, 1244.0, -9999999, -9999999, 32989.0, -9999999, -9999999, 947.0, -9999999, 694.0, 642.0, -9999999, 29.0, 14.0, 7097.0, 103094.0, -9999999, -9999999, -9999999, 7848.0, -9999999, 70.0, 1280.0, 50355.0, 34612.0, -9999999, 13.0, 3.0, 367.0, 464.0, -9999999, 3231.0, 1436.0, 3472.0, -11072.0, -9878.0, 1601.0, -2922.0, 2556.0, 5478.0, -9999999, 11440.0, 318198.0, 306564.0, -194.0, -9999999, -9999999, -59.0, 182.0, 1388.0, 1570.0, '65.5', '35.2', '666.3', '1279.8', '24.4', '36.9', '33.5', '33.5', '26.0', '2.3', '17.4');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('039490', 2425.0, 3228.0, 299.0, -318.0, 20.0, -9999999, 527.0, 6181.0, 3291.0, 2890.0, 114.0, 194.0, 2810.0, 878.0, 1932.0, -9999999, 1932.0, 1932.0, -0.0, 182397.0, 52653.0, -9999999, 67526.0, -9999999, 917.0, -9999999, 516.0, -9999999, 5221.0, -9999999, 73.0, 2843.0, -9999999, -9999999, 43247.0, -9999999, -9999999, 1094.0, -9999999, 641.0, 877.0, -9999999, 35.0, 1.0, 6753.0, 161739.0, -9999999, -9999999, -9999999, 35766.0, -9999999, 404.0, 1407.0, 53033.0, 61948.0, -9999999, 3.0, 40.0, 201.0, 697.0, -9999999, 2810.0, 2521.0, 4460.0, -17911.0, -17040.0, 2039.0, -7200.0, 1158.0, 8358.0, -9999999, 25195.0, 25483.0, -9999999, -287.0, -9999999, -9999999, 1.0, 2996.0, 1570.0, 4566.0, '81.6', '40.4', '783.0', '1508.0', '4.9', '-8.5', '-19.6', '-28.7', '13.5', '1.3', '10.8');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('039490', 3024.0, 3628.0, 698.0, 262.0, 84.0, -9999999, 955.0, 8651.0, 3914.0, 4737.0, 427.0, 241.0, 4922.0, 1302.0, 3620.0, -9999999, 3620.0, 3628.0, -7.0, 233736.0, 52776.0, -9999999, 107044.0, -9999999, 742.0, -9999999, 1105.0, -9999999, 4364.0, -9999999, 81.0, 3599.0, -9999999, -9999999, 53214.0, -9999999, -9999999, 1031.0, 124.0, 598.0, 1597.0, -9999999, 37.0, -9999999, 7424.0, 211152.0, -9999999, -9999999, -9999999, 34776.0, -9999999, 1117.0, 7152.0, 64165.0, 93595.0, -9999999, 2.0, 27.0, 267.0, 483.0, -9999999, 4922.0, 2815.0, 6888.0, -33639.0, -32789.0, 2670.0, -2747.0, 1544.0, 4291.0, -9999999, 30761.0, 34499.0, 3261.0, -478.0, -9999999, -9999999, 18.0, -2087.0, 4566.0, 2479.0, '82.9', '48.0', '935.0', '1690.4', '40.0', '63.9', '87.8', '84.3', '15.5', '1.7', '17.0');
(1136, "Column count doesn't match value count at row 1")
001440
138040
insert into newfn2017 values ('138040', 8956.0, 3916.0, 2568.0, 3178.0, -3342.0, 5567.0, 1962.0, 22805.0, 12767.0, 10037.0, 315.0, 108.0, 10244.0, 2686.0, 7557.0, 0.0, 7557.0, 3701.0, 3856.0, 420528.0, 22420.0, 2226.0, -9999999, 101615.0, 206.0, 979.0, 1460.0, 101310.0, -9999999, -9999999, -9999999, 2280.0, -9999999, -9999999, 132631.0, 16265.0, 5478.0, 7517.0, 3684.0, -9999999, 881.0, 1.0, 21575.0, 372209.0, 638.0, -9999999, 17908.0, 3834.0, 655.0, -9999999, -9999999, 31726.0, 145225.0, 154548.0, 0.0, 78.0, 2775.0, 1051.0, 13770.0, 48319.0, 31991.0, 17649.0, -45458.0, -20872.0, 7008.0, -17792.0, 47809.0, 65758.0, 157.0, 35765.0, 37720.0, 459.0, -1497.0, -9999999, -9999999, -11.0, 4096.0, 10087.0, 14183.0, '418.1', '10.9', '45.8', '46.4', '46.4', '12.0', '9.2', '-0.4', '7.4', '2.5', '4.9', '1.9', '19.4');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('138040', 11375.0, 3859.0, 790.0, -1290.0, 1187.0, 4503.0, 2612.0, 23035.0, 15011.0, 8024.0, 948.0, 262.0, 8711.0, 2310.0, 6401.0, 0.0, 6401.0, 3142.0, 3259.0, 522052.0, 28459.0, -9999999, 144307.0, -9999999, -9999999, 4194.0, 231.0, -9999999, 132658.0, -9999999, -9999999, 4137.0, -9999999, -9999999, 147072.0, 18550.0, 6526.0, 6427.0, 3517.0, -9999999, 1024.0, -9999999, 24950.0, 467506.0, -9999999, 17872.0, -9999999, 34401.0, 6191.0, 395.0, -9999999, 23873.0, 192866.0, 170299.0, 53.0, 209.0, 3729.0, 1067.0, 16550.0, 54546.0, 33317.0, 19143.0, -64088.0, -41203.0, 8244.0, -20586.0, 39036.0, 59827.0, 205.0, 53015.0, 56520.0, 1512.0, -1992.0, -11.0, -9999999, 2.0, -539.0, 14183.0, 13645.0, '616.1', '26.5', '-20.1', '-15.1', '-13.9', '24.1', '10.9', '-24.8', '4.7', '2.7', '3.9', '1.4', '13.9');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('138040', 12763.0, 3882.0, 5796.0, -1377.0, 2225.0, 1676.0, 1915.0, 26881.0, 17257.0, 9623.0, 1607.0, 254.0, 10976.0, 3106.0, 7871.0, -9999999, 7871.0, 3984.0, 3887.0, 617641.0, 31154.0, -9999999, 212978.0, -9999999, -9999999, 2532.0, 365.0, -9999999, 145156.0, -9999999, -9999999, 10723.0, -9999999, -9999999, 147076.0, 22906.0, 4976.0, 5564.0, 4818.0, -9999999, 1481.0, -9999999, 27912.0, 558022.0, -9999999, 29623.0, -9999999, 43246.0, 581.0, 355.0, -9999999, 22931.0, 242141.0, 188886.0, 54.0, 361.0, 3496.0, 2043.0, 24304.0, 59619.0, 40613.0, 29508.0, -79022.0, -56942.0, 10376.0, -16048.0, 73693.0, 89986.0, 245.0, 63190.0, 66425.0, 1455.0, -1780.0, -9999999, -9999999, 1.0, 577.0, 13645.0, 14222.0, '641.4', '17.2', '19.9', '26.8', '27.4', '18.3', '0.0', '-4.0', '4.3', '2.4', '4.5', '1.4', '15.3');
(1136, "Column count doesn't match value count at row 1")
002550
003520
064350
005440
079160
000080
005610
014820
017800
161890
003690
insert into newfn2017 values ('003690', 91168.0, 89411.0, 1756.0, 2.0, 24.0, 1734.0, 404.0, 1330.0, -9999999, 1330.0, 1330.0, -9999999, 100653.0, 4280.0, -9999999, -9999999, 6973.0, -9999999, 277.0, 24448.0, -9999999, 11997.0, -9999999, -9999999, -9999999, -9999999, 6680.0, -9999999, 794.0, 180.0, 1101.0, -9999999, 3.0, -9999999, 43920.0, -9999999, 79023.0, -9999999, -9999999, -9999999, -9999999, 55.0, -9999999, 51578.0, -9999999, -9999999, -9999999, -9999999, 112.0, -9999999, 2810.0, 411.0, 24057.0, -9999999, 21630.0, 21630.0, -9999999, 5596.0, -9999999, 1734.0, -5790.0, 2884.0, 8674.0, -9999999, -475.0, 1.0, 1.0, -476.0, -9999999, -9999999, 26.0, -643.0, 1936.0, 1293.0, '55.4', '21.5', '7.8', '-15.3', '-16.9', '-16.9', '1.9', '1.5', '166.3', '1.4', '6.2', '78.2', '18.5');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('003690', 98925.0, 97489.0, 1436.0, 10.0, 102.0, 1344.0, 315.0, 1029.0, -9999999, 1029.0, 1029.0, -9999999, 107509.0, 4455.0, 3816.0, -9999999, -9999999, 19.0, 35.0, 23743.0, -9999999, 15609.0, -9999999, -9999999, -9999999, -9999999, 9327.0, -9999999, 773.0, 153.0, 1102.0, -9999999, -9999999, 327.0, 48150.0, -9999999, 85132.0, -9999999, -9999999, -9999999, -9999999, 6.0, 144.0, 55785.0, -9999999, -9999999, -9999999, -9999999, 131.0, -9999999, 3165.0, 2.0, 25900.0, -9999999, 22376.0, 22376.0, -9999999, 3091.0, -9999999, 1344.0, -2194.0, 5633.0, 7827.0, -9999999, -445.0, 0.0, 2.0, -444.0, -9999999, -9999999, 12.0, 463.0, 1293.0, 1756.0, '54.1', '20.8', '4.9', '-18.3', '-22.6', '-22.6', '1.5', '1.0', '168.8', '1.0', '4.7', '83.7', '17.1');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('003690', 106699.0, 104201.0, 2498.0, 7.0, 35.0, 2470.0, 583.0, 1887.0, -9999999, 1887.0, 1887.0, -9999999, 117331.0, 5847.0, 3090.0, -9999999, -9999999, -9999999, 72.0, 41240.0, -9999999, -9999999, -9999999, 59.0, -9999999, -9999999, 10143.0, -9999999, 950.0, 156.0, 919.0, -9999999, 2.0, 121.0, 54733.0, -9999999, 92771.0, -9999999, -9999999, -9999999, -9999999, 5.0, 45.0, 59746.0, -9999999, -9999999, -9999999, -9999999, 171.0, 1.0, 3792.0, 7.0, 29003.0, -9999999, 24560.0, 24560.0, -9999999, 3097.0, -9999999, 2470.0, -590.0, 9175.0, 9765.0, -9999999, -618.0, 2299.0, 2495.0, -422.0, -9999999, -9999999, -43.0, 1845.0, 1756.0, 3601.0, '52.3', '20.9', '6.5', '74.0', '83.3', '83.3', '2.3', '1.8', '175.1', '1.7', '8.0', '86.2', '14.4');
(1136, "Column count doesn't match value count at row 1")
051915
010780
082640
insert into newfn2017 values ('082640', 71004.0, 68655.0, 2350.0, 209.0, 147.0, 2411.0, 567.0, 1844.0, -9999999, 1844.0, 302737.0, 13765.0, 257.0, -9999999, 18150.0, 21.0, 3344.0, 86077.0, -9999999, 96419.0, -9999999, 350.0, -9999999, -9999999, 41226.0, -9999999, 760.0, 121.0, 2884.0, -9999999, -9999999, 240.0, 10437.0, 28687.0, 278895.0, -9999999, -9999999, -9999999, -9999999, 67.0, -9999999, 244813.0, 232.0, -9999999, -9999999, -9999999, 45.0, 261.0, 178.0, -9999999, 2631.0, 30669.0, 23842.0, 8068.0, -9999999, 4637.0, -608.0, 2828.0, 8917.0, 29278.0, 22168.0, 7110.0, -34696.0, 65987.0, 100683.0, -9999999, 5056.0, 5272.0, 12.0, -204.0, -9999999, -9999999, -9999999, -362.0, 1878.0, 1516.0, '86.7', '7.9', '-15.8', '흑전', '3289.1', '2352.0', '3.3', '2.6', '17.3', '0.7', '8.8', '55.0', '14.4');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('082640', 57676.0, 57080.0, 595.0, 100.0, 59.0, 636.0, 166.0, 470.0, -9999999, 470.0, 318560.0, 14347.0, 302.0, -9999999, 11402.0, 7.0, 950.0, 85081.0, -9999999, 113211.0, -9999999, 350.0, -9999999, -9999999, 49093.0, -9999999, 767.0, 101.0, 2820.0, -9999999, 255.0, 729.0, 10531.0, 28613.0, 296258.0, -9999999, -9999999, -9999999, -9999999, 81.0, 72.0, 260820.0, 113.0, -9999999, 1000.0, -9999999, 62.0, 227.0, -9999999, -9999999, 2277.0, 31607.0, 22302.0, 8068.0, -9999999, 4637.0, -608.0, 1378.0, 8827.0, 16234.0, 8994.0, 7239.0, -16050.0, 19032.0, 35083.0, -9999999, 435.0, 1000.0, 4.0, -561.0, -9999999, -9999999, -9999999, 618.0, 1516.0, 2135.0, '87.1', '7.0', '-17.0', '-74.7', '-74.5', '-76.5', '1.0', '0.8', '15.4', '0.2', '2.0', '36.6', '17.0');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('082640', 62435.0, 61346.0, 1089.0, 1017.0, 118.0, 1988.0, 473.0, 1515.0, -9999999, 1515.0, 339480.0, 12086.0, 717.0, -9999999, 7069.0, 8.0, 1256.0, 85504.0, -9999999, 121028.0, -9999999, -9999999, -9999999, -9999999, 62656.0, -9999999, 794.0, 101.0, 2819.0, -9999999, -9999999, 777.0, 10851.0, 33815.0, 313467.0, -9999999, -9999999, -9999999, -9999999, 77.0, 228.0, 271540.0, 241.0, -9999999, 3000.0, -9999999, 51.0, 371.0, 927.0, -9999999, 3286.0, 33747.0, 26012.0, 8068.0, -9999999, 4637.0, -608.0, 3662.0, 10253.0, 3342.0, -5024.0, 8366.0, -4897.0, 71416.0, 76312.0, -9999999, 1743.0, 2008.0, 109.0, -156.0, -9999999, -9999999, -9999999, 189.0, 2135.0, 2323.0, '86.4', '7.7', '6.2', '82.9', '222.7', '222.7', '1.7', '2.4', '18.1', '0.5', '6.3', '22.5', '17.0');
(1136, "Column count doesn't match value count at row 1")
111770

010620
073240
057050
003410
114090
192400
002350
011790
042660
006040
011200
002620
010120
051905
056190
018670
214320
103140
001120
028150
078340
005250
068870
034230
039030
003620
240810
145990
192820
145020
003240
001230
105630
000070
035760
036830
071840
001060
003000
181710
185750
000640
014680
096530
001430
001680
180640
046890
052690
175330
insert into newfn2017 values ('175330', 11625.0, 135.0, 171.0, -19.0, 142.0, -1331.0, -977.0, 9744.0, 6264.0, 3480.0, 116.0, 144.0, 3452.0, 807.0, 2644.0, -9999999, 2644.0, 1851.0, 794.0, 475937.0, 22449.0, -9999999, -9999999, 71.0, -9999999, 11.0, -9999999, 22967.0, -9999999, 25867.0, -9999999, 49.0, -9999999, -9999999, 381219.0, -9999999, 3677.0, 1865.0, 962.0, -9999999, 347.0, -9999999, 16452.0, 445073.0, -9999999, -9999999, -9999999, -9999999, 13.0, 25.0, -9999999, 345394.0, 87533.0, -9999999, 28.0, 318.0, 383.0, 511.0, 10868.0, 30864.0, 12297.0, 18042.0, 3358.0, 258.0, 10832.0, -645.0, 48554.0, 49199.0, -9999999, -12460.0, 235108.0, 247363.0, -205.0, -9999999, -9999999, 11.0, -2004.0, 7049.0, 5045.0, '110.4', '9.1', '37.7', '29.7', '29.7', '3.9', '5.0', '8.6', '15.2', '2.6', '3.3', '0.6', '7.9');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('175330', 12536.0, 105.0, 217.0, -9999999, 6.0, -1217.0, -939.0, 10707.0, 6539.0, 4168.0, 193.0, 196.0, 4165.0, 954.0, 3210.0, -9999999, 3210.0, 2415.0, 795.0, 467798.0, 23463.0, -9999999, 2433.0, -9999999, -9999999, 19.0, -9999999, -9999999, 19560.0, -9999999, 26811.0, 109.0, -9999999, -9999999, 369153.0, -9999999, 3771.0, 1720.0, 373.0, -9999999, 320.0, -9999999, 20067.0, 433215.0, -9999999, -9999999, -9999999, -9999999, 4.0, 37.0, -9999999, 339945.0, 80286.0, -9999999, 161.0, 311.0, 185.0, 421.0, 11865.0, 34583.0, 12993.0, 19449.0, -4428.0, -7674.0, 11995.0, 790.0, 59761.0, 58971.0, -9999999, -6253.0, 200258.0, 206200.0, -311.0, -9999999, -9999999, -4.0, -1146.0, 5045.0, 3898.0, '108.6', '8.6', '19.8', '30.5', '23.0', '-1.7', '-3.2', '-1.6', '17.0', '2.7', '3.5', '0.7', '8.7');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('175330', 12326.0, 521.0, 317.0, -9999999, 38.0, -796.0, -912.0, 11493.0, 6644.0, 4849.0, 111.0, 127.0, 4833.0, 1212.0, 3621.0, -9999999, 3621.0, 3419.0, 202.0, 475296.0, 27114.0, -9999999, 2516.0, -9999999, -9999999, 1.0, -9999999, -9999999, 20800.0, -9999999, 25234.0, 372.0, -9999999, -9999999, 371086.0, -9999999, 4048.0, 1575.0, 395.0, -9999999, 70.0, -9999999, 22083.0, 437098.0, -9999999, -9999999, -9999999, -9999999, 9.0, 37.0, -9999999, 341753.0, 80902.0, -9999999, 33.0, 305.0, -9999999, 679.0, 13380.0, 38198.0, 12527.0, 19176.0, -8057.0, -11084.0, 11235.0, -259.0, 66927.0, 67185.0, -9999999, 356.0, 188785.0, 187849.0, -580.0, -9999999, -9999999, 7.0, 254.0, 3898.0, 4152.0, '108.6', '-1.8', '16.4', '41.6', '18.6', '1.6', '0.5', '0.5', '20.1', '2.7', '3.5', '0.8', '10.4');
(1136, "Column count doesn't match value count at row 1")
102940
008000
170900
002270
069260
214370
022100
048260
020560
020000
108670
108230
237690
053210
215600
025540
009970
023590
081660
115390
069620
007570
004000
071320
039130
095700
054620
049770
068760
226320
085620
insert into newfn2017 values ('085620', 43220.0, 42580.0, 640.0, 1934.0, 241.0, 2333.0, 122.0, 2211.0, -9999999, 2211.0, 2211.0, -9999999, 355208.0, 3091.0, -9999999, -9999999, 8855.0, 2180.0, -9999999, 72938.0, -9999999, 76881.0, -9999999, -9999999, -9999999, -9999999, 28641.0, -9999999, 633.0, 1725.0, 2873.0, -9999999, -9999999, 337.0, 10471.0, 146583.0, 334692.0, -9999999, -9999999, -9999999, -9999999, 6.0, -9999999, 179093.0, 495.0, -9999999, 1290.0, -9999999, 93.0, 27.0, 706.0, 45.0, 3741.0, 149197.0, 20516.0, 20516.0, -9999999, 9896.0, 2211.0, -9999999, -9252.0, 14633.0, 23885.0, -9999999, -1301.0, -9999999, 1073.0, -229.0, -9999999, -9999999, -0.0, -658.0, 2926.0, 2269.0, '55.0', '5.8', '-0.1', '-45.2', '183.6', '189.5', '1.5', '5.1', '18.2', '0.7', '11.3', '36.7', '28.8');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('085620', 37926.0, 36502.0, 1424.0, 28.0, 57.0, 1395.0, 329.0, 1066.0, -9999999, 1066.0, 1066.0, -9999999, 346405.0, 2465.0, -9999999, -9999999, 11150.0, 105.0, -9999999, 65312.0, -9999999, 83719.0, -9999999, 523.0, -9999999, -9999999, 35586.0, -9999999, 919.0, 1202.0, 530.0, -9999999, -9999999, 351.0, 10598.0, 133945.0, 325755.0, -9999999, -9999999, -9999999, -9999999, 296.0, -9999999, 182960.0, 610.0, -9999999, 1993.0, -9999999, 127.0, 26.0, 31.0, 1.0, 3599.0, 136111.0, 20650.0, 20650.0, -9999999, -3326.0, 1066.0, -9999999, 2210.0, 33465.0, 31255.0, -9999999, 1186.0, 1993.0, 413.0, -394.0, -9999999, -9999999, 0.0, 69.0, 2269.0, 2338.0, '57.6', '6.0', '-9.5', '122.4', '-51.8', '-58.4', '3.8', '2.8', '17.3', '0.3', '5.2', '12.5', '32.5');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('085620', 34858.0, 33450.0, 1407.0, 251.0, 182.0, 1476.0, 381.0, 1095.0, -9999999, 1095.0, 1095.0, -9999999, 380155.0, 3838.0, -9999999, -9999999, 10869.0, 304.0, -9999999, 69565.0, -9999999, 85158.0, -9999999, 562.0, -9999999, -9999999, 37333.0, -9999999, 1270.0, 1135.0, 533.0, -9999999, -9999999, 618.0, 10586.0, 158384.0, 356790.0, -9999999, -9999999, -9999999, -9999999, 219.0, -9999999, 185716.0, 1022.0, -9999999, 1993.0, -9999999, 114.0, 29.0, 963.0, 1.0, 4936.0, 161797.0, 23365.0, 23365.0, -9999999, 3752.0, 1095.0, -9999999, -2763.0, 17910.0, 20673.0, -9999999, -473.0, 43.0, 131.0, -385.0, -9999999, -9999999, 1.0, 517.0, 2338.0, 2854.0, '54.8', '6.2', '-10.1', '-1.2', '2.7', '0.0', '4.0', '3.1', '15.8', '0.3', '5.0', '7.3', '33.4');
(1136, "Column count doesn't match value count at row 1")
006840
005850
037560
002240
034830
064960
001520
003670
002020
123890
000990
019680
009420
192080
093370
034310
058470
089590
000370
insert into newfn2017 values ('000370', 69318.0, 67343.0, 1975.0, 34.0, 70.0, 1939.0, 463.0, 1476.0, -9999999, 1476.0, 1476.0, -9999999, 148906.0, 4699.0, -9999999, -9999999, 1511.0, -9999999, 831.0, 64227.0, -9999999, -9999999, -9999999, 28.0, -9999999, -9999999, 51660.0, -9999999, 2968.0, 432.0, 2126.0, -9999999, -9999999, -9999999, 20364.0, 59.0, 137062.0, -9999999, -9999999, -9999999, -9999999, 4.0, 17.0, 128167.0, -9999999, -9999999, 2237.0, -9999999, 180.0, 37.0, 685.0, 125.0, 5549.0, 61.0, 11843.0, 11843.0, -9999999, 9386.0, 1476.0, -9999999, -10642.0, 11591.0, 22233.0, -9999999, 1752.0, 2276.0, 420.0, -103.0, -9999999, -9999999, -8.0, 489.0, 640.0, 1129.0, '84.0', '8.0', '6.9', '45.9', '32.3', '27.3', '2.9', '2.1', '48.4', '1.1', '14.3', '82.2', '23.7');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('000370', 74238.0, 73133.0, 1105.0, 124.0, 98.0, 1131.0, 313.0, 818.0, -9999999, 818.0, 818.0, -9999999, 167339.0, 5622.0, 158.0, -9999999, 5026.0, -9999999, 256.0, 46458.0, -9999999, 30367.0, -9999999, 94.0, -9999999, -9999999, 53041.0, -9999999, 3040.0, 461.0, 1928.0, -9999999, -9999999, 97.0, 20733.0, 58.0, 153183.0, -9999999, -9999999, -9999999, -9999999, 4.0, 252.0, 141287.0, -9999999, -9999999, 5727.0, -9999999, 141.0, 40.0, 712.0, -9999999, 4959.0, 60.0, 14156.0, 14156.0, -9999999, 7107.0, 818.0, -9999999, -12223.0, 11565.0, 23788.0, -9999999, 5156.0, 5382.0, 7.0, -219.0, -9999999, -9999999, -0.0, 40.0, 1129.0, 1169.0, '85.4', '8.5', '6.0', '-44.1', '-44.6', '-54.9', '1.5', '1.1', '46.1', '0.5', '6.3', '83.2', '25.3');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('000370', 80276.0, 81217.0, -941.0, 17.0, 25.0, -949.0, -259.0, -691.0, -9999999, -691.0, -662.0, -29.0, 182572.0, 6394.0, -9999999, -9999999, 1564.0, -9999999, 317.0, 55305.0, -9999999, 38422.0, -9999999, 129.0, -9999999, -9999999, 50593.0, -9999999, 3740.0, 555.0, 1930.0, -9999999, -9999999, 151.0, 23417.0, 54.0, 167928.0, -9999999, -9999999, -9999999, -9999999, 1.0, 281.0, 154016.0, -9999999, -9999999, 4828.0, -9999999, 100.0, 50.0, 828.0, -9999999, 7767.0, 57.0, 14643.0, 14188.0, 455.0, 18711.0, -691.0, -9999999, -16212.0, 10440.0, 26652.0, -9999999, -1307.0, 150.0, 1173.0, -284.0, -9999999, -9999999, -3.0, 1188.0, 1169.0, 2358.0, '84.7', '8.0', '6.9', '적전', '적전', '적전', '-1.2', '-0.8', '45.7', '-0.4', '-4.7', '85.6', '26.4');
(1136, "Column count doesn't match value count at row 1")
060980

033920
085660
012510
222040
006730
093050
005180
003470
insert into newfn2017 values ('003470', 858.0, 1994.0, 867.0, -9999999, -417.0, 1.0, 296.0, 3599.0, 3015.0, 585.0, 223.0, 94.0, 713.0, 6.0, 707.0, -9999999, 707.0, 707.0, -0.0, 116512.0, 41069.0, -9999999, -9999999, 38331.0, 2705.0, 1851.0, -9999999, 3012.0, -9999999, 19.0, -9999999, 520.0, -9999999, -9999999, 21828.0, -9999999, -9999999, 643.0, -9999999, 422.0, 1244.0, -9999999, 811.0, 136.0, 3919.0, 105517.0, -9999999, -9999999, -9999999, 12276.0, 2310.0, -9999999, 4485.0, 27882.0, 52606.0, -9999999, 646.0, 119.0, 7.0, 109.0, 707.0, -9999999, 3969.0, 4302.0, -4033.0, -3658.0, 995.0, 198.0, 843.0, 646.0, -9999999, 904.0, 2645.0, 1741.0, -9999999, -9999999, -9999999, -6.0, -1567.0, 8360.0, 6793.0, '78.3', '37.8', '959.8', '8.8', '17.8', '343.9', '125.7', '125.7', '3.0', '0.6', '6.6');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('003470', 954.0, 2412.0, 665.0, -9999999, 50.0, -63.0, 229.0, 4248.0, 3337.0, 911.0, 305.0, 75.0, 1142.0, 95.0, 1047.0, -9999999, 1047.0, 1047.0, 0.0, 118618.0, 38577.0, -9999999, 42197.0, -9999999, 3230.0, 2678.0, -9999999, -9999999, 1994.0, -9999999, -9999999, 673.0, -9999999, -9999999, 24123.0, -9999999, -9999999, 630.0, -9999999, 356.0, 916.0, -9999999, 837.0, 68.0, 2339.0, 106723.0, -9999999, -9999999, -9999999, 12836.0, 4168.0, -9999999, 3494.0, 25541.0, 54420.0, -9999999, 821.0, 90.0, 12.0, 0.0, 1047.0, -9999999, 5444.0, 6651.0, -49.0, -209.0, 938.0, 854.0, 1121.0, 267.0, -9999999, -2008.0, 1337.0, 3346.0, -9999999, -9999999, -9999999, 41.0, -385.0, 6793.0, 6408.0, '94.5', '40.0', '897.2', '17.3', '18.0', '55.9', '48.1', '48.1', '4.5', '0.9', '9.2');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('003470', 1001.0, 2016.0, 367.0, -9999999, 63.0, 14.0, 336.0, 3797.0, 3079.0, 718.0, 160.0, 53.0, 825.0, 16.0, 809.0, -9999999, 809.0, 809.0, -9999999, 123423.0, 38266.0, -9999999, 46888.0, -9999999, 3600.0, 1572.0, -9999999, -9999999, 1985.0, -9999999, -9999999, 760.0, -9999999, -9999999, 23855.0, -9999999, -9999999, 1331.0, -9999999, 332.0, 922.0, -9999999, 847.0, 159.0, 2904.0, 110785.0, -9999999, -9999999, -9999999, 19542.0, 1850.0, -9999999, 2939.0, 27545.0, 51089.0, -9999999, 963.0, 107.0, -9999999, 34.0, 809.0, -9999999, 6143.0, 7583.0, 5192.0, 4561.0, 963.0, 33.0, 151.0, 118.0, -9999999, -4285.0, 3.0, 4288.0, -9999999, -9999999, -9999999, 13.0, 1285.0, 6408.0, 7693.0, '86.6', '42.5', '876.6', '24.3', '-10.6', '-21.2', '-22.7', '-22.7', '3.4', '0.7', '6.6');
(1136, "Column count doesn't match value count at row 1")
098460
039840
100120
007340
000815
053800
006060
021960
002960
065060
003300
031440
064240
024720
041510
091700
072710
025980
003030
192530
insert into newfn2017 values ('192530', 5525.0, 18.0, 148.0, -9999999, 41.0, -425.0, -600.0, 4709.0, 2896.0, 1813.0, 61.0, 104.0, 1770.0, 427.0, 1342.0, -9999999, 1342.0, 1342.0, -9999999, 234191.0, 11301.0, -9999999, 56.0, -9999999, 0.0, -9999999, 12517.0, 15037.0, -9999999, -9999999, 190204.0, -9999999, 1716.0, 514.0, 104.0, -9999999, 358.0, 0.0, 2384.0, 218371.0, -9999999, -9999999, -9999999, 1.0, -9999999, -9999999, 194850.0, 18786.0, -9999999, -9999999, 186.0, -9999999, 230.0, 4318.0, 15820.0, 15820.0, -9999999, 2791.0, 1342.0, -9999999, 1007.0, 20568.0, 19561.0, -9999999, -3501.0, 129627.0, 132974.0, -155.0, -9999999, -9999999, -15.0, 281.0, 1832.0, 2113.0, '97.6', '10.6', '36.6', '29.9', '29.9', '3.5', '5.6', '5.8', '20.4', '2.5', '2.9', '0.6', '8.8');
(1136, "Column count doesn't match value count at row 1")
029530
009450
200130
020150
005990
096760
051370
029460
043150
017810
053030
003920
003540
insert into newfn2017 values ('003540', 2440.0, 2120.0, -799.0, -9999999, 279.0, 145.0, 501.0, 4686.0, 3356.0, 1330.0, 250.0, 67.0, 1513.0, 354.0, 1159.0, -9999999, 1159.0, 1159.0, 0.0, 174468.0, 20431.0, 29351.0, -9999999, 40568.0, 2940.0, 3968.0, -9999999, 4110.0, -9999999, -9999999, -9999999, 621.0, -9999999, -9999999, 42678.0, -9999999, -9999999, 3603.0, -9999999, 1077.0, 2599.0, -9999999, 165.0, 3.0, 22353.0, 155789.0, -9999999, -9999999, -9999999, 36741.0, 3815.0, -9999999, 881.0, 30541.0, 72132.0, -9999999, 71.0, 29.0, 3.0, 88.0, 1159.0, -9999999, 2603.0, 3331.0, -9334.0, -8903.0, 2467.0, -1866.0, 1710.0, 3576.0, -9999999, 8439.0, 13992.0, 5155.0, -398.0, -9999999, -9999999, -64.0, 72.0, 3075.0, 3148.0, '139.7', '44.1', '834.0', '370.7', '5.0', '59.6', '56.6', '56.6', '3.8', '0.7', '6.4');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('003540', 2042.0, 2605.0, 159.0, -9999999, -46.0, -14.0, 394.0, 5139.0, 3554.0, 1585.0, 391.0, 83.0, 1893.0, 486.0, 1407.0, -9999999, 1407.0, 1408.0, -1.0, 191513.0, 21276.0, -9999999, 78315.0, -9999999, 3635.0, 3313.0, -9999999, -9999999, 1669.0, -9999999, -9999999, 1415.0, -9999999, -9999999, 45675.0, -9999999, -9999999, 3375.0, -9999999, 1703.0, 13786.0, -9999999, 855.0, 30.0, 16467.0, 171504.0, -9999999, -9999999, -9999999, 35944.0, 4011.0, -9999999, 663.0, 29308.0, 89141.0, -9999999, 74.0, 159.0, 670.0, 134.0, 1407.0, -9999999, 2042.0, 4062.0, -16477.0, -17089.0, 1108.0, -98.0, 1518.0, 1616.0, -9999999, 18935.0, 21339.0, 1961.0, -442.0, -9999999, -9999999, 10.0, 2866.0, 3148.0, 6014.0, '155.8', '43.7', '857.1', '393.2', '9.7', '19.2', '21.5', '21.5', '6.2', '0.8', '7.3');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('003540', 1570.0, 2295.0, 472.0, -9999999, 90.0, -268.0, 617.0, 4775.0, 3778.0, 997.0, 491.0, 197.0, 1291.0, 351.0, 940.0, -9999999, 940.0, 947.0, -8.0, 194373.0, 23576.0, -9999999, 79522.0, -9999999, 2132.0, 2793.0, -9999999, -9999999, 1834.0, -9999999, -9999999, 2217.0, -9999999, -9999999, 43630.0, -9999999, -9999999, 4028.0, -9999999, 1532.0, 20643.0, -9999999, 1072.0, 199.0, 11194.0, 174202.0, -9999999, -9999999, -9999999, 27725.0, 3003.0, -9999999, 51.0, 28131.0, 97147.0, -9999999, 82.0, 163.0, 669.0, 52.0, 940.0, -9999999, 2073.0, 3237.0, -7603.0, -7828.0, 605.0, 340.0, 2397.0, 2057.0, -9999999, 9100.0, 14172.0, 4621.0, -451.0, -9999999, -9999999, 21.0, 2239.0, 6014.0, 8253.0, '155.1', '43.0', '863.7', '407.5', '-7.1', '-37.1', '-32.8', '-32.8', '3.7', '0.5', '4.8');
(1136, "Column count doesn't match value count at row 1")
069080
004490
003850
101530
030530
095610
138250
237880
058650
003090
086450
036930
065620
005500
023890
034120
005290
115960
210980
031430
028300
001720
122870
051500
006390
015750
048530
049960
108320
009290
126560
082270
036420
066575
083790
025900
206640
036580
078020
insert into newfn2017 values ('078020', 356.0, 473.0, 612.0, -57.0, 5.0, -9999999, 40.0, 1429.0, 918.0, 511.0, 2.0, 1.0, 512.0, 124.0, 388.0, -9999999, 388.0, 388.0, -9999999, 31234.0, 5485.0, -9999999, -9999999, 14795.0, 44.0, 23.0, -9999999, 153.0, -9999999, -9999999, -9999999, 11.0, -9999999, -9999999, 4465.0, -9999999, -9999999, 29.0, -9999999, 112.0, -9999999, -9999999, 35.0, -9999999, 6082.0, 27337.0, -9999999, -9999999, -9999999, -9999999, 52.0, -9999999, 962.0, 5591.0, 14848.0, -9999999, -9999999, 1.0, -9999999, 75.0, 388.0, -9999999, 742.0, 963.0, -1520.0, -1352.0, 304.0, -64.0, 46.0, 110.0, -9999999, 1086.0, 1309.0, 38.0, -185.0, -9999999, -9999999, -9999999, -26.0, 82.0, 56.0, '79.9', '48.0', '701.5', '114.7', '17.8', '58.8', '59.4', '59.4', '7.8', '1.3', '10.2');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('078020', 339.0, 547.0, 82.0, 471.0, 6.0, -13.0, 34.0, 1466.0, 993.0, 473.0, 12.0, 12.0, 473.0, 133.0, 340.0, -9999999, 340.0, 340.0, -9999999, 31759.0, 5063.0, -9999999, 16007.0, -9999999, 36.0, 10.0, -9999999, -9999999, 12.0, -9999999, -9999999, 75.0, -9999999, -9999999, 5624.0, -9999999, -9999999, 38.0, -9999999, 103.0, -9999999, -9999999, 67.0, -9999999, 4724.0, 27721.0, -9999999, -9999999, -9999999, -9999999, 51.0, -9999999, 1939.0, 8130.0, 13182.0, -9999999, -9999999, 5.0, -9999999, 76.0, 340.0, -9999999, 739.0, 952.0, 1460.0, 1587.0, 223.0, -135.0, 25.0, 160.0, -9999999, -1664.0, 681.0, 2172.0, -173.0, -9999999, -9999999, -9999999, 12.0, 56.0, 68.0, '69.2', '50.6', '686.6', '122.5', '2.6', '-7.4', '-12.4', '-12.4', '4.5', '1.1', '8.6');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('078020', 360.0, 835.0, 1156.0, -501.0, 3.0, -18.0, 58.0, 1893.0, 1188.0, 705.0, 22.0, 17.0, 709.0, 194.0, 515.0, -9999999, 515.0, 515.0, -9999999, 45480.0, 6332.0, -9999999, 25504.0, -9999999, 110.0, 25.0, -9999999, -9999999, 12.0, -9999999, -9999999, 122.0, -9999999, -9999999, 6333.0, -9999999, -9999999, 53.0, -9999999, 132.0, -9999999, -9999999, 85.0, -9999999, 6774.0, 40340.0, -9999999, -9999999, -9999999, -9999999, 191.0, -9999999, 3943.0, 10120.0, 19149.0, -9999999, -9999999, 24.0, -9999999, 125.0, 515.0, -9999999, 1224.0, 1419.0, -5934.0, -5613.0, 256.0, -101.0, 23.0, 124.0, -9999999, 5571.0, 5877.0, 134.0, -172.0, -9999999, -9999999, -9999999, 113.0, 68.0, 181.0, '62.6', '56.3', '784.8', '102.1', '29.1', '48.9', '51.4', '21.2', '6.5', '1.3', '11.2');
(1136, "Column count doesn't match value count at row 1")
017940

008490
032190
078160
067080
030190
104830
005880
000050
025860
044490
016450
009410
005740
070960
241590
004690
178920
005720
017390
004430
215000
119610
025770
079430
078150
084370
092040
182400
161000
099190
214420
033660
insert into newfn2017 values ('033660', 1952.0, -179.0, 288.0, -9999999, -0.0, 133.0, -77.0, 2118.0, 992.0, 1126.0, 5.0, 391.0, 739.0, 201.0, 538.0, -9999999, 538.0, 520.0, 18.0, 53106.0, 3313.0, 327.0, -9999999, 2231.0, -9999999, 161.0, -9999999, 1080.0, -9999999, -9999999, -9999999, 37.0, -9999999, -9999999, 34668.0, -9999999, 65.0, 4141.0, 5516.0, -9999999, -9999999, -9999999, -9999999, 46.0, 680.0, 106.0, -9999999, -9999999, 2.0, 733.0, 46074.0, -9999999, -9999999, -9999999, -9999999, 4.0, -9999999, 7881.0, 35610.0, -9999999, 7032.0, 7032.0, -9999999, 4712.0, 538.0, -9999999, 4287.0, 3751.0, 1457.0, 2532.0, 2181.0, 698.0, 816.0, 158.0, 40.0, -5862.0, 42304.0, 47285.0, -881.0, -9999999, -312.0, -9999999, -763.0, 2888.0, 2125.0, '145.1', '6.0', '61.2', '6.4', '6.4', '-13.4', '18.1', '0.9', '7.2');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('033660', 2186.0, -201.0, 46.0, -1.0, -9999999, 85.0, -121.0, 1994.0, 893.0, 1100.0, 0.0, 1.0, 1099.0, 189.0, 910.0, -9999999, 910.0, 910.0, -9999999, 62014.0, 3830.0, -9999999, 2878.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 33.0, -9999999, -9999999, 40960.0, -9999999, 137.0, 5502.0, 7018.0, -9999999, -9999999, -9999999, -9999999, 53.0, 685.0, 103.0, -9999999, 66.0, 0.0, 749.0, 54491.0, -9999999, -9999999, -9999999, -9999999, -9999999, 3.0, 9586.0, 42295.0, -9999999, 7524.0, 7524.0, -9999999, -6908.0, 910.0, -9999999, 3776.0, 3763.0, -10328.0, -9405.0, 2498.0, -22.0, 25.0, 46.0, -9999999, 6433.0, 42394.0, 35753.0, -208.0, -9999999, -9999999, -9999999, -496.0, 2125.0, 1629.0, '162.2', '-5.9', '-2.3', '74.9', '74.9', '16.8', '17.9', '1.6', '12.5');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('033660', 2547.0, -146.0, 137.0, -1.0, -9999999, -111.0, -133.0, 2293.0, 956.0, 1338.0, 3.0, 1.0, 1339.0, 323.0, 1016.0, -9999999, 1016.0, 1016.0, -9999999, 74732.0, 3232.0, -9999999, 4222.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 16.0, -9999999, -9999999, 48518.0, -9999999, 139.0, 6723.0, 9972.0, -9999999, -9999999, -9999999, -9999999, 75.0, 690.0, 102.0, -9999999, 63.0, 2.0, 978.0, 66592.0, -9999999, -9999999, -9999999, -9999999, -9999999, 12.0, 9387.0, 54192.0, -9999999, 8140.0, 8140.0, -9999999, -11551.0, 1016.0, -9999999, 4683.0, 4439.0, -15602.0, -14343.0, 2792.0, -13.0, 29.0, 42.0, 0.0, 11443.0, 43508.0, 31790.0, -275.0, -9999999, -9999999, -9999999, -121.0, 1629.0, 1508.0, '187.0', '15.0', '21.6', '11.7', '11.7', '20.5', '18.4', '1.5', '13.0');
(1136, "Column count doesn't match value count at row 1")
001780
008060
037710
014830
213500
016100
042700
015350
013120
900140
016250
214450
030520
213420
014200
085370
005810
016800
200880
023410
064760
00088K
243070
102460
112040
101060
122900
084690
225530
041830
109610
094800
115450
024660
080160
016380
201490
003530
insert into newfn2017 values ('003530', 1007.0, 1918.0, -1370.0, 1489.0, -336.0, -38.0, 93.0, 2764.0, 2109.0, 655.0, 110.0, 37.0, 728.0, 170.0, 557.0, -9999999, 557.0, 555.0, 2.0, 69053.0, 8326.0, 449.0, -9999999, 38081.0, 34.0, 101.0, 3221.0, 2586.0, -9999999, -9999999, -9999999, 193.0, -9999999, -9999999, 10381.0, -9999999, -9999999, 97.0, -9999999, 494.0, 1.0, -9999999, 148.0, 17.0, 4923.0, 60281.0, -9999999, -9999999, -9999999, 8356.0, 7.0, 1388.0, 3793.0, 7097.0, 35104.0, -9999999, 175.0, 56.0, 8.0, 7.0, 557.0, -9999999, 3297.0, 4911.0, -3172.0, -4228.0, 1015.0, -141.0, 549.0, 690.0, -9999999, 3477.0, 3579.0, 102.0, -9999999, -9999999, -9999999, -0.0, 123.0, 788.0, 912.0, '146.3', '59.6', '687.2', -9999999, '흑전', '흑전', '흑전', '흑전', '3.8', '0.8', '6.6');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('003530', 1116.0, 1965.0, 522.0, -536.0, 40.0, 13.0, 64.0, 3182.0, 2210.0, 972.0, 48.0, 46.0, 974.0, 250.0, 724.0, -9999999, 724.0, 725.0, -0.0, 73441.0, 9731.0, -9999999, 42834.0, -9999999, 215.0, 2.0, 1282.0, -9999999, 1780.0, -9999999, -9999999, 207.0, -9999999, -9999999, 9807.0, -9999999, -9999999, 132.0, -9999999, 452.0, 1.0, -9999999, 89.0, 17.0, 6892.0, 63938.0, -9999999, -9999999, -9999999, 15063.0, 80.0, 2362.0, 4657.0, 4041.0, 33457.0, -9999999, 190.0, 102.0, 6.0, 32.0, 724.0, -9999999, 2754.0, 4057.0, -2971.0, -3550.0, 1041.0, -1538.0, 1115.0, 2653.0, -9999999, 4254.0, 4754.0, 500.0, -9999999, -9999999, -9999999, -0.0, 206.0, 912.0, 1118.0, '242.7', '61.0', '672.8', '8.1', '15.1', '48.5', '30.6', '30.6', '5.1', '1.0', '8.0');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('003530', 1194.0, 1711.0, -1998.0, 2346.0, 14.0, -22.0, 239.0, 3483.0, 2365.0, 1119.0, 47.0, 113.0, 1053.0, 68.0, 986.0, -9999999, 986.0, 984.0, 1.0, 98783.0, 7530.0, -9999999, 67305.0, -9999999, 47.0, 4.0, 1752.0, -9999999, 1922.0, -9999999, -9999999, 423.0, -9999999, -9999999, 12497.0, -9999999, -9999999, 614.0, 58.0, 520.0, 1.0, -9999999, 79.0, 73.0, 5960.0, 87229.0, -9999999, -9999999, -9999999, 21957.0, 6.0, 1299.0, 4774.0, 4637.0, 48618.0, -9999999, 216.0, 129.0, 1.0, 1.0, 986.0, -9999999, 3382.0, 4703.0, -5965.0, -6300.0, 1228.0, -814.0, 1750.0, 2564.0, -9999999, 5694.0, 5811.0, 116.0, -1.0, -9999999, -9999999, 0.0, -191.0, 1118.0, 927.0, '269.5', '70.1', '755.0', '6.1', '9.5', '15.1', '35.8', '23.5', '7.1', '1.1', '9.4');
(1136, "Column count doesn't match value count at row 1")
044820
097230
insert into newfn2018 values ('097230', 16979.0, 15571.0, 1408.0, 791.0, 617.0, 617.0, 892.0, 1153.0, 195.0, 696.0, 62.0, -84.0, -277.0, 192.0, -13029.0, -12836.0, -12838.0, 2.0, 27336.0, 17209.0, 10127.0, -9999999, 34418.0, 21401.0, 13017.0, -9999999, -7082.0, -7077.0, -5.0, 4202.0, -12836.0, -9999999, 16382.0, 2438.0, 4280.0, 5386.0, -1184.0, -20.0, 939.0, 960.0, -9999999, -3182.0, 2518.0, 5700.0, -9999999, -9999999, -9999999, -86.0, 914.0, 1454.0, 2368.0, '80.4', '56.2', '완전잠식', -9999999, '완전잠식', '0.6', '완전잠식', '8.3', '-0.5', '3.6', '3.6', '-37.0', '완전잠식', '-8.1', '0.5', '0.5', '완전잠식', '3.4');
(1366, "Incorrect double value: '완전잠식' for column `jamoo`.`newfn2018`.`부채비율` at row 1")
insert into newfn2019 values ('097230', 16288.0, 14513.0, 1775.0, 936.0, 838.0, 838.0, 83.0, 1296.0, 333.0, 188.0, 8.0, -222.0, 131.0, -353.0, 3415.0, 3062.0, 3058.0, 4.0, 24702.0, 13005.0, 11697.0, -9999999, 22252.0, 18452.0, 3800.0, -9999999, 2450.0, 2451.0, -1.0, 1559.0, 3062.0, -9999999, 2221.0, 3715.0, 454.0, 2021.0, -462.0, 361.0, 1966.0, 1605.0, -9999999, -2961.0, -9999999, 2961.0, -9999999, -9999999, -9999999, -25.0, -1066.0, 2290.0, 1224.0, '70.5', '50.8', '908.3', -9999999, '345.7', '0.7', '9.9', '10.9', '-1.4', '5.2', '6.5', '11.8', '완전잠식', '13.9', '0.6', '0.6', '완전잠식', '5.1');
(1366, "Incorrect double value: '완전잠식' for column `jamoo`.`newfn2019`.`ROE` at row 1")
002795
192440
065160
036540
086980
141080
003800
008730
066970
003220
089600
058820
001630
002320
000480
168330
004710
104700
002990
025620
249420
108790
102710
080420
038500
032350
214390
084110
121440
002390
036800
001725
115160
003120
001510
insert into newfn2017 values ('001510', 436.0, 1462.0, 198.0, 38.0, -110.0, -8.0, 52.0, 2069.0, 1784.0, 285.0, 35.0, 66.0, 254.0, 66.0, 188.0, -9999999, 188.0, 188.0, -9999999, 37788.0, 5814.0, 222.0, -9999999, 20302.0, 762.0, -9999999, 184.0, 1399.0, -9999999, -9999999, -9999999, 503.0, -9999999, -9999999, 4960.0, -9999999, -9999999, 182.0, -9999999, 151.0, -9999999, -9999999, -9999999, 93.0, 3215.0, 33418.0, -9999999, -9999999, -9999999, 5402.0, -9999999, 163.0, 543.0, 4303.0, 19663.0, -9999999, 69.0, 60.0, 130.0, -9999999, 188.0, -9999999, 871.0, 1077.0, -489.0, -507.0, 426.0, -367.0, 729.0, 1096.0, -9999999, 220.0, 424.0, 204.0, -9999999, -9999999, -9999999, -13.0, -240.0, 1366.0, 1126.0, '115.3', '60.0', '764.8', '172.0', '21.5', '262.0', '64.4', '64.4', '6.1', '0.5', '4.4');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('001510', 459.0, 1538.0, 186.0, -139.0, 33.0, -50.0, 49.0, 2076.0, 1947.0, 129.0, 92.0, 8.0, 213.0, 73.0, 139.0, -9999999, 139.0, 139.0, -9999999, 37588.0, 6364.0, -9999999, 20866.0, -9999999, 639.0, -9999999, 233.0, -9999999, 966.0, -9999999, -9999999, 437.0, -9999999, -9999999, 5236.0, -9999999, -9999999, 188.0, -9999999, 220.0, -9999999, -9999999, -9999999, 83.0, 2355.0, 32173.0, -9999999, -9999999, -9999999, 2850.0, -9999999, 1716.0, 523.0, 3303.0, 21211.0, -9999999, 105.0, 81.0, 156.0, 14.0, 139.0, -9999999, 775.0, 1231.0, -2545.0, -2862.0, 509.0, 6.0, 272.0, 266.0, -9999999, 2493.0, 2793.0, 300.0, -9999999, -9999999, -9999999, -2.0, 144.0, 1126.0, 1270.0, '158.5', '59.8', '594.1', '128.9', '0.4', '-54.7', '-25.9', '-28.7', '2.4', '0.4', '2.9');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('001510', 368.0, 1424.0, 100.0, 243.0, 8.0, 7.0, 124.0, 2275.0, 2061.0, 214.0, 210.0, 8.0, 416.0, 104.0, 312.0, -9999999, 312.0, 312.0, -0.0, 41395.0, 6554.0, -9999999, 24045.0, -9999999, 720.0, -9999999, 20.0, -9999999, 1045.0, -9999999, -9999999, 945.0, -9999999, -9999999, 4256.0, -9999999, -9999999, 157.0, 933.0, 310.0, -9999999, -9999999, -9999999, -9999999, 2410.0, 35693.0, -9999999, -9999999, -9999999, 1924.0, -9999999, 1786.0, 42.0, 4440.0, 23520.0, -9999999, 77.0, 73.0, 142.0, 22.0, 312.0, -9999999, 970.0, 1407.0, -2347.0, -2472.0, 480.0, -484.0, 373.0, 856.0, -9999999, 2203.0, 2320.0, 70.0, -47.0, -9999999, -9999999, -2.0, -275.0, 1270.0, 996.0, '95.9', '62.4', '626.0', '140.9', '9.6', '65.7', '123.8', '62.7', '3.9', '0.8', '5.6');
(1136, "Column count doesn't match value count at row 1")
035810

005090
010050
insert into newfn2017 values ('010050', 301.0, 11.0, -43.0, -9999999, 86.0, 62.0, -29.0, 390.0, 184.0, 206.0, 1.0, 4.0, 203.0, 12.0, 191.0, -9999999, 191.0, 191.0, -9999999, 18751.0, 1544.0, -9999999, -9999999, 2979.0, -9999999, 97.0, -9999999, 1185.0, -9999999, -9999999, -9999999, 9.0, -9999999, -9999999, 10649.0, 1700.0, -9999999, -9999999, 37.0, 31.0, 159.0, -9999999, 235.0, 30.0, 97.0, 15903.0, -9999999, -9999999, -9999999, -9999999, 116.0, -9999999, 15381.0, 226.0, -9999999, 3.0, 6.0, -9999999, -9999999, 172.0, -9999999, 400.0, 688.0, -1532.0, -1629.0, 315.0, -112.0, 1148.0, 1261.0, -9999999, 1146.0, 1311.0, 165.0, -9999999, -9999999, -9999999, -1.0, -282.0, 1136.0, 854.0, -9999999, '2.8', '-3.6', '-19.9', '-21.0', '18.9', '11.2', '1.1', '8.4');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('010050', 414.0, 70.0, 234.0, -9999999, -64.0, -32.0, -32.0, 590.0, 261.0, 329.0, 3.0, 6.0, 326.0, -7.0, 334.0, -9999999, 334.0, 334.0, -9999999, 26827.0, 2255.0, -9999999, 5786.0, -9999999, -9999999, 15.0, -9999999, -9999999, 555.0, -9999999, -9999999, 8.0, -9999999, -9999999, 14768.0, 1851.0, -9999999, -9999999, 38.0, 38.0, 59.0, -9999999, 274.0, 40.0, 1140.0, 23674.0, -9999999, -9999999, -9999999, -9999999, 13.0, -9999999, 22089.0, 379.0, -9999999, 7.0, 12.0, -9999999, -9999999, 1175.0, -9999999, 469.0, 955.0, 508.0, 356.0, 590.0, -45.0, 224.0, 269.0, -9999999, 153.0, 460.0, 307.0, -9999999, -9999999, -9999999, 1.0, 1055.0, 854.0, 1909.0, -9999999, '12.0', '59.5', '74.6', '25.3', '43.1', '16.0', '1.5', '11.1');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('010050', 518.0, 263.0, 119.0, -9999999, 11.0, -10.0, -50.0, 851.0, 312.0, 539.0, 5.0, 20.0, 524.0, -10.0, 534.0, -9999999, 534.0, 534.0, -9999999, 33990.0, 1705.0, -9999999, 11312.0, -9999999, -9999999, 10.0, -9999999, -9999999, 100.0, -9999999, -9999999, 8.0, -9999999, -9999999, 16881.0, 1983.0, -9999999, -9999999, 60.0, 33.0, 58.0, -9999999, 347.0, 11.0, 1481.0, 30316.0, -9999999, -9999999, -9999999, -9999999, 20.0, -9999999, 24253.0, 4474.0, -9999999, 15.0, 17.0, -9999999, -9999999, 1538.0, -9999999, 677.0, 1184.0, -5803.0, -5777.0, 605.0, 323.0, 997.0, 674.0, -9999999, 4086.0, 4499.0, 413.0, -9999999, -9999999, -9999999, 0.0, -763.0, 1909.0, 1146.0, '9.0', '-0.2', '63.7', '59.9', '59.9', '26.7', '26.3', '1.8', '15.6');
(1136, "Column count doesn't match value count at row 1")
100130
000400
insert into newfn2017 values ('000400', 33179.0, 32168.0, 1011.0, 15.0, 13.0, 1013.0, 266.0, 746.0, -9999999, 746.0, 128022.0, 5637.0, 104.0, -9999999, 332.0, 0.0, 503.0, 26446.0, -9999999, 12963.0, -9999999, -9999999, -9999999, -9999999, 14714.0, -9999999, 799.0, 150.0, 991.0, -9999999, -9999999, 12.0, 7497.0, 57874.0, 122549.0, -9999999, -9999999, -9999999, -9999999, 0.0, -9999999, 59750.0, -9999999, -9999999, 2473.0, -9999999, 37.0, 25.0, 283.0, -9999999, 1890.0, 58090.0, 5473.0, 1343.0, 519.0, 1818.0, -11.0, 200.0, 1605.0, 1981.0, 2.0, 1978.0, -3421.0, 14009.0, 17430.0, -9999999, 856.0, 897.0, -9999999, -41.0, -9999999, -9999999, -0.0, -585.0, 1730.0, 1145.0, '48.2', '4.3', '1.6', '182.2', '156.9', '156.9', '3.1', '2.3', '46.8', '0.6', '14.2', '90.9', '19.1');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('000400', 35245.0, 34033.0, 1213.0, 17.0, 19.0, 1211.0, 298.0, 913.0, -9999999, 913.0, 142150.0, 4542.0, -9999999, 31175.0, -9999999, 30.0, 70.0, -9999999, 7754.0, -9999999, 8125.0, -9999999, -9999999, -9999999, 13253.0, -9999999, 1123.0, 182.0, 812.0, -9999999, -9999999, 201.0, 8498.0, 66384.0, 136517.0, -9999999, -9999999, -9999999, -9999999, 23.0, 479.0, 64368.0, -9999999, -9999999, 3072.0, -9999999, 11.0, 29.0, 328.0, -9999999, 1802.0, 66405.0, 5633.0, 1343.0, 519.0, 1818.0, -11.0, -131.0, 2097.0, 4226.0, 3077.0, 1149.0, -3437.0, 3047.0, 6484.0, -9999999, 461.0, 598.0, 84.0, -54.0, -9999999, -9999999, 1.0, 1251.0, 1145.0, 2396.0, '46.3', '4.0', '3.7', '20.0', '22.3', '22.3', '3.4', '2.6', '48.1', '0.7', '16.4', '90.6', '21.0');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('000400', 36736.0, 37445.0, -709.0, 17.0, 27.0, -720.0, -208.0, -512.0, -9999999, -512.0, 162673.0, 4443.0, -9999999, 36467.0, -9999999, 56.0, 155.0, -9999999, 8583.0, -9999999, 10694.0, -9999999, -9999999, -9999999, 11983.0, -9999999, 1037.0, 514.0, 800.0, -9999999, -9999999, 260.0, 9800.0, 77882.0, 153014.0, -9999999, -9999999, -9999999, -9999999, -9999999, 249.0, 68646.0, -9999999, -9999999, 3370.0, -9999999, 4.0, 61.0, 408.0, -9999999, 2893.0, 77381.0, 9658.0, 3103.0, 519.0, 3798.0, -11.0, 692.0, 1557.0, -1201.0, -2639.0, 1438.0, -3444.0, 4385.0, 7829.0, -9999999, 3969.0, 4538.0, 541.0, -28.0, -9999999, -9999999, 2.0, -673.0, 2396.0, 1723.0, '45.0', '5.9', '2.8', '적전', '적전', '적전', '-1.9', '-1.4', '46.7', '-0.3', '-6.7', '97.9', '24.4');
(1136, "Column count doesn't match value count at row 1")
095720
035600
152330
900290
007160
007210
007690
002780
015860
078520
031390
067290
063080
030610
insert into newfn2017 values ('030610', 942.0, 1677.0, 214.0, -9999999, -236.0, 3.0, 42.0, 2642.0, 1730.0, 912.0, 123.0, 8.0, 1027.0, 294.0, 733.0, -9999999, 733.0, 733.0, -9999999, 68522.0, 6042.0, 101.0, -9999999, 45887.0, 428.0, 1857.0, -9999999, 2763.0, -9999999, -9999999, -9999999, 20.0, -9999999, -9999999, 5817.0, -9999999, -9999999, 689.0, -9999999, 64.0, 1184.0, -9999999, -9999999, 15.0, 3657.0, 60364.0, -9999999, -9999999, -9999999, 26246.0, 2721.0, -9999999, 3507.0, 5745.0, 17545.0, -9999999, -9999999, 18.0, 399.0, 5.0, 733.0, -9999999, 4667.0, 5187.0, -3966.0, -3753.0, 601.0, 78.0, 547.0, 468.0, -9999999, 3427.0, 3496.0, 10.0, -59.0, -9999999, -9999999, -2.0, 351.0, 759.0, 1110.0, '101.3', '71.8', '739.9', '356.6', '5.4', '26.3', '17.7', '17.7', '8.4', '1.2', '9.4');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('030610', 1138.0, 1833.0, -412.0, -9999999, 167.0, -25.0, 15.0, 2716.0, 1783.0, 933.0, 127.0, 14.0, 1046.0, 273.0, 773.0, -9999999, 773.0, 773.0, -9999999, 73412.0, 6502.0, -9999999, 47965.0, -9999999, 468.0, 2482.0, -9999999, -9999999, 2598.0, -9999999, -9999999, 27.0, -9999999, -9999999, 8427.0, -9999999, -9999999, 703.0, -9999999, 64.0, 1148.0, -9999999, -9999999, 337.0, 2692.0, 64598.0, -9999999, -9999999, -9999999, 31146.0, 2305.0, -9999999, 4834.0, 6689.0, 15849.0, -9999999, 45.0, 22.0, 661.0, -9999999, 773.0, -9999999, 4510.0, 6373.0, 1677.0, 587.0, 800.0, -20.0, 1416.0, 1436.0, -9999999, -1786.0, 11.0, 1692.0, -105.0, -9999999, -9999999, 12.0, -406.0, 1110.0, 703.0, '126.0', '69.5', '732.9', '393.0', '2.8', '2.4', '5.5', '5.5', '7.5', '1.1', '9.1');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('030610', 1260.0, 1852.0, -316.0, -9999999, 268.0, -25.0, 25.0, 3064.0, 1960.0, 1104.0, 117.0, 30.0, 1190.0, 356.0, 835.0, -9999999, 835.0, 835.0, -9999999, 79239.0, 9383.0, -9999999, 50326.0, -9999999, 490.0, 2108.0, -9999999, -9999999, 4077.0, -9999999, -9999999, 8.0, -9999999, -9999999, 7060.0, -9999999, -9999999, 732.0, 89.0, 66.0, 1141.0, -9999999, -9999999, -9999999, 3759.0, 69630.0, -9999999, -9999999, -9999999, 31133.0, 2295.0, -9999999, 5612.0, 7382.0, 17715.0, -9999999, 52.0, 8.0, 500.0, 249.0, 835.0, -9999999, 6204.0, 7393.0, -747.0, -1102.0, 1178.0, -1466.0, 2746.0, 4212.0, -9999999, 1728.0, 1877.0, 26.0, -122.0, -9999999, -9999999, 19.0, 358.0, 703.0, 1061.0, '95.6', '69.3', '724.6', '437.1', '12.8', '18.3', '7.9', '7.9', '7.6', '1.1', '9.1');
(1136, "Column count doesn't match value count at row 1")
107590
003060
019170
122990
090470
171120
123100
068240
089140
004150
038540
141000
160550
003230
009680
033240
095570
001130
112610
005690
003570
041140
033270
241710
089470
003200
035080
088390
040910
038290
016580
040350
200670
057500
004360
002810
011760
000140
114570
033290
000155
025000
013030
006910
228850
004700
079980
102260
002250
001500
insert into newfn2017 values ('001500', 641.0, 1244.0, -22.0, 184.0, -14.0, 25.0, 65.0, 2123.0, 1456.0, 668.0, 1.0, 9.0, 660.0, 158.0, 502.0, -9999999, 502.0, 502.0, -9999999, 70252.0, 2608.0, -9999999, -9999999, 42714.0, 1195.0, -9999999, 659.0, 10577.0, -9999999, -9999999, -9999999, 714.0, -9999999, -9999999, 7287.0, -9999999, -9999999, 61.0, -9999999, 243.0, -9999999, -9999999, -9999999, -9999999, 4194.0, 61798.0, -9999999, -9999999, -9999999, 14644.0, -9999999, 514.0, 4297.0, 1962.0, 37448.0, -9999999, 20.0, 63.0, 369.0, 25.0, -9999999, 660.0, 1130.0, 1838.0, -485.0, -533.0, 464.0, -3848.0, 3448.0, 7296.0, -9999999, 3903.0, 64807.0, 60786.0, -117.0, -9999999, -9999999, -9999999, -13.0, 1212.0, 1199.0, '371.4', '77.6', '731.0', '476.3', '16.1', '26.5', '26.2', '26.2', '12.8', '0.8', '6.0');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('001500', 620.0, 1652.0, 152.0, -413.0, 13.0, -4.0, 159.0, 2179.0, 1497.0, 681.0, 17.0, 6.0, 692.0, 187.0, 506.0, -9999999, 506.0, 506.0, -9999999, 66012.0, 3479.0, -9999999, 38437.0, -9999999, 575.0, -9999999, 836.0, -9999999, 9759.0, -9999999, -9999999, 726.0, -9999999, -9999999, 8589.0, -9999999, -9999999, 83.0, -9999999, 247.0, -9999999, -9999999, -9999999, 2.0, 3278.0, 57788.0, -9999999, -9999999, -9999999, 9766.0, -9999999, 580.0, 3706.0, 1485.0, 39602.0, -9999999, 44.0, 63.0, 151.0, -9999999, -9999999, 692.0, 1787.0, 1795.0, -1573.0, -888.0, 402.0, -793.0, 3969.0, 4762.0, -9999999, 2036.0, 4385.0, 2231.0, -117.0, -9999999, -9999999, -9999999, 757.0, 1199.0, 1956.0, '578.6', '73.9', '702.7', '460.7', '2.6', '2.0', '0.7', '0.7', '11.0', '0.7', '6.1');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('001500', 659.0, 1509.0, -337.0, 466.0, -16.0, 0.0, 247.0, 2529.0, 1545.0, 984.0, 5.0, 6.0, 984.0, 266.0, 718.0, -9999999, 718.0, 718.0, -9999999, 70307.0, 4973.0, -9999999, 46784.0, -9999999, 1034.0, -9999999, 319.0, -9999999, 6450.0, -9999999, -9999999, 1162.0, -9999999, -9999999, 7865.0, -9999999, -9999999, 141.0, -9999999, 237.0, -9999999, -9999999, -9999999, -9999999, 1342.0, 60415.0, -9999999, -9999999, -9999999, 15621.0, -9999999, 523.0, 3593.0, 1412.0, 36843.0, -9999999, 1.0, 67.0, 137.0, 118.0, -9999999, 984.0, 1289.0, 2150.0, -1431.0, -1308.0, 757.0, 4513.0, 7173.0, 2659.0, -9999999, -1983.0, 1043.0, 2894.0, -132.0, -9999999, -9999999, -9999999, 1979.0, 1956.0, 3936.0, '557.0', '77.2', '610.7', '410.5', '16.1', '44.5', '42.1', '34.8', '13.8', '1.1', '7.9');
(1136, "Column count doesn't match value count at row 1")
092230

900300
054670
000430
088130
031980
002000
049180
074430
006380
054950
036630
060720
002630
052260
222800
007700
007810
067160
003560
012320
183490
017960
090460
004130
136480
102280
144510
000250
001880
027050
086390
001250
115180
014620
013990
009580
067390
000390
007860
043370
036530
004440
012690
089030
138490
005950
095660
200230
001460
900260
002900
039570
011040
087010
060300
005680
067000
183190
000680
000540
insert into newfn2017 values ('000540', 42648.0, 41576.0, 1072.0, 24.0, 41.0, 1055.0, 202.0, 853.0, -9999999, 853.0, 111539.0, 2124.0, 1080.0, -9999999, 1693.0, 20.0, 612.0, 22111.0, -9999999, 36428.0, -9999999, -9999999, -9999999, -9999999, 33758.0, -9999999, 936.0, 223.0, 1062.0, -9999999, -9999999, 36.0, 11453.0, 5.0, 105246.0, -9999999, -9999999, -9999999, -9999999, 161.0, 1.0, 100002.0, -9999999, -9999999, 2058.0, -9999999, 1.0, 53.0, 253.0, -9999999, 2713.0, 5.0, 6293.0, 3258.0, 920.0, -9999999, -9999999, 952.0, 1163.0, 9946.0, 6996.0, 2950.0, -9640.0, 5989.0, 15629.0, -9999999, -59.0, 16.0, 22.0, -52.0, -9999999, -9999999, -0.0, 246.0, 220.0, 467.0, '88.7', '5.6', '-5.2', '537.4', '163.7', '163.7', '2.5', '2.0', '36.1', '0.8', '14.4', '86.6', '20.9');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('000540', 41571.0, 40942.0, 628.0, 8.0, 39.0, 598.0, 93.0, 504.0, -9999999, 504.0, 119389.0, 1707.0, 1084.0, -9999999, 2263.0, 31.0, 95.0, 27434.0, -9999999, 41938.0, -9999999, -9999999, -9999999, -9999999, 31683.0, -9999999, 920.0, 239.0, 1085.0, -9999999, -9999999, 198.0, 10708.0, 5.0, 112568.0, -9999999, -9999999, -9999999, -9999999, 169.0, 259.0, 105852.0, -9999999, -9999999, 3154.0, -9999999, 0.0, 53.0, 328.0, -9999999, 2749.0, 5.0, 6820.0, 3258.0, 920.0, -9999999, -9999999, 1027.0, 1615.0, 9235.0, 6110.0, 3125.0, -10239.0, 2198.0, 12437.0, -9999999, 1050.0, 1105.0, 3.0, -52.0, -9999999, -9999999, -0.0, 46.0, 467.0, 512.0, '89.9', '5.7', '-3.1', '-41.4', '-40.9', '-40.9', '1.5', '1.2', '34.6', '0.4', '7.7', '88.9', '23.1');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('000540', 42682.0, 42238.0, 444.0, 14.0, 18.0, 440.0, 56.0, 384.0, -9999999, 384.0, 126485.0, 1810.0, 795.0, -9999999, 2012.0, 40.0, 106.0, 33394.0, -9999999, 44019.0, -9999999, -9999999, -9999999, -9999999, 30561.0, -9999999, 1020.0, 278.0, 1053.0, -9999999, -9999999, 207.0, 11187.0, 5.0, 119366.0, -9999999, -9999999, -9999999, -9999999, 63.0, 189.0, 111342.0, -9999999, -9999999, 3846.0, -9999999, -0.0, 69.0, 374.0, -9999999, 3479.0, 5.0, 7120.0, 3258.0, 920.0, -9999999, -9999999, 994.0, 1947.0, 8127.0, 4815.0, 3312.0, -8586.0, 6167.0, 14752.0, -9999999, 577.0, 1000.0, 370.0, -52.0, -9999999, -9999999, -9999999, 119.0, 512.0, 631.0, '90.0', '5.6', '-0.7', '-29.4', '-23.8', '-23.8', '1.0', '0.9', '33.6', '0.3', '5.5', '90.0', '24.3');
(1136, "Column count doesn't match value count at row 1")
014470
007390
004250
018120
001200
insert into newfn2017 values ('001200', 901.0, 1388.0, 305.0, -229.0, -35.0, 16.0, 60.0, 2407.0, 1692.0, 714.0, 19.0, 22.0, 712.0, 151.0, 561.0, -9999999, 561.0, 561.0, -9999999, 72099.0, 11755.0, -9999999, -9999999, 38445.0, 53.0, 115.0, 87.0, 2182.0, -9999999, 55.0, -9999999, 38.0, -9999999, -9999999, 9796.0, -9999999, -9999999, 295.0, -9999999, 332.0, 163.0, -9999999, -9999999, -9999999, 8784.0, 65019.0, -9999999, -9999999, 6311.0, 7938.0, 44.0, 256.0, -9999999, 10403.0, 32450.0, -9999999, 2.0, 57.0, 221.0, -9999999, 561.0, -9999999, 1893.0, 2721.0, -3146.0, -3413.0, 714.0, 6.0, 724.0, 717.0, -9999999, 3511.0, 11088.0, 7578.0, -9999999, -9999999, -9999999, 14.0, 832.0, 873.0, 1705.0, '94.2', '56.5', '918.4', '31.8', '5.1', '16.5', '22.1', '22.1', '9.8', '0.9', '8.2');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('001200', 948.0, 1616.0, -44.0, -134.0, 9.0, -19.0, 55.0, 2432.0, 1773.0, 659.0, 18.0, 24.0, 653.0, 188.0, 465.0, -9999999, 465.0, 465.0, -9999999, 72503.0, 15826.0, -9999999, 39129.0, -9999999, -9999999, 43.0, 107.0, -9999999, 1521.0, -9999999, -9999999, 38.0, -9999999, -9999999, 8097.0, -9999999, -9999999, 310.0, -9999999, 315.0, 162.0, -9999999, -9999999, -9999999, 6954.0, 64986.0, -9999999, 20426.0, -9999999, -9999999, 18.0, 164.0, -9999999, 12161.0, 26068.0, -9999999, -9999999, 369.0, 192.0, 92.0, 465.0, -9999999, 1714.0, 2534.0, 4131.0, 3776.0, 716.0, -38.0, 63.0, 101.0, -9999999, -2185.0, 8341.0, 10526.0, -9999999, -9999999, -9999999, 5.0, 2274.0, 1705.0, 3979.0, '66.6', '56.1', '864.5', '39.9', '1.0', '-7.8', '-17.2', '-17.2', '8.1', '0.6', '6.4');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('001200', 870.0, 1447.0, 262.0, -179.0, 16.0, -11.0, 56.0, 2460.0, 1878.0, 582.0, 17.0, 38.0, 562.0, 148.0, 413.0, -9999999, 413.0, 413.0, -9999999, 77384.0, 9188.0, -9999999, 51252.0, -9999999, -9999999, 69.0, 274.0, -9999999, 1548.0, -9999999, 60.0, 140.0, -9999999, -9999999, 6330.0, -9999999, -9999999, 533.0, 6.0, 282.0, 161.0, -9999999, -9999999, -9999999, 7539.0, 69488.0, -9999999, 20141.0, -9999999, -9999999, 84.0, 883.0, -9999999, 6977.0, 34444.0, -9999999, -9999999, 297.0, 14.0, 204.0, 413.0, -9999999, 2677.0, 2743.0, -4296.0, -3948.0, 547.0, -217.0, 13.0, 230.0, -9999999, 2243.0, 10303.0, 8001.0, -58.0, -9999999, -9999999, -9999999, -1375.0, 3979.0, 2604.0, '90.7', '68.3', '880.1', '46.9', '1.2', '-11.6', '-11.1', '-11.1', '6.0', '0.6', '5.4');
(1136, "Column count doesn't match value count at row 1")
000860
060250
074600
084010
036030
004060
004970
900270
086520
011370
950140
078070
114120
097955
035150
004840
082740
054050
005160
064260
136490
137940
000020
004380
000970
001940
002030
010690
011160
005389
010955
084680
035890
011280
015360
060150
193250
011930
000180
195870
023160
019210
109740
052330
194370
013520
061460
234080
067830
095340
002450
900250
052710
900120
004540
001790
036190
215360
095270
069110
092200
114810
168490
068790
033560
082920
005960
045100
100220
000320
018310
143240
196170
033160
005110
238090
123690
046210
004890
027390
012610
118000
143210
093920
054780
077500
036890
190510
123420
077360
001270
insert into newfn2017 values ('001270', 450.0, 570.0, 191.0, -34.0, -4.0, -0.0, 146.0, 1319.0, 846.0, 473.0, 29.0, 4.0, 499.0, 122.0, 376.0, -9999999, 376.0, 374.0, 2.0, 13888.0, 1834.0, -9999999, -9999999, 6861.0, 29.0, -9999999, -9999999, 1548.0, -9999999, -9999999, -9999999, 110.0, -9999999, -9999999, 1801.0, -9999999, -9999999, 606.0, -9999999, 173.0, 216.0, -9999999, -9999999, -9999999, 709.0, 9095.0, -9999999, -9999999, -9999999, -9999999, 29.0, -9999999, 2130.0, 536.0, 5324.0, -9999999, -9999999, 1.0, 393.0, 55.0, 376.0, -9999999, 318.0, 640.0, -3010.0, -2956.0, 363.0, -34.0, 54.0, 89.0, -9999999, 2514.0, 1099043.0, 1096410.0, -119.0, -9999999, -9999999, -9999999, -112.0, 840.0, 728.0, '335.8', '60.8', '189.8', '664.3', '23.2', '34.1', '34.7', '34.7', '8.4', '2.7', '8.0');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('001270', 420.0, 659.0, 255.0, -255.0, -0.0, -1.0, 57.0, 1135.0, 762.0, 373.0, 32.0, 8.0, 397.0, 115.0, 282.0, -9999999, 282.0, 290.0, -8.0, 14351.0, 2327.0, -9999999, 7808.0, -9999999, 36.0, -9999999, -9999999, -9999999, 1299.0, -9999999, -9999999, 69.0, -9999999, -9999999, 1347.0, -9999999, -9999999, 600.0, -9999999, 172.0, 215.0, -9999999, -9999999, -9999999, 476.0, 9702.0, -9999999, -9999999, -9999999, -9999999, 38.0, -9999999, 2594.0, 513.0, 5616.0, -9999999, -9999999, 1.0, 372.0, 8.0, 282.0, -9999999, 510.0, 767.0, -281.0, -257.0, 262.0, 23.0, 62.0, 39.0, -9999999, -67.0, 2360449.0, 2360396.0, -119.0, -9999999, -9999999, -9999999, -38.0, 728.0, 689.0, '262.5', '63.7', '208.7', '678.2', '-14.0', '-21.2', '-22.4', '-22.4', '5.9', '2.0', '6.2');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('001270', 263.0, 645.0, 1156.0, -920.0, -0.0, -0.0, 23.0, 1167.0, 807.0, 360.0, 25.0, 6.0, 379.0, 105.0, 274.0, -9999999, 274.0, 275.0, -1.0, 14813.0, 1648.0, -9999999, 8554.0, -9999999, 154.0, 0.0, -9999999, -9999999, 1478.0, -9999999, -9999999, 67.0, -9999999, -9999999, 1415.0, -9999999, -9999999, 603.0, -9999999, 178.0, 212.0, -9999999, -9999999, -9999999, 504.0, 9953.0, -9999999, -9999999, -9999999, -9999999, 154.0, -9999999, 3325.0, 639.0, 4681.0, -9999999, -9999999, 1.0, 387.0, 14.0, 274.0, -9999999, 686.0, 805.0, 310.0, 465.0, 177.0, -97.0, 51.0, 148.0, -9999999, -1067.0, 3640125.0, 3641083.0, -108.0, -9999999, -9999999, -9999999, -521.0, 689.0, 168.0, '221.5', '68.8', '204.8', '713.4', '2.8', '-3.5', '-5.3', '-5.3', '5.9', '1.9', '5.8');
(1136, "Column count doesn't match value count at row 1")
092730

205500
900280
019440
017890
037950
007820
046440
203690
033530
014280
003545
011000
100700
005870
067280
005980
016090
034950
052400
191420
140410
044450
100250
004560
013570
000230
023430
003070
083310
068400
103590
002840
060560
060590
039200
166480
008600
084870
086960
038060
033640
144960
041440
005390
072020
091090
230360
214180
058430
021320
035620
065660
010820
021820
092070
031330
030210
insert into newfn2017 values ('030210', 211.0, 1701.0, 465.0, -9999999, -2.0, -68.0, 19.0, 2327.0, 1900.0, 428.0, 73.0, 80.0, 421.0, 57.0, 363.0, -9999999, 363.0, 360.0, 4.0, 18889.0, 4892.0, 40.0, -9999999, 6222.0, -9999999, 29.0, -9999999, 383.0, -9999999, -9999999, -9999999, 1142.0, -9999999, -9999999, 4039.0, -9999999, -9999999, 132.0, -9999999, 140.0, -9999999, -9999999, 112.0, 0.0, 1758.0, 13986.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 494.0, 2423.0, 9810.0, -9999999, 3.0, 25.0, -9999999, 16.0, 363.0, -9999999, 515.0, 608.0, -3218.0, -2948.0, 134.0, -12.0, 329.0, 341.0, -9999999, 3413.0, 3423.0, 11.0, -0.0, -9999999, -9999999, -1.0, 586.0, 2618.0, 3204.0, '166.7', '35.2', '285.2', '37.2', '21.4', '49.0', '-0.9', '-0.9', '12.8', '2.2', '7.7');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('030210', 259.0, 1754.0, 302.0, -9999999, 3.0, -48.0, 33.0, 2302.0, 1931.0, 371.0, 200.0, 128.0, 443.0, 99.0, 344.0, -9999999, 344.0, 338.0, 6.0, 17507.0, 6500.0, -9999999, 5680.0, -9999999, -9999999, -9999999, -9999999, -9999999, 37.0, -9999999, -9999999, 985.0, -9999999, -9999999, 2823.0, -9999999, -9999999, 138.0, -9999999, 130.0, -9999999, -9999999, 104.0, 0.0, 1110.0, 12239.0, -9999999, -9999999, -9999999, -9999999, 2.0, -9999999, 510.0, 2007.0, 8560.0, -9999999, 4.0, 45.0, -9999999, 39.0, 344.0, -9999999, 631.0, 911.0, 1878.0, 1942.0, 247.0, 263.0, 501.0, 238.0, -9999999, -1250.0, 173.0, 1423.0, -9999999, -9999999, -9999999, 1.0, 1204.0, 3204.0, 4408.0, '140.7', '32.7', '232.3', '47.2', '-1.1', '-13.3', '-6.1', '-6.1', '10.4', '1.9', '6.7');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('030210', 242.0, 1730.0, 313.0, -9999999, -7.0, 9.0, 48.0, 2336.0, 1961.0, 375.0, 196.0, 47.0, 524.0, 22.0, 502.0, -9999999, 502.0, 501.0, 1.0, 28596.0, 4991.0, -9999999, 14701.0, -9999999, -9999999, 44.0, -9999999, -9999999, 35.0, -9999999, -9999999, 1104.0, -9999999, -9999999, 3411.0, -9999999, -9999999, 257.0, 0.0, 143.0, 2062.0, -9999999, 78.0, 33.0, 1738.0, 22792.0, -9999999, -9999999, -9999999, 1011.0, 64.0, -9999999, 2865.0, 2349.0, 14210.0, -9999999, 8.0, 46.0, -9999999, 0.0, 502.0, -9999999, 645.0, 982.0, -5884.0, -5719.0, 183.0, -2102.0, 177.0, 2279.0, -9999999, 5590.0, 5733.0, 142.0, -9999999, -9999999, -9999999, 1.0, -2047.0, 4408.0, 2361.0, '145.2', '51.5', '392.7', '62.0', '1.5', '1.1', '48.4', '48.4', '9.9', '2.2', '9.2');
(1136, "Column count doesn't match value count at row 1")
012700
034300
046140
117580
220630
002360
007660
187420
049070
104480
003460
insert into newfn2017 values ('003460', 87.0, 22.0, 25.0, -9999999, -9999999, -9999999, 36.0, 170.0, 97.0, 73.0, 27.0, 0.0, 99.0, 20.0, 79.0, -9999999, 79.0, 6356.0, 498.0, -9999999, -9999999, 435.0, 152.0, -9999999, -9999999, 4571.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 11.0, -9999999, -9999999, 59.0, -9999999, 3.0, 269.0, -9999999, -9999999, -9999999, 358.0, 1762.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 154.0, 965.0, -9999999, -9999999, -9999999, 329.0, 8.0, 306.0, 4594.0, 1946.0, -103.0, 79.0, -9999999, 48.0, 124.0, -237.0, -234.0, 130.0, 289.0, 3364.0, 3076.0, -9999999, -66.0, 52.0, 11.0, -107.0, -9999999, -9999999, -9999999, 120.0, 202.0, 321.0, '6.8', '81.2', '38.4', '561.2', '4.1', '16.0', '3.0', '3.0', '38.5', '1.2', '1.7');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('003460', 78.0, 16.0, 9.0, -9999999, -9999999, -9999999, 49.0, 151.0, 96.0, 56.0, 19.0, 0.0, 74.0, 14.0, 60.0, -9999999, 60.0, 6247.0, 438.0, -9999999, 3754.0, -9999999, 334.0, -9999999, -9999999, -9999999, 1272.0, -9999999, -9999999, -9999999, -9999999, -9999999, 8.0, -9999999, -9999999, 64.0, -9999999, 4.0, 249.0, -9999999, -9999999, -9999999, 123.0, 1687.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 179.0, 1094.0, -9999999, -9999999, -9999999, 317.0, 1.0, 96.0, 4560.0, 1943.0, -100.0, 60.0, -9999999, 54.0, 130.0, -196.0, -213.0, 114.0, 14.0, 15.0, 2.0, -9999999, 46.0, 133.0, 11.0, -76.0, -9999999, -9999999, -9999999, -40.0, 321.0, 281.0, '4.3', '85.8', '37.0', '556.4', '-11.0', '-23.1', '-23.8', '-23.8', '26.6', '1.0', '1.3');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('003460', 70.0, 12.0, 30.0, -9999999, -9999999, -9999999, 48.0, 160.0, 98.0, 62.0, 14.0, -9999999, 77.0, 15.0, 62.0, -9999999, 62.0, 6209.0, 231.0, -9999999, 3621.0, -9999999, 218.0, -9999999, -9999999, -9999999, 1376.0, -9999999, -9999999, -9999999, -9999999, -9999999, 259.0, -9999999, -9999999, 63.0, -9999999, 4.0, 239.0, -9999999, -9999999, -9999999, 198.0, 1624.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 196.0, 882.0, -9999999, -9999999, 0.0, 338.0, 1.0, 207.0, 4585.0, 1910.0, 89.0, 62.0, -9999999, 52.0, 123.0, -6.0, -15.0, 104.0, -2.0, 0.0, 2.0, -9999999, -317.0, 20.0, 242.0, -95.0, -9999999, -9999999, -9999999, -230.0, 281.0, 51.0, '132.4', '84.0', '35.4', '562.9', '5.9', '12.0', '3.6', '3.6', '30.2', '1.0', '1.4');
(1136, "Column count doesn't match value count at row 1")
060240
049120
025560
004720
229640
038880
104200
069640
090350
001390
200780
066790
097520
015710
016880
000490
024950
009440
006220
insert into newfn2017 values ('006220', 1158.0, 169.0, -35.0, -9999999, 39.0, -122.0, -151.0, 1059.0, 722.0, 337.0, 5.0, 8.0, 334.0, 83.0, 251.0, -9999999, 251.0, 251.0, -9999999, 55629.0, 2679.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 6363.0, -9999999, 496.0, -9999999, -9999999, -9999999, -9999999, 44804.0, -9999999, 389.0, 85.0, 87.0, -9999999, 36.0, -9999999, 691.0, 51581.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 46964.0, 3074.0, -9999999, 43.0, 23.0, -9999999, 48.0, 1430.0, 4048.0, 894.0, 1775.0, -311.0, -857.0, 1087.0, -1133.0, 2840.0, 3974.0, -9999999, 1020.0, 8086.0, 7038.0, -28.0, -9999999, -9999999, -9.0, 107.0, 595.0, 703.0, '95.4', '10.7', '8.0', '-0.1', '-0.1', '7.3', '4.3', '4.3', '16.2', '2.2', '2.5', '0.5', '6.8');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('006220', 1218.0, 148.0, 16.0, -9999999, 34.0, -70.0, -151.0, 1194.0, 837.0, 358.0, 7.0, 13.0, 352.0, 78.0, 274.0, -9999999, 274.0, 274.0, -9999999, 59809.0, 3485.0, -9999999, 0.0, -9999999, -9999999, -9999999, -9999999, -9999999, 6475.0, -9999999, 1197.0, -9999999, -9999999, -9999999, 47354.0, -9999999, 392.0, 102.0, 86.0, -9999999, 21.0, -9999999, 698.0, 55079.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 49405.0, 3651.0, -9999999, 58.0, 24.0, -9999999, 25.0, 1917.0, 4730.0, 912.0, 1943.0, -704.0, -1383.0, 1217.0, -839.0, 2857.0, 3696.0, -9999999, 1023.0, 8581.0, 7512.0, -45.0, -9999999, -9999999, -18.0, 0.0, 703.0, 703.0, '95.9', '9.1', '6.1', '9.2', '3.0', '7.5', '5.7', '5.2', '15.9', '2.2', '2.5', '0.5', '6.3');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('006220', 1177.0, 155.0, 22.0, -9999999, 79.0, -128.0, -149.0, 1156.0, 784.0, 372.0, 28.0, 29.0, 371.0, 91.0, 279.0, -9999999, 279.0, 279.0, -9999999, 61929.0, 3474.0, -9999999, 2.0, -9999999, -9999999, -9999999, -9999999, -9999999, 6101.0, -9999999, 1198.0, -9999999, -9999999, -9999999, 49715.0, -9999999, 463.0, 116.0, 84.0, -9999999, 26.0, -9999999, 750.0, 56952.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 51900.0, 3280.0, -9999999, -9999999, 19.0, -9999999, 71.0, 1683.0, 4977.0, 1078.0, 2061.0, -716.0, -1327.0, 1240.0, 345.0, 4090.0, 3745.0, -9999999, -444.0, 7807.0, 8194.0, -56.0, -9999999, -9999999, 5.0, -181.0, 703.0, 522.0, '95.8', '4.5', '4.0', '1.8', '-25.7', '3.5', '5.0', '5.1', '15.5', '2.0', '2.3', '0.5', '5.8');
(1136, "Column count doesn't match value count at row 1")
014910

001045
007980
002460
060570
004980
035900
005710
065680
071200
023910
001540
014100
002140
086890
001360
048430
950130
053450
194480
063170
121600
002150
004650
003650
012200
002310
095500
080000
066700
065510
042040
004960
199800
016710
102120
042520
073560
048410
037460
075180
063570
043580
002170
092130
101490
096630
011690
094480
043290
052420
130660
038390
054800
014790
016600
insert into newfn2017 values ('016600', 2.0, -5.0, 151.0, 5.0, -9999999, 64.0, -0.0, 218.0, 69.0, 149.0, 0.0, 22.0, 126.0, 30.0, 96.0, -9999999, 96.0, 1421.0, 541.0, -9999999, -9999999, 18.0, -9999999, 19.0, -9999999, 88.0, -9999999, -9999999, -9999999, 166.0, -9999999, -9999999, 227.0, -9999999, -9999999, -9999999, -9999999, 69.0, 213.0, -9999999, -9999999, 2.0, 5.0, -9999999, -9999999, 14.0, -9999999, 59.0, 283.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 233.0, -9999999, -9999999, -9999999, -9999999, 237.0, -17.0, 17.0, 232.0, -2.0, 96.0, -9999999, 105.0, 211.0, 10.0, 0.0, -3.0, -2.0, 0.0, 2.0, -9999999, 542.0, 653.0, 111.0, -9999999, -9999999, -9999999, -9999999, 538.0, 3.0, 541.0, '72.4', '125.7', '276.3', '253.3', '191.5', '86.5', '52.9', '8.8', '11.0');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('016600', 15.0, -5.0, -109.0, -9999999, -9999999, 29.0, -0.0, -71.0, 92.0, -163.0, 0.0, 15.0, -177.0, -38.0, -139.0, -9999999, -139.0, 1301.0, 293.0, -9999999, -9999999, 10.0, -9999999, -9999999, -9999999, 156.0, -9999999, -9999999, -9999999, 33.0, -9999999, -9999999, 303.0, -9999999, -9999999, -9999999, -9999999, 74.0, 311.0, -9999999, 13.0, 1.0, 5.0, -9999999, -9999999, 52.0, -9999999, 50.0, 250.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 185.0, -9999999, -9999999, -9999999, -9999999, 260.0, -17.0, 18.0, 92.0, -235.0, -139.0, -9999999, 181.0, 101.0, -185.0, -243.0, 8.0, -7.0, 0.0, 7.0, -9999999, -5.0, -9999999, 5.0, -9999999, -9999999, -9999999, -9999999, -248.0, 541.0, 293.0, '52.7', '적전', '적전', '적전', '적전', '-8.4', '-161.3', '-10.2', '-12.7');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('016600', 4.0, -7.0, 115.0, -9999999, -9999999, 8.0, -4.0, 116.0, 101.0, 15.0, 54.0, 2.0, 67.0, 16.0, 51.0, -9999999, 51.0, 1332.0, 10.0, -9999999, -9999999, 14.0, -9999999, -9999999, -9999999, 1.0, -9999999, -9999999, -9999999, 95.0, -9999999, -9999999, 347.0, -9999999, -9999999, -9999999, -9999999, 67.0, 414.0, -9999999, 31.0, 17.0, 5.0, -9999999, -9999999, 37.0, -9999999, 292.0, 214.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 160.0, -9999999, -9999999, -9999999, -9999999, 279.0, -17.0, 14.0, 143.0, -252.0, 51.0, -9999999, 143.0, 223.0, -228.0, -257.0, 5.0, -0.0, 1.0, 1.0, -9999999, -31.0, -9999999, 31.0, -9999999, -9999999, -9999999, -9999999, -283.0, 293.0, 10.0, '62.2', '흑전', '흑전', '흑전', '흑전', '2.4', '6.2', '3.9', '4.7');
(1136, "Column count doesn't match value count at row 1")
033500
050110
051780
005800
096640
002300
134380
217730
026890
002880
053300
077970
000040
900040
228340
052790
058400
043610
065150
222110
006370
066910
053980
227840
026040
123860
007720
003480
131030
000700
155660
049950
163560
003160
239610
012170
insert into newfn2019 values ('012170', 314.0, 257.0, 57.0, 165.0, -108.0, -108.0, 20.0, 57.0, 4.0, 284.0, -223.0, -648.0, -2.0, -645.0, -9999999, -645.0, -622.0, -23.0, 568.0, 464.0, 104.0, -9999999, 663.0, 637.0, 26.0, -9999999, -95.0, -111.0, 16.0, -88.0, -645.0, -9999999, 588.0, 26.0, -8.0, -92.0, 4.0, 136.0, 284.0, 148.0, -9999999, -89.0, 98.0, 187.0, -9999999, -9999999, 20.0, 0.0, -21.0, 46.0, 25.0, '72.9', '72.7', '완전잠식', -9999999, '완전잠식', -9999999, '완전잠식', '18.2', '-206.6', '-34.5', '-29.7', '-71.3', '-305.9', -9999999, '0.4', '0.5', '1.5', -9999999);
(1366, "Incorrect double value: '완전잠식' for column `jamoo`.`newfn2019`.`부채비율` at row 1")
024090
039440
020760
018700
042420
029960
041650
004910
236200
221840
064800
008290
217270
091120
006490
067370
02826K
061970
092440
001380
039560
078890
224060
192250
041920
085310
035610
051360
017040
079370
032620
065940
023000
011090
015890
214430
048550
248170
058530
060280
053350
090360
027830
003830
104540
111820
143540
009300
045390
071055
009160
097780
016610
insert into newfn2017 values ('016610', 969.0, 1607.0, 45.0, -9999999, -362.0, -117.0, 78.0, 2220.0, 1996.0, 224.0, 48.0, 21.0, 251.0, 97.0, 154.0, -9999999, 154.0, 44.0, 109.0, 69983.0, 10724.0, 1598.0, -9999999, 29175.0, 88.0, 480.0, -9999999, 1753.0, -9999999, -9999999, -9999999, 43.0, -9999999, -9999999, 18547.0, -9999999, -9999999, 1025.0, -9999999, 249.0, 491.0, -9999999, -9999999, 89.0, 5721.0, 62907.0, 137.0, -9999999, -9999999, 5180.0, 337.0, -9999999, 1359.0, 16764.0, 33432.0, -9999999, 313.0, 9.0, 125.0, 24.0, -9999999, 251.0, 3336.0, 3455.0, -2478.0, -2347.0, 1032.0, 68.0, 494.0, 427.0, -9999999, 1395.0, 2057.0, 657.0, -5.0, -9999999, -9999999, -10.0, 138.0, 3302.0, 3440.0, '110.6', '46.6', '888.9', '190.8', '7.8', '128.3', '4118.9', '4118.9', '2.5', '0.2', '0.7');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('016610', 1154.0, 1836.0, -35.0, -9999999, 66.0, -33.0, 2.0, 2988.0, 2124.0, 864.0, 20.0, 15.0, 870.0, 238.0, 631.0, -9999999, 631.0, 543.0, 88.0, 70432.0, 14495.0, -9999999, 31360.0, -9999999, 116.0, 494.0, -9999999, -9999999, 999.0, -9999999, -9999999, 11.0, -9999999, -9999999, 17413.0, -9999999, -9999999, 1020.0, -9999999, 244.0, 488.0, -9999999, -9999999, 6.0, 3785.0, 62823.0, -9999999, 31.0, -9999999, 6504.0, 412.0, -9999999, 1280.0, 18739.0, 31865.0, -9999999, 455.0, 19.0, 158.0, 33.0, -9999999, 870.0, 2325.0, 3570.0, 1002.0, 626.0, 1062.0, -24.0, 38.0, 62.0, -9999999, -1598.0, 400.0, 1951.0, -47.0, -9999999, -9999999, 0.0, 67.0, 3440.0, 3507.0, '92.9', '46.1', '825.7', '213.5', '34.6', '286.5', '1125.7', '1125.7', '10.2', '0.9', '8.6');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('016610', 1086.0, 1661.0, 285.0, -9999999, 36.0, 22.0, -66.0, 3024.0, 2151.0, 874.0, 32.0, 11.0, 894.0, 310.0, 584.0, -9999999, 584.0, 485.0, 99.0, 84224.0, 13391.0, -9999999, 45691.0, -9999999, 295.0, 1097.0, -9999999, -9999999, 1021.0, -9999999, -9999999, 1.0, -9999999, -9999999, 17409.0, -9999999, -9999999, 1008.0, 55.0, 221.0, 485.0, -9999999, -9999999, -9999999, 3549.0, 76109.0, -9999999, 57.0, -9999999, 11724.0, 497.0, -9999999, 2473.0, 18710.0, 38018.0, -9999999, 574.0, 46.0, 224.0, 48.0, -9999999, 894.0, 3745.0, 4794.0, -7094.0, -7248.0, 1043.0, 61.0, 98.0, 36.0, -9999999, 6060.0, 6503.0, 335.0, -109.0, -9999999, 2.0, 0.0, -82.0, 3507.0, 3425.0, '93.0', '55.8', '937.8', '233.2', '1.2', '1.1', '-10.7', '-10.7', '8.8', '0.8', '7.2');
(1136, "Column count doesn't match value count at row 1")
001530
027710
053590
101330
038870
041590
003280
126600
044340
004310
039980
057030
100840
204990
072470
004200
034590
035000
094280
005430
012160
072870
152550
017900
204630
015260
036560
034810
222420
033170
012030
900100
067630
099320
216050
108380
002820
123410
093190
211270
079950
041460
078140
009310
151860
047770
122640
008350
024800
034940
033320
023760
insert into newfn2017 values ('023760', 454.0, 10.0, 1.0, -9999999, -0.0, -213.0, 1.0, 254.0, 158.0, 96.0, 1.0, 16.0, 81.0, 19.0, 62.0, -9999999, 62.0, 15819.0, 866.0, -9999999, -9999999, 46.0, -9999999, 40.0, -9999999, 904.0, -9999999, -9999999, -9999999, 205.0, -9999999, -9999999, 6877.0, -9999999, -9999999, 121.0, 6506.0, -9999999, -9999999, -9999999, -9999999, 27.0, 18.0, 35.0, -9999999, 4.0, -9999999, 169.0, 13810.0, -9999999, -9999999, -9999999, -9999999, 1.0, -9999999, -9999999, 11758.0, -9999999, 10.0, 3.0, -9999999, 18.0, -20.0, 8.0, 1162.0, -913.0, 62.0, -9999999, 317.0, 47.0, -1246.0, -913.0, -9999999, -431.0, 75.0, 506.0, -9999999, 1208.0, 9019.0, 7778.0, -33.0, -9999999, -9999999, -0.0, -136.0, 786.0, 649.0, '141.3', '-14.0', '-33.8', '-40.1', '-40.1', '7.4', '10.3', '0.4', '3.1');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('023760', 820.0, 28.0, 9.0, -9999999, 1.0, -403.0, -6.0, 449.0, 241.0, 208.0, 23.0, 10.0, 221.0, 53.0, 168.0, -9999999, 168.0, 19342.0, 1210.0, -9999999, 825.0, -9999999, -9999999, -9999999, -9999999, -9999999, 53.0, -9999999, -9999999, 112.0, -9999999, -9999999, 11587.0, -9999999, -9999999, 356.0, 4878.0, -9999999, -9999999, -9999999, -9999999, 27.0, 80.0, 35.0, -9999999, 17.0, -9999999, 163.0, 16785.0, -9999999, -9999999, -9999999, -9999999, 5.0, -9999999, -9999999, 15124.0, -9999999, 15.0, 3.0, 600.0, 18.0, -20.0, -87.0, 1205.0, -3520.0, 168.0, -9999999, 558.0, 70.0, -4176.0, -3520.0, -9999999, 35.0, 112.0, 77.0, -9999999, 3919.0, 12036.0, 8084.0, -33.0, -9999999, -9999999, 0.0, 434.0, 649.0, 1083.0, '206.4', '77.1', '118.0', '171.4', '171.4', '22.3', '14.8', '1.0', '7.4');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('023760', 1050.0, 48.0, 14.0, -9999999, -8.0, -511.0, -29.0, 564.0, 295.0, 269.0, 11.0, 22.0, 258.0, 48.0, 210.0, -9999999, 210.0, 22634.0, 2072.0, -9999999, 979.0, -9999999, -9999999, 6.0, -9999999, -9999999, 34.0, -9999999, -9999999, 0.0, -9999999, -9999999, 14830.0, -9999999, -9999999, 593.0, 3792.0, -9999999, -9999999, -9999999, -9999999, 44.0, 68.0, 29.0, -9999999, 37.0, -9999999, 151.0, 19803.0, -9999999, -9999999, -9999999, -9999999, 5.0, -9999999, -9999999, 18338.0, -9999999, 15.0, 10.0, -9999999, 6.0, -20.0, -108.0, 1375.0, -2491.0, 210.0, -9999999, 645.0, 19.0, -3327.0, -2491.0, -9999999, 102.0, 117.0, 15.0, -9999999, 3256.0, 11462.0, 8165.0, -40.0, -9999999, -9999999, -9999999, 868.0, 1083.0, 1951.0, '80.7', '25.5', '29.0', '25.0', '13.4', '17.0', '15.2', '1.0', '7.8');
(1136, "Column count doesn't match value count at row 1")
136540

014440
000650
003555
005750
066620
058860
068330
006090
002700
052020
087600
048910
009520
005945
043710
069510
069730
000890
082210
023600
019660
024810
014710
013580
035510
002100
047310
204840
067170
020710
900050
039290
040610
025750
096240
017180
011150
900080
900180
003350
043650
047400
032560
159580
063160
089230
039860
111870
234920
037270
013310
096690
041910
173940
018500
066270
040420
032500
099660
001020
089980
066980
054210
075580
138690
022220
049480
003100
004770
064550
067310
060260
031510
046070
208640
049520
047080
037230
105840
065650
109960
117670
035480
001570
094850
147830
058610
060310
061250
051170
000215
189300
112240
140860
041520
149940
126700
058220
002920
054450
122450
016670
014530
106240
129260
003080
225650
066110
042370
018470
039830
185490
036710
069920
039790
160600
009770
026180
056090
101170
078000
068290
194510
004870
043200
001820
084730
005860
000850
067570
233990
225330
065130
028100
093240
071460
009200
137950
025440
033130
002600
014970
033110
017550
131370
040160
096775
021080
180400
025320
103130
064520
008970
004780
060370
003960
012790
030350
020180
008040
050890
007110
024890
053610
900070
056700
143160
005010
122350
170920
008250
214270
091970
057540
050090
058850
036000
083930
149980
067990
048870
106190
059210
045970
155650
205100
019770
142280
215200
128820
071670
071280
027740
040300
127710
014990
053620
049430
145270
009780
149950
049470
079960
206560
058630
005190
210540
065420
054040
053280
009270
189980
006980
027580
011500
002230
081000
208140
004830
123330
216400
014160
053260
161570
019685
007590
241790
009070
036200
131970
080520
004080
133750
094360
088910
084670
156100
049080
059100
036010
084180
147760
080220
031860
004450
066900
058450
015230
038680
049630
069330
011700
042110
079650
160980
053690
047820
050540
024910
099440
216280
030960
049830
003610
092460
001070
039340
045660
058730
108860
021050
085810
229500
092870
013870
123700
016590
002210
092600
066410
100090
023900
095190
123840
207760
019550
000590
069410
045510
054540
083420
048770
006570
056080
038460
144620
036180
018000
078860
000500
001750
insert into newfn2017 values ('001750', 137.0, 166.0, 136.0, -9999999, -9999999, -9999999, 22.0, 461.0, 400.0, 61.0, 10.0, 6.0, 65.0, 16.0, 49.0, -9999999, 49.0, 17167.0, 1436.0, -9999999, -9999999, 13674.0, -9999999, 5.0, -9999999, 1032.0, -9999999, 56.0, -9999999, -9999999, -9999999, -9999999, 414.0, -9999999, -9999999, 155.0, -9999999, 18.0, 9.0, -9999999, -9999999, 17.0, 353.0, 14478.0, -9999999, -9999999, -9999999, -9999999, 7.0, -9999999, 4984.0, 1115.0, 7730.0, -9999999, 92.0, 0.0, 176.0, -9999999, 374.0, 2689.0, 1285.0, -27.0, 49.0, -9999999, 163.0, 297.0, -68.0, -153.0, 126.0, -15.0, 12.0, 27.0, -9999999, 45.0, 92.0, 1.0, -46.0, -9999999, -9999999, -9999999, 3.0, 32.0, 35.0, '37.1', '86.0', '538.4', '306.6', '-10.4', '-31.1', '-29.2', '-29.2', '3.6', '0.4', '1.8');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('001750', 196.0, 293.0, 52.0, -9999999, -9999999, -14.0, 15.0, 542.0, 485.0, 56.0, 13.0, 6.0, 63.0, 16.0, 47.0, -9999999, 47.0, 18447.0, 1469.0, -9999999, 15097.0, -9999999, -9999999, 1.0, -9999999, -9999999, 990.0, -9999999, -9999999, -9999999, -9999999, -9999999, 369.0, -9999999, -9999999, 166.0, -9999999, 13.0, 8.0, -9999999, -9999999, 30.0, 303.0, 15748.0, -9999999, -9999999, -9999999, -9999999, 1.0, -9999999, 4945.0, 886.0, 9314.0, -9999999, 83.0, 0.0, 177.0, -9999999, 343.0, 2699.0, 1284.0, -449.0, 47.0, -9999999, 240.0, 420.0, -478.0, -611.0, 162.0, 57.0, 79.0, 22.0, -9999999, 382.0, 430.0, 2.0, -46.0, -9999999, -9999999, -9999999, -10.0, 35.0, 25.0, '41.6', '87.2', '583.6', '308.0', '17.5', '-7.9', '-5.1', '-5.1', '2.7', '0.3', '1.7');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('001750', 178.0, 617.0, 263.0, -9999999, -0.0, -3.0, 36.0, 1091.0, 795.0, 296.0, 11.0, 17.0, 290.0, 68.0, 222.0, -9999999, 222.0, 18222.0, 1556.0, -9999999, 14747.0, -9999999, -9999999, 7.0, -9999999, -9999999, 1072.0, -9999999, -9999999, -9999999, -9999999, -9999999, 372.0, -9999999, -9999999, 209.0, 0.0, 13.0, 8.0, -9999999, -9999999, -9999999, 237.0, 15275.0, -9999999, -9999999, -9999999, -9999999, 2.0, -9999999, 4272.0, 867.0, 9405.0, -9999999, 89.0, -9999999, 202.0, 2.0, 437.0, 2947.0, 1468.0, -169.0, 222.0, -9999999, 360.0, 519.0, -426.0, -363.0, 194.0, -57.0, 3.0, 61.0, -9999999, 235.0, 271.0, 3.0, -33.0, -9999999, -9999999, -9999999, 9.0, 25.0, 34.0, '42.9', '86.8', '518.3', '345.5', '101.5', '426.4', '376.1', '376.1', '9.5', '1.2', '7.9');
(1136, "Column count doesn't match value count at row 1")
006660
025880
033100
083650
187220
120030
032850
012800
038070
095910
052770
insert into newfn2018 values ('052770', 145.0, 89.0, 55.0, 116.0, -61.0, -61.0, 1.0, 3.0, 4.0, 139.0, -9999999, -198.0, -9999999, -198.0, -88.0, -286.0, -286.0, -9999999, 42.0, 25.0, 17.0, -9999999, 138.0, 138.0, 1.0, -9999999, -97.0, -97.0, -9999999, -44.0, -198.0, -9999999, 165.0, 1.0, -7.0, -42.0, -2.0, -145.0, 5.0, 150.0, -9999999, 153.0, 198.0, 45.0, -9999999, -9999999, -20.0, 0.0, -56.0, 66.0, 10.0, '17.9', '17.9', '완전잠식', -9999999, '완전잠식', -9999999, '완전잠식', '38.3', '-137.2', '-42.2', '-32.9', '-293.7', '완전잠식', -9999999, '1.5', '1.0', '완전잠식', -9999999);
(1366, "Incorrect double value: '완전잠식' for column `jamoo`.`newfn2018`.`부채비율` at row 1")
insert into newfn2019 values ('052770', 38.0, 18.0, 20.0, 41.0, -21.0, -21.0, 0.0, 1.0, 6.0, 5.0, -9999999, -21.0, 0.0, -21.0, -8.0, -29.0, -22.0, -7.0, 86.0, 40.0, 46.0, -9999999, 34.0, 34.0, 0.0, -9999999, 51.0, 51.0, -9999999, -44.0, -21.0, -9999999, 7.0, 5.0, -25.0, -43.0, -1.0, -33.0, 33.0, 66.0, -9999999, 92.0, 107.0, 15.0, -9999999, -9999999, -0.0, 0.0, 14.0, 10.0, 24.0, '116.5', '116.5', '67.0', '40.7', -9999999, -9999999, '59.9', '52.4', '-55.3', '-55.0', '-41.5', '-45.5', '완전잠식', -9999999, '0.6', '0.4', '완전잠식', -9999999);
(1366, "Incorrect double value: '완전잠식' for column `jamoo`.`newfn2019`.`ROE` at row 1")
019540
208370
036670
105550
117930
047560
178780
043100
014130
226350
001340
008260
092220
066590
068930
036690
008870
084650
007330
insert into newfn2017 values ('007330', 421.0, 12.0, 4.0, -9999999, -9999999, 10.0, -9.0, 438.0, 174.0, 265.0, 12.0, 6.0, 271.0, 62.0, 209.0, -9999999, 209.0, 10291.0, 498.0, -9999999, 35.0, -9999999, -9999999, -9999999, 3.0, -9999999, 3.0, 231.0, -9999999, 8368.0, -9999999, 280.0, 21.0, 541.0, -9999999, -9999999, -9999999, 312.0, 7979.0, -9999999, -9999999, -9999999, -9999999, 7645.0, -9999999, -9999999, -9999999, 6.0, 51.0, 20.0, 257.0, 2312.0, 151.0, -9999999, 75.0, -77.0, -1.0, 2164.0, 190.0, -9999999, 335.0, -137.0, 9.0, 146.0, -9999999, -61.0, -9999999, -9999999, -61.0, -9999999, -9999999, -9999999, -8.0, 26.0, 17.0, '1483.8', '16.3', '-6.6', '-19.8', '-19.8', '-2.6', '42.4', '2.0', '9.4');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('007330', 439.0, 22.0, -3.0, -9999999, -9999999, 7.0, -11.0, 454.0, 162.0, 293.0, 29.0, 2.0, 319.0, 75.0, 244.0, -9999999, 244.0, 10481.0, 843.0, -9999999, 53.0, -9999999, -9999999, -9999999, 4.0, -9999999, 0.0, 393.0, -9999999, 8153.0, -9999999, 256.0, 22.0, 383.0, -9999999, -9999999, -9999999, 374.0, 8005.0, -9999999, -9999999, -9999999, -9999999, 7685.0, -9999999, -9999999, 3.0, 7.0, 68.0, 22.0, 221.0, 2476.0, 151.0, -9999999, 77.0, -76.0, -9.0, 2332.0, 33.0, -9999999, 376.0, 32.0, 188.0, 156.0, -9999999, -67.0, -9999999, -9999999, -67.0, -9999999, -9999999, -9999999, -2.0, 17.0, 15.0, '1591.8', '6.8', '10.5', '16.6', '16.6', '1.9', '42.3', '2.4', '10.2');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('007330', 392.0, 6.0, 26.0, -9999999, -9999999, 75.0, -11.0, 489.0, 168.0, 321.0, 23.0, 4.0, 340.0, 94.0, 246.0, -9999999, 246.0, 9954.0, 1490.0, -9999999, 48.0, -9999999, -9999999, -9999999, 5.0, -9999999, 0.0, 428.0, -9999999, 7183.0, -9999999, 261.0, 43.0, 382.0, -9999999, -9999999, -9999999, 114.0, 7300.0, -9999999, -9999999, -9999999, -9999999, 6915.0, -9999999, -9999999, 6.0, 5.0, 73.0, 63.0, 238.0, 2654.0, 151.0, -9999999, 79.0, -75.0, -12.0, 2511.0, 110.0, -9999999, 367.0, -36.0, 53.0, 89.0, -9999999, -73.0, -9999999, 6.0, -67.0, -9999999, -9999999, -9999999, 1.0, 15.0, 16.0, '1708.9', '-5.8', '9.8', '1.0', '1.0', '-5.0', '46.1', '2.4', '9.6');
(1136, "Column count doesn't match value count at row 1")
011785
052290

142210
131290
094840
037330
063760
006405
008700
110570
079660
079970
039230
065950
028080
023450
052220
032800
024120
010960
120115
068150
155960
214680
217950
053700
012280
018290
006340
033540
017510
019570
032790
059090
133820
011560
089010
088800
014940
005305
203400
038160
032080
080530
004100
033180
017650
134780
000300
114630
130580
064480
010100
115310
012860
042510
101390
016740
037760
131390
010280
065530
007120
025820
196490
065450
086040
137400
025550
076610
011330
246690
079190
017680
037350
005360
900110
003310
001080
144630
950110
052300
122690
014580
049800
007540
083640
036090
099830
007610
079940
066670
011810
insert into newfn2017 values ('011810', 18039.0, 17186.0, 853.0, 413.0, 441.0, 441.0, 4759.0, 1655.0, 82.0, 280.0, -9999999, 3346.0, 2.0, 3344.0, -9999999, 3344.0, 3344.0, -9999999, 6275.0, 4758.0, 1518.0, -9999999, 5850.0, 5540.0, 310.0, -9999999, 426.0, 426.0, -9999999, 1003.0, 3344.0, -9999999, 1016.0, 4012.0, 644.0, 993.0, 10.0, 473.0, 912.0, 439.0, -9999999, -962.0, -9999999, 796.0, -167.0, -9999999, -9999999, -36.0, 478.0, 477.0, 955.0, '85.9', '53.1', '1374.5', -9999999, '484.9', '2.0', '6.8', '4.7', '18.6', '2.4', '2.6', '50.1', '완전잠식', '14.4', '2.7', '2.2', '완전잠식', '7.8');
(1366, "Incorrect double value: '완전잠식' for column `jamoo`.`newfn2017`.`ROE` at row 1")
079810
214310
170030
065570
025530
138080
023800
005070
033830
03473K
018620
024840
119650
009155
030270
046310
006880
081580
043340
041930
229000
006805
900130
120240
002720
006125
027040
142760
041020
206400
043090
008800
039420
032960
089850
071850
015590
037070
005620
104040
032040
006140
145210
015020
006050
083660
097870
094820
001620
035290
106520
138360
009320
065170
024880
159910
001810
053290
066130
153490
039310
221980
046390
044380
196300
032940
066310
036170
005030
013810
154040
191410
900090
049550
177350
014570
096610
208860
010040
037440
089530
150440
080010
090730
089150
002200
192390
114450
001260
039010
109860
050120
073110
083470
insert into newfn2018 values ('083470', 185.0, 173.0, 12.0, 19.0, -7.0, -7.0, 7.0, 5.0, 2.0, 27.0, -9999999, -30.0, -0.0, -30.0, -458.0, -488.0, -488.0, -0.0, 323.0, 146.0, 177.0, -9999999, 638.0, 637.0, 1.0, -9999999, -315.0, -315.0, -0.0, -45.0, -488.0, -9999999, 416.0, 17.0, 54.0, -35.0, -10.0, -1.0, 290.0, 290.0, -9999999, 14.0, 481.0, 466.0, -9999999, -9999999, -9999999, 1.0, -31.0, 53.0, 21.0, '22.8', '20.7', '완전잠식', -9999999, '완전잠식', -9999999, '완전잠식', '6.5', '-16.1', '-3.9', '13.0', '-95.5', '완전잠식', '-3.4', '0.4', '0.3', '완전잠식', '41.9');
(1366, "Incorrect double value: '완전잠식' for column `jamoo`.`newfn2018`.`부채비율` at row 1")
insert into newfn2019 values ('083470', 74.0, 69.0, 5.0, 37.0, -32.0, -32.0, 4.0, 9.0, 344.0, 7.0, -9999999, 300.0, -0.0, 300.0, -28.0, 272.0, 272.0, -9999999, 99.0, 88.0, 11.0, -9999999, 54.0, 50.0, 4.0, -9999999, 45.0, 45.0, -9999999, -25.0, 272.0, -9999999, 427.0, 744.0, 39.0, -5.0, -19.0, -9.0, 8.0, 17.0, -9999999, 21.0, 79.0, 58.0, -9999999, -9999999, -9999999, 0.0, -12.0, 21.0, 9.0, '175.2', '165.4', '118.7', -9999999, -9999999, -9999999, '45.7', '6.5', '406.7', '-43.9', '-16.3', '129.0', '완전잠식', '-115.1', '0.4', '0.2', '완전잠식', -9999999);
(1366, "Incorrect double value: '완전잠식' for column `jamoo`.`newfn2019`.`ROE` at row 1")
037370
062860
014190
086670
010170
223310
011320
090080
134580
104110
017000
119850
036810
002760
044960
090850
220250
033200
222980
024830
010470
052670
017370
025950
065560
017480
038950
018680
241690
023350
009460
052900
033230
096040
093320
006740
011080
088790
126870
003547
131180
140520
009730
004090
123040
208710
094170
072130
007190
053160
023810
237720
007630
004140
004270
073070
123750
021040
033340
091590
043220
241520
044060
131760
054220
101240
001210
009810
046940
121800
078130
000157
176750
054940
082850
036640
115500
187270
227420
004740
101730
054090
210120
031310
065350
138070
061040
104120
004590
042500
046110
224110
046120
002410
024070
001840
067900
000910
096300
053950
001560
228760
115610
050960
075130
083550
141020
214330
017250
007370
050860
047920
126640
123570
026940
078935
001000
010240
006890
002070
238120
195990
063440
044480
032540
053050
196450
045060
065710
175140
237750
214610
101000
090740
184230
220180
030790
100660
005670
011420
064820
023150
108675
038110
003780
072990
024900
035200
098120
08537M
000220
208350
221610
032680
051490
102210
001275
056360
085910
008370
136510
039240
002690
038010
001290
insert into newfn2017 values ('001290', 28.0, 101.0, 48.0, -9999999, -9999999, -15.0, 21.0, 182.0, 279.0, -97.0, 49.0, 1.0, -49.0, -1.0, -49.0, 4.0, -44.0, -46.0, 2.0, 8565.0, 2330.0, -9999999, -9999999, 3097.0, -9999999, -9999999, -9999999, 1180.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 742.0, -9999999, -9999999, 5.0, -9999999, 15.0, 38.0, -9999999, -9999999, 7.0, 1149.0, 7162.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 128.0, 1911.0, 4108.0, -9999999, 27.0, -9999999, 183.0, -9999999, -44.0, -9999999, 124.0, 130.0, -1129.0, -1179.0, 46.0, 92.0, 252.0, 160.0, -9999999, 1289.0, 433514.0, 432225.0, -0.0, -9999999, -9999999, -9999999, 248.0, 181.0, 429.0, '38.8', '49.9', '510.8', '118.6', '-14.2', '적지', '적지', '적지', '-21.3', '-0.6', '-3.3');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('001290', 9.0, 89.0, -0.0, -9999999, -9999999, -47.0, 52.0, 102.0, 217.0, -114.0, 11.0, 4.0, -108.0, -14.0, -94.0, -9999999, -94.0, -99.0, 5.0, 4998.0, 697.0, -9999999, 1820.0, -9999999, -9999999, -9999999, -9999999, -9999999, 1099.0, -9999999, -9999999, -9999999, -9999999, -9999999, 346.0, -9999999, -9999999, 3.0, -9999999, 15.0, 602.0, -9999999, -9999999, 5.0, 412.0, 3923.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 425.0, 2906.0, -9999999, 28.0, 1.0, 171.0, -9999999, -94.0, -9999999, 184.0, 109.0, 1463.0, 1444.0, 47.0, 7.0, 11.0, 5.0, -9999999, -1705.0, 350751.0, 352447.0, -9.0, -9999999, -9999999, -9999999, -207.0, 429.0, 222.0, '81.3', '58.4', '364.8', '96.2', '-44.0', '적지', '적지', '적지', '-33.4', '-1.4', '-8.3');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('001290', -5.0, 133.0, 11.0, -9999999, -9999999, -5.0, 32.0, 166.0, 220.0, -54.0, 14.0, 7.0, -47.0, 34.0, -80.0, -9999999, -80.0, -81.0, 0.0, 4714.0, 890.0, -9999999, 969.0, -9999999, -9999999, -9999999, -9999999, -9999999, 1183.0, -9999999, -9999999, -9999999, -9999999, -9999999, 547.0, -9999999, -9999999, 146.0, -9999999, 6.0, 589.0, -9999999, -9999999, 7.0, 378.0, 3184.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 288.0, 2285.0, -9999999, -9999999, 1.0, 237.0, -9999999, -80.0, -9999999, 172.0, 112.0, 158.0, 138.0, 11.0, -41.0, 9.0, 50.0, -9999999, -283.0, 388704.0, 388986.0, -0.0, -9999999, -9999999, -9999999, -175.0, 222.0, 47.0, '190.0', '45.6', '208.1', '60.1', '62.3', '적지', '적지', '적지', '-15.8', '-1.7', '-6.4');
(1136, "Column count doesn't match value count at row 1")
060540
187790
052600
008420
176440
023460
insert into newfn2017 values ('023460', 100.0, -34.0, 45.0, -9999999, -9999999, 6.0, 5.0, 121.0, 108.0, 13.0, 43.0, 9.0, 47.0, 18.0, 29.0, -9999999, 29.0, 29.0, -9999999, 3239.0, 320.0, 25.0, -9999999, 375.0, -9999999, -9999999, -9999999, 76.0, -9999999, 196.0, -9999999, 262.0, -9999999, -9999999, 223.0, -9999999, -9999999, 43.0, 1272.0, -9999999, -9999999, -9999999, -9999999, 26.0, 7.0, -9999999, -9999999, -9999999, 0.0, 414.0, 2216.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 1237.0, -9999999, 1024.0, 1024.0, -9999999, 163.0, 29.0, -9999999, 227.0, 322.0, 115.0, 49.0, 114.0, -67.0, 485.0, 552.0, -9999999, -133.0, 4418.0, 4543.0, -9.0, -9999999, -9999999, -9999999, -37.0, 240.0, 203.0, '10.2', '-41.5', '-73.4', '-8.5', '-8.5', '-4.0', '2.3', '0.9', '2.9');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('023460', 91.0, -28.0, 56.0, -9999999, -9999999, 37.0, -5.0, 152.0, 135.0, 17.0, 22.0, 17.0, 23.0, 15.0, 7.0, -9999999, 7.0, 7.0, -9999999, 3220.0, 367.0, -9999999, 260.0, -9999999, -9999999, -9999999, -9999999, -9999999, 159.0, -9999999, 456.0, 255.0, -9999999, -9999999, 198.0, -9999999, -9999999, 15.0, 1267.0, -9999999, -9999999, -9999999, -9999999, 37.0, 6.0, 13.0, -9999999, 11.0, -9999999, 175.0, 2249.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 1510.0, -9999999, 971.0, 971.0, -9999999, -66.0, 7.0, -9999999, 234.0, 323.0, -82.0, -164.0, 98.0, 200.0, 513.0, 313.0, -9999999, -99.0, 3336.0, 3427.0, -7.0, -9999999, -9999999, 0.0, 35.0, 203.0, 238.0, '5.3', '25.8', '36.6', '-74.6', '-74.6', '-0.6', '2.8', '0.2', '0.7');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('023460', 108.0, -30.0, 231.0, -9999999, -9999999, 25.0, 71.0, 405.0, 194.0, 211.0, 54.0, 43.0, 221.0, 62.0, 159.0, -9999999, 159.0, 154.0, 5.0, 4653.0, 444.0, -9999999, 697.0, -9999999, -9999999, -9999999, -9999999, -9999999, 89.0, -9999999, 389.0, 270.0, -9999999, -9999999, 250.0, -9999999, -9999999, 4.0, 1627.0, -9999999, -9999999, -9999999, -9999999, 313.0, 72.0, 12.0, -9999999, -9999999, -9999999, 484.0, 3555.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 2420.0, -9999999, 1098.0, 1046.0, 52.0, -283.0, 159.0, -9999999, 399.0, 508.0, -364.0, -314.0, 31.0, -45.0, 226.0, 271.0, -9999999, 438.0, 6801.0, 6355.0, -7.0, -9999999, -9999999, 0.0, 111.0, 238.0, 349.0, '14.4', '165.5', '1113.7', '1998.2', '1998.2', '44.5', '12.6', '4.0', '15.3');
(1136, "Column count doesn't match value count at row 1")
003580

019010
042600
068940
197210
insert into newfn2018 values ('197210', 328.0, 270.0, 58.0, 102.0, -43.0, -43.0, 19.0, 196.0, 2.0, 527.0, -9999999, -745.0, -46.0, -699.0, -9999999, -699.0, -683.0, -17.0, 557.0, 437.0, 120.0, -9999999, 720.0, 676.0, 43.0, -9999999, -162.0, -158.0, -4.0, -189.0, -699.0, -9999999, 690.0, 19.0, -146.0, -173.0, -16.0, -432.0, 456.0, 888.0, -9999999, 613.0, 753.0, 140.0, -9999999, -9999999, -9999999, 0.0, -8.0, 31.0, 23.0, '64.6', '64.6', '완전잠식', -9999999, '완전잠식', -9999999, '완전잠식', '17.7', '-227.3', '-13.3', '-11.6', '-142.1', '완전잠식', '-51.0', '0.7', '0.6', '완전잠식', '9.0');
(1366, "Incorrect double value: '완전잠식' for column `jamoo`.`newfn2018`.`부채비율` at row 1")
insert into newfn2019 values ('197210', 184.0, 185.0, -1.0, 65.0, -66.0, -66.0, 13.0, 141.0, 2.0, 316.0, -9999999, -508.0, -16.0, -492.0, -9999999, -492.0, -492.0, -9999999, 310.0, 275.0, 36.0, -9999999, 626.0, 620.0, 6.0, -9999999, -316.0, -316.0, -9999999, -60.0, -502.0, -9999999, 390.0, 7.0, 59.0, -61.0, 0.0, -117.0, 381.0, 498.0, -9999999, 155.0, 296.0, 141.0, -9999999, -9999999, -9999999, 0.0, -22.0, 23.0, 0.0, '44.3', '42.9', '완전잠식', -9999999, '완전잠식', -9999999, '완전잠식', '-0.4', '-276.4', '-35.9', '-31.3', '-113.5', '완전잠식', '-73.4', '0.4', '0.3', '완전잠식', '3.9');
(1366, "Incorrect double value: '완전잠식' for column `jamoo`.`newfn2019`.`부채비율` at row 1")
056000
078650
002290
041190
insert into newfn2017 values ('041190', 1.0, -9999999, -31.0, -9999999, -9999999, 64.0, 3.0, 37.0, 36.0, 1.0, 1.0, 0.0, 1.0, -32.0, 33.0, -9999999, 33.0, 36.0, -9999999, 598.0, 265.0, -9999999, -9999999, 20.0, -9999999, -9999999, -9999999, 25.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 191.0, -9999999, -9999999, 50.0, 1.0, 6.0, -9999999, -9999999, 29.0, -9999999, 9.0, 10.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 588.0, 598.0, -9999999, 159.0, 33.0, -9999999, 51.0, 115.0, 173.0, 142.0, 16.0, -25.0, 0.0, 25.0, -9999999, -38.0, -9999999, 27.0, -11.0, -9999999, -9999999, -9999999, 95.0, 127.0, 222.0, '49.3', '-9.2', '-94.0', '214.0', '214.0', '-1.9', '0.6', '5.5', '5.7');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2018 values ('041190', 3.0, -9999999, -10.0, -9999999, -9999999, 172.0, -9999999, 165.0, 37.0, 129.0, 0.0, 3.0, 125.0, 27.0, 98.0, -9999999, 98.0, 98.0, -9999999, 716.0, 192.0, -9999999, -9999999, 72.0, -9999999, -9999999, -9999999, -9999999, 13.0, -9999999, -9999999, -9999999, -9999999, -9999999, 43.0, -9999999, -9999999, -9999999, -9999999, 385.0, -9999999, -9999999, -9999999, 1.0, 3.0, -9999999, -9999999, 3.0, 0.0, 4.0, 61.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 50.0, -9999999, 654.0, 654.0, -9999999, -92.0, 98.0, -9999999, 55.0, 185.0, -86.0, -118.0, 26.0, -82.0, 97.0, 179.0, -9999999, 35.0, 50.0, -9999999, -15.0, -9999999, -9999999, -0.0, -140.0, 222.0, 82.0, '65.0', '348.4', '24307.3', '195.1', '195.1', '19.6', '68.7', '14.9', '15.8');
(1136, "Column count doesn't match value count at row 1")
insert into newfn2019 values ('041190', 2.0, -9999999, -32.0, -9999999, -9999999, 201.0, -9999999, 171.0, 38.0, 133.0, 0.0, 0.0, 133.0, 26.0, 106.0, -9999999, 106.0, 106.0, -9999999, 831.0, 181.0, -9999999, -9999999, 40.0, -9999999, -9999999, -9999999, -9999999, 13.0, -9999999, -9999999, -9999999, -9999999, -9999999, 10.0, -9999999, -9999999, -9999999, -9999999, 577.0, -9999999, -9999999, -9999999, 3.0, 3.0, -9999999, -9999999, -9999999, 0.0, 4.0, 76.0, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, -9999999, 42.0, -9999999, 755.0, 755.0, -9999999, -9.0, 106.0, -9999999, 89.0, 227.0, 2.0, -29.0, 21.0, -2.0, 121.0, 123.0, -9999999, -9.0, -9999999, 2.0, -8.0, -9999999, -9999999, 0.0, -20.0, 82.0, 61.0, '89.0', '3.6', '3.4', '8.6', '8.6', '16.2', '58.0', '13.8', '15.1');
(1136, "Column count doesn't match value count at row 1")
196700
012340
174880
002710
001550
043910
075970
053110
073490
200470
177830
000760
032820
005420
126880
182360
086830
104460
052460
003720
010770
220100
150840
097800
065690
037400
093520
003010
065500
115570
013000
028040
045890
109820
002680
004410
170790
099220
094970
057680
011300
093230
001470
079000
036260
007770
109070
insert into newfn2019 values ('109070', 458.0, 441.0, 17.0, 77.0, -60.0, -60.0, 5.0, 59.0, 20.0, 68.0, -8.0, -169.0, 0.0, -169.0, 10.0, -160.0, -160.0, -9999999, 274.0, 195.0, 78.0, -9999999, 306.0, 294.0, 12.0, -9999999, -32.0, -32.0, -9999999, -53.0, -169.0, -9999999, 138.0, 30.0, 16.0, -45.0, -8.0, 26.0, 34.0, 9.0, -9999999, 67.0, 91.0, 24.0, -9999999, -9999999, -9999999, -0.0, 40.0, 20.0, 59.0, '66.5', '54.5', '완전잠식', -9999999, '완전잠식', -9999999, '완전잠식', '3.7', '-37.0', '-13.1', '-11.1', '-34.6', '완전잠식', '-54.0', '1.0', '1.0', '완전잠식', '13.9');
(1366, "Incorrect double value: '완전잠식' for column `jamoo`.`newfn2019`.`부채비율` at row 1")
024060
035460
090150
067730
078940
083450
051390
002220
250300
054920
131400
119500
006920
203450
213090
124500
003465
189690
033310
005820
217820
071950
009190
007280
039670
150900
013700
069540
122800
006580
057880
234070
195440
115480
087220
078600
139050
081150
032580
086060
036480
008110
189860
068050
085670
033790
043590
229480
066430
008470
023960
106080
insert into newfn2018 values ('106080', 201.0, 215.0, -14.0, 48.0, -62.0, -62.0, 6.0, 34.0, 21.0, 395.0, -9999999, -463.0, 16.0, -479.0, -8.0, -487.0, -487.0, -0.0, 184.0, 87.0, 96.0, -9999999, 313.0, 293.0, 19.0, -9999999, -129.0, -131.0, 1.0, -55.0, -487.0, -9999999, 487.0, 21.0, -33.0, -54.0, -1.0, -221.0, 182.0, 404.0, -9999999, 268.0, 469.0, 200.0, -9999999, -9999999, -9999999, 0.0, -8.0, 13.0, 5.0, '29.7', '22.8', '완전잠식', -9999999, '완전잠식', -9999999, '완전잠식', '-7.0', '-230.9', '-31.1', '-13.3', '-165.1', '-1106.4', '-40.7', '0.7', '0.8', '4.5', '6.5');
(1366, "Incorrect double value: '완전잠식' for column `jamoo`.`newfn2018`.`부채비율` at row 1")
insert into newfn2019 values ('106080', 132.0, 159.0, -27.0, 30.0, -58.0, -58.0, 3.0, 10.0, 28.0, 37.0, -9999999, -73.0, 0.0, -73.0, -9999999, -73.0, -74.0, 1.0, 188.0, 103.0, 85.0, -9999999, 76.0, 65.0, 11.0, -9999999, 112.0, 112.0, 1.0, -7.0, -73.0, -9999999, 61.0, 23.0, 30.0, -5.0, -2.0, -14.0, 3.0, 17.0, -9999999, 60.0, 152.0, 92.0, -9999999, -9999999, -9999999, -1.0, 38.0, 5.0, 43.0, '160.0', '139.7', '67.5', -9999999, '2.1', -9999999, '59.7', '-20.8', '-55.6', '-43.9', '-32.1', '-39.4', '완전잠식', '-55.0', '0.7', '0.7', '완전잠식', '4.4');
(1366, "Incorrect double value: '완전잠식' for column `jamoo`.`newfn2019`.`ROE` at row 1")
128660
082800
217190
032750
010660
219750
050760
121850
005320
171010
226610
019590
013360
032860
020120
053270
033050
026150
074610
090410
033430
031820
054410
010580
076080
065440
119860
131220
067920
060480
000520
158310
044180
200710
051980
090370
069460
094190
insert into newfn2019 values ('094190', 500.0, 908.0, -408.0, 114.0, -522.0, -522.0, 9.0, 28.0, 19.0, 124.0, -9999999, -646.0, 0.0, -646.0, -9999999, -646.0, -644.0, -2.0, 555.0, 213.0, 342.0, -9999999, 1050.0, 972.0, 78.0, -9999999, -494.0, -493.0, -2.0, 23.0, -646.0, -9999999, 375.0, 12.0, 319.0, 36.0, -14.0, 5.0, 30.0, 25.0, -9999999, -15.0, 207.0, 223.0, -9999999, -9999999, -9999999, -2.0, 10.0, 20.0, 30.0, '21.9', '17.0', '완전잠식', -9999999, '완전잠식', -9999999, '완전잠식', '-81.6', '-129.2', '-104.4', '-94.9', '-70.9', '완전잠식', '-104.5', '0.6', '0.5', '완전잠식', '9.9');
(1366, "Incorrect double value: '완전잠식' for column `jamoo`.`newfn2019`.`부채비율` at row 1")
009180
038620
067010
012620
079170
003680
054300
072770
051630
183350
091580
039020
155900
134790
047440
090710
007460
000950
006110
105740
019990
052190
043360
039740
006200
054180
026260
024740
154030
032980
039610
023790
082660
046970
059120
032280
101160
127120
010420
101670
027970
036120
182690
060900
071090
101930
064090
114190
093380
011390
113810
130740
139670
072950
192410
101140
072520
070590
003925
138610
217880
078350
105330
238500
021650
048470
019180
048830
153460
091340
012600
204690
005255
115440
038530
030720
141070
036620
093640
053660
insert into newfn2019 values ('053660', 1042.0, 1232.0, -191.0, 120.0, -311.0, -311.0, 2.0, 72.0, 9.0, 298.0, -4.0, -673.0, -9999999, -673.0, -9999999, -673.0, -673.0, -9999999, 1340.0, 340.0, 1001.0, -9999999, 1428.0, 1343.0, 84.0, -9999999, -87.0, -87.0, -9999999, -117.0, -673.0, -9999999, 403.0, 3.0, 218.0, -55.0, -62.0, 268.0, 486.0, 218.0, -9999999, -154.0, 309.0, 463.0, -9999999, -9999999, -9999999, -0.0, -2.0, 4.0, 2.0, '25.3', '18.4', '완전잠식', -9999999, '완전잠식', -9999999, '완전잠식', '-18.3', '-64.7', '-29.8', '-23.2', '-38.7', '-282.5', '-39.6', '0.6', '0.7', '4.4', '22.5');
(1366, "Incorrect double value: '완전잠식' for column `jamoo`.`newfn2019`.`부채비율` at row 1")
214870

023440
206950
123260
065770
049720
070300
100030
025890
054930
000440
109080
092300
000105
200580
236340
045520
058370
005450
004920
094940
064290
052860
001465
204210
060380
009470
140890
212560
094860
222810
134060
219130
050320
044990
103230
016920
101400
073010
009140
043260
009620
021880
194610
101680
029480
007530
008500
178600
038340
077280
015540
002355
131090
131100
148250
044780
080580
089890
130500
221800
073540
033250
119830
098660
025870
045340
054340
002870
153360
001420
215050
054630
058110
080470
001770
045300
172580
099340
051380
081970
232680
010600
212310
023770
024940
088290
091440
078590
232360
156170
096350
004365
101360
053060
232140
058420
067770
086250
019490
240340
121890
003475
026910
013720
256090
011230
024850
099520
036500
042940
073190
073640
127160
071970
insert into newfn2017 values ('071970', 1852.0, 1707.0, 145.0, 141.0, 4.0, 4.0, 6987.0, 324.0, 688.0, 320.0, -9999999, 7035.0, 2.0, 7033.0, 321.0, 7355.0, 7355.0, -9999999, 7443.0, 2237.0, 5206.0, -9999999, 5988.0, 3162.0, 2825.0, -9999999, 1456.0, 1456.0, -9999999, 74.0, 7355.0, -9999999, 750.0, 8031.0, 136.0, 209.0, -135.0, -389.0, 364.0, 753.0, -9999999, -76.0, 193.0, 268.0, -0.0, -9999999, -9999999, -0.0, -391.0, 712.0, 321.0, '70.8', '48.8', '411.4', '136.1', '28.5', '0.0', '19.6', '7.8', '379.8', '0.2', '5.2', '92.3', '완전잠식', '0.3', '0.2', '0.2', '완전잠식', -9999999);
(1366, "Incorrect double value: '완전잠식' for column `jamoo`.`newfn2017`.`ROE` at row 1")
056730
insert into newfn2019 values ('056730', 72.0, 70.0, 3.0, 38.0, -35.0, -35.0, 7.0, 32.0, 1.0, 195.0, -7.0, -262.0, 0.0, -262.0, -52.0, -314.0, -313.0, -1.0, 282.0, 73.0, 209.0, -9999999, 313.0, 312.0, 1.0, -9999999, -31.0, -33.0, 2.0, -25.0, -314.0, -9999999, 287.0, 8.0, 22.0, -13.0, -12.0, -152.0, 91.0, 243.0, -9999999, -70.0, 59.0, 129.0, -9999999, -1.0, -9999999, -9999999, -249.0, 265.0, 16.0, '23.2', '23.0', '완전잠식', -9999999, '완전잠식', -9999999, '완전잠식', '3.6', '-362.3', '-48.5', '-39.7', '-66.2', '-253.3', '-27.7', '0.2', '0.2', '0.6', '2.2');
(1366, "Incorrect double value: '완전잠식' for column `jamoo`.`newfn2019`.`부채비율` at row 1")
232270
002025
089790
123010
087730
198940
069140
199290
085980
230980
246250
233190
241510
080440
051160
253840
073570
095300
202960
116100
242350
099410
115530
225850
086220
228180
008830
002420
224810
066830
010640
008775
222670
186230
insert into newfn2017 values ('186230', 438.0, 368.0, 70.0, 38.0, 33.0, 33.0, 5.0, 17.0, 1.0, 1.0, -1.0, 20.0, 4.0, 16.0, -9999999, 16.0, 17.0, -0.0, 547.0, 221.0, 326.0, -9999999, 406.0, 259.0, 147.0, -9999999, 141.0, 133.0, 9.0, 20.0, 16.0, -9999999, 40.0, 14.0, -8.0, 35.0, -15.0, -105.0, 8.0, 113.0, -9999999, 55.0, 203.0, 148.0, -9999999, -9999999, -9999999, -0.0, -30.0, 55.0, 25.0, '85.2', '49.3', '287.7', '926.5', '222.4', '2.5', '25.8', '16.0', '4.7', '7.4', '11.3', 'N/A(IFRS)', 'N/A(IFRS)', 'N/A(IFRS)', 'N/A(IFRS)', 'N/A(IFRS)', 'N/A(IFRS)', 'N/A(IFRS)');
(1366, "Incorrect double value: 'N/A(IFRS)' for column `jamoo`.`newfn2017`.`ROA` at row 1")
199150
208850
112190
139200
096870
060230
232290
151910
224760
062580
064850
001140
258250
140910
232530
033600
167380
191600
000087
222390
256940
226850
159650
243870
225220
215570
242420
000075
145995
126340
158300
014915
138290
200350
226400
020400
005257
225570
005725
140290
001685
135160
235090
239890
009415
230240
004255
199870
004135
220110
086460
076340
005745
004105
217620
227950
058970
211050
251280
009835
189700
222080
242040
219860
251960
217600
198440
003495
215790
232830
218410
260970
120780
222160
221950
256840
221200
218710
219420
252370
007815
148780
226340
219960
250060
245030
223220
234100
083570
083600
083590
083580
215750
194860
219550
230400
204620
136660
246830
insert into newfn2017 values ('246830', 41.0, -9999999, 41.0, 49.0, -8.0, 0.0, 1.0, 0.0, 1.0, -1.0, -11.0, -9999999, -11.0, -9999999, -11.0, 12.0, 7.0, 6.0, -9999999, 22.0, 22.0, -9999999, -9999999, -10.0, 10.0, -9999999, 47.0, -1.0, -9999999, -65.0, -2.0, -11.0, -9999999, 9.0, -9999999, -1.0, -2.0, -9999999, -0.0, -9999999, 0.0, -9999999, 1.0, 2.0, 1.0, -9999999, -9999999, -9999999, -9999999, -1.0, 1.0, 0.0, '30.4', '완전잠식', -9999999, '완전잠식', -9999999, '완전잠식', '100.0', '-26.1', '-18.6', '-14.7', '-74.5', '완전잠식', '-136.8', '2.9', '2.1', '완전잠식', '33.8');
(1366, "Incorrect double value: '완전잠식' for column `jamoo`.`newfn2017`.`부채비율` at row 1")
204440
173130
107640
203650
007575
252940
insert into newfn2017 values ('252940', 6.0, 4.0, 2.0, 11.0, -9.0, 0.0, 1.0, 3.0, 4.0, -9999999, -11.0, -9999999, -11.0, -9999999, -11.0, 4.0, 2.0, 2.0, -9999999, 25.0, 21.0, 4.0, -9999999, -21.0, 11.0, -9999999, 7.0, -9999999, -9999999, -39.0, 0.0, -11.0, -9999999, 7.0, 3.0, 7.0, 0.0, -9999999, 15.0, 16.0, 2.0, -9999999, -15.0, 6.0, 21.0, -9999999, -9999999, -9999999, -9999999, 0.0, 0.0, 0.0, '10.2', '완전잠식', -9999999, '완전잠식', -9999999, '완전잠식', '31.0', '-178.6', '-142.9', '-102.4', '-80.7', '완전잠식', -9999999, '0.5', '0.2', '완전잠식', -9999999);
(1366, "Incorrect double value: '완전잠식' for column `jamoo`.`newfn2017`.`부채비율` at row 1")
204650
204760
135270
205470
114920
215380
215090
214150
103660
052270
240540
207930
092590
223040
224020
215580
252500
197140
217320
226360
245450
068875
230490
250930
225590
189350
239340
002005
140660
083610
083620
235010
217810
219580
121060
021045
260490
217500
225430
165270
254120
insert into newfn2017 values ('254120', 156.0, 104.0, 52.0, 50.0, 2.0, 2.0, 1.0, 10.0, 0.0, 15.0, -9999999, -21.0, -4.0, -17.0, -9999999, -17.0, -17.0, -9999999, 147.0, 85.0, 62.0, -9999999, 125.0, 81.0, 45.0, -9999999, 22.0, 22.0, -9999999, 3.0, -17.0, -9999999, 36.0, 4.0, -10.0, 5.0, -2.0, -13.0, 7.0, 20.0, -9999999, 8.0, 57.0, 50.0, -9999999, -9999999, -9999999, -9999999, -2.0, 10.0, 8.0, '105.9', '49.8', '564.6', '41.2', '345.6', '0.5', '15.1', '33.1', '-13.4', '1.2', '7.2', 'N/A(IFRS)', 'N/A(IFRS)', 'N/A(IFRS)', 'N/A(IFRS)', 'N/A(IFRS)', 'N/A(IFRS)', 'N/A(IFRS)');
(1366, "Incorrect double value: 'N/A(IFRS)' for column `jamoo`.`newfn2017`.`ROA` at row 1")
003535
019175
000885
001525
226440
258540
225440
001795
006345
206660
149010
215480
218150
232330
014825
000225
083370
083390
083350
220260
083380
083360
189330
084695
001689
210610
004545
001515
091270
insert into newfn2017 values ('091270', 219.0, 170.0, 49.0, 102.0, -53.0, -9999999, 8.0, 5.0, 15.0, -9999999, -71.0, -9999999, -71.0, -9999999, -71.0, 16.0, 12.0, 4.0, -9999999, 222.0, 214.0, 8.0, -9999999, -206.0, 37.0, -9999999, -9999999, 3.0, -9999999, -246.0, 29.0, -71.0, -9999999, 33.0, 2.0, 70.0, 29.0, -9999999, 5.0, 7.0, 3.0, -9999999, -35.0, 156.0, 191.0, -9999999, -9999999, -9999999, -0.0, -1.0, 6.0, 6.0, '5.5', '완전잠식', -9999999, '완전잠식', -9999999, '완전잠식', '22.2', '-32.4', '-24.4', '-23.5', '-127.9', '완전잠식', -9999999, '3.9', '1.0', '완전잠식', -9999999);
(1366, "Incorrect double value: '완전잠식' for column `jamoo`.`newfn2017`.`부채비율` at row 1")
208890
215100
001745
012205
18064K
002995
207720
014285
004565
208870
000145
179720
016385
060910
000725
185190
189540
247300
099350
00781K
005965
090355
010145
001065
004835
001527
001755
003415
004985
004415
003075
011155
000995
007197
084440
001067
242850
244880
002785
000545
000325
001799
008355
032685
013367
000547
003419
002787
004989
144740
001529
000227
009275
004987
183410
090970
000327
110660
090980
090990
091000

In [33]:
import collector
import pandas as pd
import OpenDartReader
import dart_fss

In [34]:
dart_fss.set_api_key('abeae84cda5efbd4511011450af0c4aa6603d140')
crp_list = dart_fss.get_corp_list()

Output()

Output()

In [35]:
code = '032830'
error = crp_list.find_by_stock_code(code)
fs_se = error.extract_fs(bgn_de='20170930', end_de='20200301', separate=True, report_tp= ['quarter'])
cols = fs_se[1].columns
selected_cols = [c[0] if c[0][:2]=='20' else c[1] for c in cols]
fs = fs_se[1]
fs.columns = selected_cols

Quarterly reports:   0%|          | 0/5 [00:00<?, ?report/s]

AttributeError: 'NoneType' object has no attribute 'columns'

In [44]:
fs_se = error.extract_fs(bgn_de='20170930', end_de='20200301', separate=True, report_tp= ['quarter'])

Quarterly reports:   0%|          | 0/5 [00:00<?, ?report/s]

In [61]:

fs_se = error.extract_fs(bgn_de='20170930', end_de='20200301', separate=False, report_tp= ['quarter'])
cols = list(fs_se[3].columns)
selected_cols = [c[0] if c[0][:2]=='20' else c[1] for c in cols]
fs = fs_se[3]
fs.columns = selected_cols
fs[fs['label_ko'].str.contains('당기')]

Quarterly reports:   0%|          | 0/5 [00:00<?, ?report/s]

,label_ko,20190101-20190930,20190101-20190331,20180101-20181231,20180101-20180930,20180101-20180331,20170101-20171231,20170101-20170930,20170101-20170331,20160101-20161231,20160101-20160930,20150101-20151231
2,가.당기순이익,"1,033,308,000,000.0","469,584,000,000.0","1,733,710,000,000.0","1,788,388,000,000.0","415,840,000,000.0","1,263,207,000,000.0","1,343,844,000,000.0","594,772,000,000.0","2,149,956,000,000.0","2,135,240,000,000.0","1,209,573,000,000.0"

In [84]:
test._setMaria()
test._setDart()
params = [['label_ko', '가.당기순이익'],
          ['label_ko', '당기순이익']
            ]
want_list = ['20170101-20170930', '20180101-20180930', '20190101-20190930']
code = '032830'
test.loopDart(code, fs, params, 'dangi3q', want_list)

In [64]:
fs[fs['label_ko'].str.contains('당기')]

,label_ko,20190101-20190930,20190101-20190331,20180101-20181231,20180101-20180930,20180101-20180331,20170101-20171231,20170101-20170930,20170101-20170331,20160101-20161231,20160101-20160930,20150101-20151231
2,가.당기순이익,"1,033,308,000,000.0","469,584,000,000.0","1,733,710,000,000.0","1,788,388,000,000.0","415,840,000,000.0","1,263,207,000,000.0","1,343,844,000,000.0","594,772,000,000.0","2,149,956,000,000.0","2,135,240,000,000.0","1,209,573,000,000.0"

In [73]:
selected_params = params
data_list = None
idx = 0
while True:
    if (data_list is None) == False:
        break
    if idx>=len(selected_params):
        break
    data_list = test.getDartList(fs, selected_params[idx][0], selected_params[idx][1], want_list=want_list)
    idx += 1
if (data_list is None) == False:
    data_list = [code] + data_list
    test.maria.insertData(tablename, tuple(data_list))
    test.maria.commitDB()

In [76]:
test.getDartList(fs, selected_params[0][0], selected_params[0][1], want_list=want_list)

In [85]:
fs_list = list(map(int, list(fs[fs['label_ko'] == '가.당기순이익'][want_list].iloc[0])))
fs_list

KeyError: 'label_ko'

In [86]:
fs

,rcept_no,reprt_code,bsns_year,corp_code,sj_div,sj_nm,account_id,account_nm,account_detail,thstrm_nm,thstrm_amount,frmtrm_nm,frmtrm_amount,ord,thstrm_add_amount,frmtrm_q_nm,frmtrm_q_amount,frmtrm_add_amount
0,20191114001273,11014,2019,00126380,BS,재무상태표,ifrs-full_CurrentAssets,유동자산,-,제 51 기 3분기말,186042134000000,제 50 기말,174697424000000,1,NaN,NaN,NaN,NaN
1,20191114001273,11014,2019,00126380,BS,재무상태표,ifrs-full_CashAndCashEquivalents,현금및현금성자산,-,제 51 기 3분기말,26604994000000,제 50 기말,30340505000000,2,NaN,NaN,NaN,NaN
2,20191114001273,11014,2019,00126380,BS,재무상태표,dart_ShortTermDepositsNotClassifiedAsCashEquiv...,단기금융상품,-,제 51 기 3분기말,69476971000000,제 50 기말,65893797000000,3,NaN,NaN,NaN,NaN
3,20191114001273,11014,2019,00126380,BS,재무상태표,-표준계정코드 미사용-,단기상각후원가금융자산,-,제 51 기 3분기말,4021901000000,제 50 기말,2703693000000,4,NaN,NaN,NaN,NaN
4,20191114001273,11014,2019,00126380,BS,재무상태표,ifrs-full_CurrentFinancialAssetsAtFairValueThr...,단기당기손익-공정가치금융자산,-,제 51 기 3분기말,1842611000000,제 50 기말,2001948000000,5,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,20191114001273,11014,2019,00126380,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|지배기업 소유주지분,제 51 기 3분기,255403450000000,NaN,NaN,16,NaN,제 50 기 3분기,234476380000000,NaN
188,20191114001273,11014,2019,00126380,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|지배기업 소유주지분|기타자본항목,제 51 기 3분기,-1659305000000,NaN,NaN,16,NaN,제 50 기 3분기,-12453349000000,NaN
189,20191114001273,11014,2019,00126380,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|지배기업 소유주지분|이익잉여금 [member],제 51 기 3분기,251761348000000,NaN,NaN,16,NaN,제 50 기 3분기,241628322000000,NaN
190,20191114001273,11014,2019,00126380,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|지배기업 소유주지분|자본금 [member],제 51 기 3분기,897514000000,NaN,NaN,16,NaN,제 50 기 3분기,897514000000,NaN
191,20191114001273,11014,2019,00126380,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|지배기업 소유주지분|주식발행초과금,제 51 기 3분기,4403893000000,NaN,NaN,16,NaN,제 50 기 3분기,4403893000000,NaN